<!DOCTYPE html>
<html lang="en" data-ng-app="app">
<head >
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <!-- Title and other stuffs -->
  <title>Ilchi</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
  <!-- Stylesheets -->
  <link href="/css/fr/bootstrap.css" rel="stylesheet">
  <!-- Pretty Photo -->
  <link href="/css/fr/prettyPhoto.css" rel="stylesheet">
  <!-- Flex slider -->
  <link href="/css/fr/flexslider.css" rel="stylesheet">
  <!-- Font awesome icon -->
  <link rel="stylesheet" href="/css/fr/font-awesome.css">
  <!-- Parallax slider -->
  <link rel="stylesheet" href="/css/fr/slider.css">
  <!-- Refind slider -->
  <link rel="stylesheet" href="/css/fr/refineslide.css">
  <!-- Main stylesheet -->
  <link href="/css/fr/style.css" rel="stylesheet">
  <!-- Stylesheet for Color -->
  <!-- <link href="/css/fr/red.css" rel="stylesheet"> -->
  <link href="/css/fr/inline.css" rel="stylesheet">

  <link href="/css/fr/parallax.css" rel="stylesheet">


  <link href="/css/slider/skdslider.css" rel="stylesheet">

  <link rel="stylesheet" href="/css/dist/css/superfish.css" media="screen">



  <link href="/css/fr/menumaker.css" rel="stylesheet">

  <script type="text/javascript" src="../addons/bootstrap/jquery.smartmenus.bootstrap.js"></script>

  <!-- CAMERA -->

  <!-- HTML5 Support for IE -->
        <!--[if lt IE 9]>
        <script src="js/html5shim.js"></script>
        <![endif]-->

        <!-- Favicon -->
        <link rel="shortcut icon" href="img/favicon/favicon.png">

        <script src="/js/dist/js/jquery.js"></script>
        <script src="/js/dist/js/hoverIntent.js"></script>
        <script src="/js/dist/js/superfish.js"></script>
        <script>

            (function ($) { //create closure so we can safely use $ as alias for jQuery

              $(document).ready(function () {

                    // initialise plugin
                    var example = $('#example').superfish({
                        //add options here if required
                      });

                    // buttons to demonstrate Superfish's public methods
                    $('.destroy').on('click', function () {
                      example.superfish('destroy');
                    });

                    $('.init').on('click', function () {
                      example.superfish();
                    });

                    $('.open').on('click', function () {
                      example.children('li:first').superfish('show');
                    });

                    $('.close').on('click', function () {
                      example.children('li:first').superfish('hide');
                    });
                  });

            })(jQuery);



          </script>



          <link rel="shortcut icon" href="/img/favicon/favicon.png">




          <style type="text/css">

            .navbar1
            {
              width: 112px;
            }

            .slider-wrapper
            {

              width:100%;
              height: 350px;

            }
            .featured-wrapper
            {
              padding-top: 10px;
              float: left;
              width:497px;
              height: 280px;
            }
            .project-wrapper
            {
              padding-top: 10px;
              float: left;
              width:497px;
              height: 280px;
            }
            .featured-image
            {
              position: relative;
              height: 290px;
              width: 100%;
              overflow: hidden;
              background-size: cover;
              background-position: center center;
              float:left;
              margin: 0px 10px 10px 0px;
            }



            .list-image
            {
              float: left;
              width:225px;
              height:140px;
              position: relative;
              overflow: hidden;
              background-size: cover;
              background-position: center center;
              float:left;
              margin: 0px 0px 10px 10px;
            }


            @media screen and (max-width:950px) {
             .slider-wrapper
             {
              width:497px;
              height: 350px;
              margin-left: auto;
              margin-right: auto;

            }

            .project-wrapper
            {
              padding: 10px;
              float: left;
              width:497px;
              height: 280px;
              margin-top: 20px;
            }
          }

          @media screen and (max-width:500px) {

            .featured-wrapper
            {
              padding: 10px;
              float: left;
              width:100%;
              height: 100%;
            }
            .slider-wrapper
            {
              width:100%;
              height: 350px;
              margin-left: auto;
              margin-right: auto;

            }

            .project-wrapper
            {
              padding: 10px;
              float: left;
              width:100%;
              height: 100%;
              margin-top: 20px;
            }



          }
          .sidebarimage {
            height: 160px;
            width: 100%;
            overflow: hidden;
            background-size: cover;
            background-position: center center;
            float:left;
            margin: 0px 10px 10px 0px;
          }

          .pagination1>.active>a, .pagination1>.active>span, .pagination1>.active>a:hover, .pagination1>.active>span:hover, .pagination1>.active>a:focus, .pagination1>.active>span:focus {
            z-index: 2;
            color: #fff;
            cursor: default;
            background: url('/images/number.png');
          }
          .pagination1>li a{
            position: relative;
            float: left;
            padding: 6px 12px;
            margin-left: -1px;
            line-height: 1.428571429;
            text-decoration: none;
            background-color: #fff;
          }
          .pagings{
            float: right;
            margin-right: 30px;
          }
          .pagings ul li{
            display: inline;
            list-style: none;
          }
        </style>
      </head>

      <body ng-controller="indexMainCtrl">
        <!-- Header starts -->
        <header>

          <div class="content">
            <div class="container" >
              <div class="socials">
                <div class="headicon">
                  <a href="#"><img src="images/f.png"></a>
                  <a href="#"><img src="images/t.png"></a>
                  <a href="#"><img src="images/g.png"></a>
                </div>

              </div>
              <div class="row">
                <div class="col-md-2">
                  <div class="logo">
                    <a href="">
                      <img src="images/headerlogo.png">
                    </a>
                  </div>
                  <div style="clear:both;"></div>
                </div>

                <div class="col-md-9 fullw menusub" style="margin-top:-45px;">
                  <div class="navbar navbar-default bordermenu menuwidth" role="navigation" style="">


                    <div class="collapse navbar-collapse">
                      <ul class="nav navbar-nav indexmenufont">
                        <li class="navbar1">
                          <a href="#" class="dropdown-toggle click2 "  data-hover="dropdown"  >Meet Ilchi </a>
                          <ul class="dropdown-menu multi-level">
                            <li><a href="/page/index/Who-is-Ilchi-Lee">About Ilchi Lee</a></li>
                            <li><a href="/gallery/index">Gallery</a></li>
                            <li><a href="#">Ilchi Lee’s Timeline</a></li>
                            <li><a href="/calendar">Schedule</a></li>
                            <li><a href="/video">Video</a></li>
                          </ul>
                        </li>
                        <li  class="navbar1">
                          <a href="#" class="dropdown-toggle click2 " data-hover="dropdown" >Principles</a>
                          <ul class="dropdown-menu multi-level">
                            <li><a href="/page/index/Self-Development-Guidelines">Self-Development Guidelines</a></li>
                            <li><a href="/page/index/Awakened-Brain">Awakened Brain</a></li>
                            <li><a href="/page/index/Energy-Principle">Energy Principle</a></li>
                            <li><a href="/page/index/Earth-Citizenshi">Earth Citizenship</a></li>
                            <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Korean Heritage</a></li>
                          </ul>
                        </li>
                        <li  class="navbar1">
                          <a href="#" class="dropdown-toggle click2" data-hover="dropdown" >Projects</a>
                          <ul class="dropdown-menu multi-level">
                            <li><a href="/page/index/Projects">Multimedia</a></li>
                            <li><a href="/page/index/Projects" class="dropdown-toggle" data-toggle="dropdown">Humanitarian Movements</a> </li>
                            <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Organizations Founded</a> </li>
                          </ul>
                        </li>
                        <li  class="navbar1">
                          <a href="#" class="dropdown-toggle click2" data-hover="dropdown" >Publication</a>
                          <ul class="dropdown-menu multi-level">
                            <li><a href="/publication/index/1">Books</a></li>
                            <li><a href="/publication/index/2">CDs</a></li>
                            <li><a href="/publication/index/3">Related Products</a></li>
                          </ul>
                        </li>
                        <li  class="navbar1">
                          <a  href="#" class="dropdown-toggle click2 " data-hover="dropdown" >Post</a>
                          <ul class="dropdown-menu multi-level">
                            <li><a href="/post/index">Latest Posts</a></li>
                            <li><a href="/post/category/Journal">Journal</a></li>
                            <li><a href="/post/category/News">News</a></li>
                            <li><a href="/post/category/Video Clips">Video Clips</a></li>
                          </ul>
                        </li>
                        <li class="navbar1">
                          <a  href="" class="dropdown-toggle click2" data-hover="dropdown">Contact</a>
                          <ul class="dropdown-menu multi-level">
                            <li><a href="/contact/contactus">CONTACT US</a></li>
                            <li><a href="#">CHOOSE A COUNTRY</a></li>
                            <li><a href="/contact/termsandconditions">TERMS & CONDITION</a></li>
                            <li> <a href="#">RSS </a></li>
                          </ul>
                        </li>
                      </ul>
                    </div><!--/.nav-collapse -->
                  </div>
                </div>


                <!-- toogle menu -->
                <div class="container-fluid">
                  <div class="mob-logo"  style="width:115px;margin:auto;padding-top:5px;"><a href=""><img src="/images/headerlogo.png" style="width:115px;"></a></div>
                  <div class="mobileMenu mobileMenu2">
                    <nav role="navigation" class="navbar navbar-default">
                      <!-- Brand and toggle get grouped for better mobile display -->
                      <div class="navbar-header">
                        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                        </button>
                        <a href="" class="navbar-brand">Ilchi Lee</a>
                      </div>

                      <!-- Collection of nav links and other content for toggling -->
                      <div id="navbarCollapse" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-nav2">
                          <li>
                            <a class="btn dropdown-toggle menumenu" data-toggle="dropdown" href="">MEET ILCHI&nbsp;&nbsp;<span class="caret"></span></a>
                            <ul class="dropdown-menu dropdown-menu2">
                              <li><a href="/page/index/Who-is-Ilchi-Lee"><span class="subcolor">About Ilchi Lee</span></a></li>
                              <li><a href="/gallery/index"><span class="subcolor">Gallery</span></a></li>
                              <li><a href="#"><span class="subcolor">Ilchi Lee's Timeline</span></a></li>
                              <li><a href="/calendar"><span class="subcolor">Schedule</span></a></li>
                            </ul>
                          </li>

                          <li>
                            <a class="btn dropdown-toggle menumenu" data-toggle="dropdown" href="">PRINCIPLES&nbsp;&nbsp;<span class="caret"></span></a>
                            <ul class="dropdown-menu dropdown-menu2">
                              <li><a href="/page/index/Self-Development-Guidelines"><span class="subcolor">Self-Development Guidelines</span></a></li>
                              <li><a href="/page/index/Awakened-Brain"><span class="subcolor">Awakened Brain</span></a></li>
                              <li><a href="/page/index/Energy-Principle"><span class="subcolor">Energy Principle</span></a></li>
                              <li><a href="/page/index/Earth-Citizenship"><span class="subcolor">Earth Citizenship</span></a></li>
                              <li><a href="/page/index/Korean-Heritage"><span class="subcolor">Korean Heritage</span></a></li>
                            </ul>
                          </li>

                          <li>
                            <a class="btn dropdown-toggle menumenu" data-toggle="dropdown" href="">PROJECT&nbsp;&nbsp;<span class="caret"></span></a>
                            <ul class="dropdown-menu dropdown-menu2">
                              <li><a href="/page/index/Projects"><span class="subcolor">Media</span></a></li>                                
                              <li><a href="/page/index/Projects"><span class="subcolor">Movement</span></a></li>
                              <li><a href="/page/index/Projects"><span class="subcolor">Education</span></a></li>
                            </ul>
                          </li>

                          <li>
                            <a class="btn dropdown-toggle menumenu" data-toggle="dropdown" href="/publication">PUBLICATION&nbsp;&nbsp;<span class="caret"></span></a>
                            <ul class="dropdown-menu dropdown-menu2">
                              <li><a href="<?php echo $this->config->application->baseURL ?>/publication/index/1"><span class="subcolor">Books</span></a></li>
                              <li><a href="<?php echo $this->config->application->baseURL ?>/publication/index/2"><span class="subcolor">CDs</span></a></li>
                              <li><a href="<?php echo $this->config->application->baseURL ?>/publication/index/3"><span class="subcolor">Related Products</span></a></li>
                            </ul>
                          </li>

                          <li> 
                            <a class="btn dropdown-toggle menumenu" data-toggle="dropdown" href="">POST&nbsp;&nbsp;<span class="caret"></span></a>
                            <ul class="dropdown-menu dropdown-menu2">
                              <li><a href="/post/index"><span class="subcolor">Latest Post</span></a></li>
                              <li><a href="/post/category/Journal"><span class="subcolor">Journal</span></a></li>
                              <li><a href="/post/category/News"><span class="subcolor">News</span></a></li>
                              <li><a href="/post/category/Video Clips"><span class="subcolor">Video</span></a></li>
                              <li><a href="/post/category/RSS"><span class="subcolor">RSS</span></a></li>
                            </ul>
                          </li>

                          <li><a class="btn dropdown-toggle menumenu" data-toggle="dropdown" href="#">CONTACT&nbsp;&nbsp;<span class="caret"></span></a>
                            <ul class="dropdown-menu dropdown-menu2">
                              <li><a href="/contact/contactus"><span class="subcolor">Contact Us</span></a></li>
                              <li><a href="#"><span class="subcolor">Choose a Country</span></a></li>
                              <li><a href="/contact/termsandconditions"><span class="subcolor">Terms & Conditions</span></a></li>
                              <li><a href="#"><span class="subcolor">RSS</span></a></li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </header>
        <div style="max-width:100%; margin:0 auto;">
          <ul id="demo2">
            <li>
              <img src="/images/banner1.png" />
              <!--Slider Description example-->
            </li>
            <li><img src="/images/banner2.png" />
            </li>
            <li><img src="/images/banner3.png" />
              <!--NO Description Here-->
            </li>

          </ul>
        </div>
        <!-- Seperator -->
        <!-- <div id="da-slider" class="da-slider">
          <div class="da-slide da-img" style="background-image:url(images/banner2.png);background-position:center 30%;"></div>
          <div class="da-slide da-img" style="background-image:url(images/banner3.png);background-position:center 30%;"></div>
          <div class="da-slide da-img" style="background-image:url(images/banner1.png);background-position:center 30%;"></div>
        
        </div>  
      </div> -->





      <!-- Slider starts -->
      <div class="sep1"></div>
      <!-- Slider ends -->


      <div class="content">
        <div class="container">
          <div class="row">

            <div class="col-md-4 wleft" >
              <div class="wwl">
                <!-- Service heading with font awesome icon -->
                <div class="font marjtop">Weekly Insight</div>
                <div class="wwl1">
                  <?php
                  $getginfo = $postjournal;
                  foreach ($getginfo as $key => $value) {
                    ?>
                    <a href="/post/full/<?php echo $getginfo[$key]->newsid ?>/<?php echo $getginfo[$key]->category ?>">
                      <div class="sidebarimage" style="background-image: url('<?php echo $this->config->application->apiURL; ?>/images/sliderimages/<?php echo $getginfo[$key]->banner ?>');">
                      </div>
                    </a>
                  </div>
                  <!-- Service para -->
                  <div class="title1">
                    <a  href="/post/full/<?php echo $getginfo[$key]->newsid ?>/<?php echo $getginfo[$key]->category ?>">
                     <?php echo $getginfo[$key]->title?>
                   </a>
                 </div>
                 <p style="font-size:12">
                   <?php


                   echo strip_tags(substr($getginfo[$key]->body,0,200).' ...' , '');

                   ?>

                 </p>

                 <?php } ?>
               </div>
             </div>
             <div class="col-md-4 ">
              <!-- Service heading with font awesome icon -->
              <div class="wwl">
                <div class="font marjtop">Weekly Video</div>
                <div class="wwl1">
                  <?php
                  $getginfo = $latestvid;
                  foreach ($getginfo as $key => $value) {
                    $explode= explode('/', htmlspecialchars($getginfo[$key]->path, ENT_QUOTES));
                    $getid=explode(' ', $explode[4] );
                    $youtube_id=str_split($getid[0],11);
                    $path="http://i2.ytimg.com/vi/".$youtube_id[0]."/mqdefault.jpg";
                    ?>
                    <a href="/video/readabout/<?php echo $getginfo[$key]->id ?>">
                      <div class="sidebarimage" style="background-image: url('<?php echo $path ?>');"> </div>
                    </a>
                  </div>
                  <div class="title1">
                    <a href="/video/readabout/<?php echo $getginfo[$key]->id ?>">
                      <?php echo $getginfo[$key]->title ?>
                    </a>
                  </div>
                  <p>
                    <?php echo strip_tags( substr($getginfo[$key]->description, 0,250),'').' ...' ?>
                  </p>
                  <?php

                }
                ?>
                <!-- Service para -->
              </div>
            </div>


            <div class="col-md-4  ">
              <div class="wwl">
                <!-- Service heading with font awesome icon -->
                <div class="font marjtop">Latest News</div>
                <div class="wwl1">
                  <?php
                  $getginfo = $postinfo;

                  foreach ($getginfo as $key => $value) {
                    ?>
                    <a href="/post/full/<?php echo $getginfo[$key]->newsid ?>/<?php echo $getginfo[$key]->category ?>">
                      <div class="sidebarimage" style="background-image: url('<?php echo $this->config->application->apiURL; ?>/images/sliderimages/<?php echo $getginfo[$key]->banner ?>');">
                      </div>
                    </a>
                  </div>
                  <!-- Service para -->
                  <div class="title1">
                    <a  href="/post/full/<?php echo $getginfo[$key]->newsid ?>/<?php echo $getginfo[$key]->category ?>">
                     <?php echo $getginfo[$key]->title?>
                   </a>
                 </div>
                 <p>
                   <?php


                   echo strip_tags(substr($getginfo[$key]->body,0,180).' ...' , '');



                   ?>

                 </p>

                 <?php } ?>
               </div>

             </div>
             <div class="border_line"></div>
           </div>
         </div>
       </div>
       <!-- Page content ends -->
       <!-- Recent posts carousel starts -->
       <br>
       <br>
       <br>
       <div class="recent-posts" ng-controller="featuredproject">

        <div class="container">
          <div class="row">
            <div class="slider-wrapper">

              <div class="font1">Featured Projects</div>

              <div class="pagings">
                <ul class="pagination1">

                  <li ng-repeat="page in data.pages" ng-class="{ 'active' : data.index == page.num  }" class="paginate_button">
                    <a href="" ng-click="paging(page.num)"> {[{ page.num }]}</a>
                  </li>

                </ul>
              </div>



              <div style="float:left;">
                <div class="featured-wrapper">
                  <a href="/projects/index/<?php echo $feat_id ?>">
                    <div class="featured-image" style="background-image: url('<?php echo $this->config->application->apiURL; ?>/images/featurebanner/<?php echo $feat_picpath ?>')">

                      <div class="featcaption">
                        <?php echo $feat_title  ?>
                      </div>
                    </div>
                  </a>
                </div>

                <div class="project-wrapper" >

                  <div class="list-image" ng-repeat="feat in data.data" style="background-image: url('<?php echo $this->config->application->apiURL; ?>/images/featurebanner/{[{ feat.feat_picpath }]}')">
                    <a href="/projects/index/{[{ feat.feat_id }]}">
                      <div class="featcaption">
                       {[{ feat.feat_title }]}
                     </div>
                   </a>
                 </div>
               </div>
             </div>
           </div>
         </div>

       </div>
     </div>

     <div class="container" style="padding-top:0px;" ng-controller="NMSubcribersCtrl">
      <div class="frntEndForm" >

        <span class="formerror" ng-show="emailtaken != ''" style="color: #f80000;">Email is already subscribed.</span>
        <span class="formerror" ng-show="emailtaken2 != ''" style="color: #f80000;">Email already a member.</span>
        <span class="formerror" ng-show="emailregister != ''" style="color: #0C0;">Thank you for subscribing to newsletter.</span>

        <h5 class="signup">Sign up for weekly inspirational and get a free Lorem </h5>
        <form class="form-inline form-validation ng-pristine ng-invalid ng-invalid-required" name="form" style="padding-bottom:22px;">
         <div class="form-group">
           <input type="text" class="form-control ng-pristine ng-invalid-required ng-valid-pattern" id="name" name="name" ng-model="nms.name" placeholder="Name" required>
         </div>
         <div class="form-group ">
           <input type="email" class="form-control ng-pristine ng-invalid-required ng-valid-pattern" id="email" name="email" ng-model="nms.email" placeholder="E-mail" required>
         </div>
         <button type="submit" class="btn m-b-xs butn" ng-click="SaveNMS(nms)">Sign-Up</button>
       </form>
       <p class="signupp"><a href="mailto:something@gmail.com">See E-Newsletter Archive ></a></p>

     </div>
   </div>

 </div>
</div>
</div>
</div>

<!-- Recent Posts ends -->

<div class="container" >
  <div class="cont1" >

    <div> 
      <div class="titlewho">Who is Ilchi Lee?</div>

      <div>

        <img src="images/pic.png" alt=""  class="ilchi" />
        <p>
          “Ilchi” is the name Ilchi Lee chose for himself nearly 30 years ago, following a life changing spiritual experience. “Il (一)” means “one” and “chi (指)” means “finger.” “Ilchi” refers to the index finger, indicating “pointing the Way.” “The Way,” referred to as the “Tao,” is considered the essence of Oneness, the natural order of existence. Embracing the Korean Taoist tradition, known as Sun Do, Ilchi Lee awakened to the universal principle that humanity is connected to the Cosmos, the Earth and all of creation.

        </p>
      </div>

      <a style="" href="/page/index/Who-is-Ilchi-Lee" class="btn m-b-xs butn1" ><p style="color:#fff;">Learn More</p></a>
    </div>
  </div>
  <div style="clear:both;"></div>
</div>






<!-- Footer starts -->
<div class="footer">
  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <div class="socialmedia">

          <!-- Copyright info -->
          <div class="footercont">
            <ul class="linkfooter">
              <li> <a href="#"><img src="/images/socialmedai/google.png"></a></li>
              <li> <a href="#"><img src="/images/socialmedai/cam.png"></a></li>
              <li> <a href="#"><img src="/images/socialmedai/p.png"></a></li>
              <li> <a href="#"><img src="/images/socialmedai/in.png"></a></li>
              <li> <a href="#"><img src="/images/socialmedai/t.png"></a></li>
              <li> <a href="#"><img src="/images/socialmedai/dot.png"></a></li>
            </ul>
          </div>
        </div>
        <div class="footercont1">

          <ul>
            <li> <a style="color: #fff;font-size:15px;text-decoration:none;" href="#"> Copyright &copy; 2015 wwww.ilchi.com </a> </li>

            <li > <a style="color: #fff;font-size:15px;" href="#">Terms & Conditions </a></li>
            <li class="l1">|</li>
            <li> <a style="color: #fff;font-size:15px;" href="#">Choose a Country </a></li>
            <li class="l2">|</li>
            <li> <a style="color: #fff;font-size:15px;" href="#" >E-Newsletter </a></li>
            <li class="l3">|</li>
            <li> <a style="color: #fff;font-size:15px;" href="#" class="link">Contact Us</a></li>
          </ul>

        </div>
      </div>
    </div>  
  </div>
</div>

<!-- Footer ends -->

<script>
  var API_URL = '<?php echo $this->config->application->apiURL; ?>';
</script>
<!-- Scroll to top -->
<span class="totop"><a href="#"><i class="icon-chevron-up"></i></a></span>

<!-- start -->
<script src="/js/fr/jquery.min.js"></script>

<!-- JS -->
<script src="/js/fr/jquery.js"></script> <!-- jQuery -->
<script src="/js/fr/bootstrap.js"></script> <!-- Bootstrap -->
<script src="/js/fr/jquery.isotope.js"></script> <!-- Isotope -->
<script src="/js/fr/jquery.prettyPhoto.js"></script> <!-- Pretty Photo -->
<script src="/js/fr/filter.js"></script> <!-- Filter for support page -->

<script src="/js/fr/jquery.flexslider-min.js"></script> <!-- Flex slider -->
<!--<script src="/js/fr/jquery.cslider.js"></script>  Parallax Slider -->
<script src="/js/fr/modernizr.custom.28468.js"></script> <!-- Parallax slider extra -->

<script src="/js/fr/jquery.carouFredSel-6.1.0-packed.js"></script> <!-- Carousel for recent posts -->
<script src="/js/fr/jquery.refineslide.min.js"></script> <!-- Refind slider -->
<script src="/js/fr/custom.js"></script> <!-- Custom codes -->

<script src="/js/fr/easyResponsiveTabs.js"></script> <!-- jQuery -->

<!-- <script src="/js/fr/tabs.js"></script> --><!-- jQuery -->

<script type="text/javascript" src="/js/angular/angular.min.js"></script>
<script type="text/javascript" src="/js/angular/angular-route.js"></script>
<script type="text/javascript" src="/js/angular/angular-ui-router.min.js"></script>
<script type="text/javascript" src="/js/angular/ui-validate.js"></script>
<script type="text/javascript" src="/js/angular/angular-sanitize.js"></script>

<script src="/js/ckeditor/ckeditor.js"></script>
<script src="/js/ckeditor/styles.js"></script>
<script type="text/javascript" src="/js/fr/app.js"></script>

<!-- Angular -->
<script src="/js/angular/angular-cookies.min.js"></script>
<script src="/js/angular/angular-animate.min.js"></script>
<script src="/js/angular/angular-translate.js"></script>
<script src="/js/angular/ngStorage.min.js"></script>
<script src="/js/angular/ui-load.js"></script>
<script src="/js/angular/ui-jq.js"></script>

<!-- Calendar Demo -->
<script src="/fcalendar/jquery.js"></script>
<!-- <script src="/fcalendar/angular.js"></script> -->
<script src="/fcalendar/ui-bootstrap-tpls-0.9.0.js"></script>
<script src="/fcalendar/moment.js"></script>
<script src="/fcalendar/fullcalendar.js"></script>
<script src="/fcalendar/gcal.js"></script>
<script src="/fcalendar/calendar.js"></script>
<!-- <script src="/fcalendar/calendarDemo.js"></script> -->

<script src="/js/fr/easyResponsiveTabs.js"></script> <!-- jQuery -->
<script type="text/javascript">
  $(document).ready(function () {
        //Horizontal Tab
        $('#parentHorizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true, // 100% fit in a container
            tabidentify: 'hor_1', // The tab groups identifier
            activate: function (event) { // Callback function if tab is switched
              var $tab = $(this);
              var $info = $('#nested-tabInfo');
              var $name = $('span', $info);
              $name.text($tab.text());
              $info.show();
            }
          });

        // Child Tab
        $('#ChildVerticalTab_1').easyResponsiveTabs({
          type: 'vertical',
          width: 'auto',
          fit: true,
            tabidentify: 'ver_1', // The tab groups identifier
            activetab_bg: '#fff', // background color for active tabs in this group
            inactive_bg: '#F5F5F5', // background color for inactive tabs in this group
            active_border_color: '#c1c1c1', // border color for active tabs heads in this group
            active_content_border_color: '#5AB1D0' // border color for active tabs contect in this group so that it matches the tab head border
          });

        //Vertical Tab
        $('#parentVerticalTab').easyResponsiveTabs({
            type: 'vertical', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true, // 100% fit in a container
            closed: 'accordion', // Start closed if in accordion view
            tabidentify: 'hor_1', // The tab groups identifier
            activate: function (event) { // Callback function if tab is switched
              var $tab = $(this);
              var $info = $('#nested-tabInfo2');
              var $name = $('span', $info);
              $name.text($tab.text());
              $info.show();
            }
          });
      });
</script>
<!-- end -->

<script type="text/javascript" src="js/fr/jquery.cslider.js"></script>
<script src="js/fr/bootstrap-hover-dropdown.min.js"></script>

<script type="text/javascript">
  $(function () {

    $('#da-slider').cslider();
  });
</script>

<script src="/js/fr/menumaker.js"></script>

<script src="/js/slider/skdslider.js"></script>
<script type="text/javascript">
  jQuery(document).ready(function () {
    jQuery('#demo1').skdslider({delay: 5000, animationSpeed: 2000, showNextPrev: true, showPlayButton: true, autoSlide: true, animationType: 'fading'});
    jQuery('#demo2').skdslider({delay: 5000, animationSpeed: 1000, showNextPrev: true, showPlayButton: false, autoSlide: true, animationType: 'sliding'});
    jQuery('#demo3').skdslider({delay: 5000, animationSpeed: 2000, showNextPrev: true, showPlayButton: true, autoSlide: true, animationType: 'fading'});

    jQuery('#responsive').change(function () {
      $('#responsive_wrapper').width(jQuery(this).val());
      $(window).trigger('resize');
    });

  });
</script>


</body>
</html>
