<!DOCTYPE html>
<html lang="en" data-ng-app="app">
<head >
  <title>Ilchi Lee - Brain Education for Earth Citizens</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="user-scalable = yes" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="title" content="Ilchi Lee - Brain Education for Earth Citizens">
  <meta name="description" content="Ilchi Lee - Brain Education for Earth Citizens">
  <meta name="keywords" content="Ilchi Lee - Brain Education for Earth Citizens">
  <meta name="author" content="">

  <link rel="shortcut icon" href="/images/faviconblue.ico" type='image/x-icon'/>
  <!-- Stylesheets -->
  <link href="/css/fr/bootstrap.css" rel="stylesheet">
  <!-- Pretty Photo -->
  <link href="/css/fr/prettyPhoto.css" rel="stylesheet">
  <!-- Flex slider -->
  <link href="/css/fr/flexslider.css" rel="stylesheet">
  <!-- Font awesome icon -->
  <link rel="stylesheet" href="/css/fr/font-awesome.css">
  <!-- Parallax slider -->
  <!-- <link rel="stylesheet" href="/css/fr/slider.css"> -->
  <!-- Refind slider -->
  <link rel="stylesheet" href="/css/fr/refineslide.css">
  <!-- Main stylesheet -->
  <link href="/css/fr/style.css" rel="stylesheet">
  <!-- Stylesheet for Color -->
  <!-- <link href="/css/fr/red.css" rel="stylesheet"> --> 
  <link href="/css/fr/inline.css" rel="stylesheet">

  <link href="/css/fr/parallax.css" rel="stylesheet">


  <link href="/css/slider/skdslider.css" rel="stylesheet">

  <link rel="stylesheet" href="/css/dist/css/superfish.css" media="screen">


  <link href="/css/fr/menumaker.css" rel="stylesheet">

  <!-- 
  <script type="text/javascript" src="../addons/bootstrap/jquery.smartmenus.bootstrap.js"></script>
  <!-- CAMERA -->

  <!-- NEw SLIDER -->
  <link rel="stylesheet" href="/slider/default/default.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="/slider/nivo-slider.css" type="text/css" media="screen" />

  <!-- HTML5 Support for IE -->
        <!--[if lt IE 9]>
        <!--<script src="js/html5shim.js"></script>-->
        <!--[endif]-->

        

        <script src="/js/dist/js/jquery.js"></script>
        <script src="/js/dist/js/hoverIntent.js"></script>
        <script src="/js/dist/js/superfish.js"></script>
        <script>
            (function ($) { //create closure so we can safely use $ as alias for jQuery

              $(document).ready(function () {

                    // initialise plugin
                    var example = $('#example').superfish({
                        //add options here if required
                      });

                    // buttons to demonstrate Superfish's public methods
                    $('.destroy').on('click', function () {
                      example.superfish('destroy');
                    });

                    $('.init').on('click', function () {
                      example.superfish();
                    });

                    $('.open').on('click', function () {
                      example.children('li:first').superfish('show');
                    });

                    $('.close').on('click', function () {
                      example.children('li:first').superfish('hide');
                    });
                  });

            })(jQuery);
          </script>

          





          <style type="text/css">
            .searchmargin
            {
              margin-top: -20px;
              margin-bottom: -20px;
            }
            .searchdiv
            {
              float: right;
              padding: 20px;
              border:1px solid #ddd;
            }

            #search input {
              background: none repeat scroll 0 0 #fff;
              border-top:1px solid #7F7F7F;
              border-bottom:1px solid #7F7F7F;
              border-left:1px solid #7F7F7F;
              color: #7F7F7F;
              float: left;
              font: 12px 'Helvetica','Lucida Sans Unicode','Lucida Grande',sans-serif;
              height: 30px;
              margin: 0;
              padding: 15px;
              transition: background 0.3s ease-in-out 0s;
              width: 250px;
            }

            #search button {
              background: url("/images/search.png") no-repeat scroll center center #ffae22;
              cursor: pointer;
              height: 30px;
              padding: 15px;
              text-indent: -99999em;
              transition: background 0.3s ease-in-out 0s;
              width: 20px;
              border-top:1px solid #7F7F7F;
              border-bottom:1px solid #7F7F7F;
              border-right:1px solid #7F7F7F;
            }

            #search button:hover {
              background-color:#7F7F7F;
            }


            .lefter{
              float: left;
            }

            .featcaption {
              position: absolute; 
              margin: auto;
              width:100%; 
              height: 35px; 
              bottom: 0px;
              font-family: 'Proxima Nova Alt Regular';
              font-size: 12pt;
              background: #000;
              text-align:center;
              text-transform: uppercase;
              /* Fallback for web browsers that don't support RGBa */
              background-color: rgb(0, 0, 0);
              /* RGBa with 0.6 opacity */
              background-color: rgba(0, 0, 0, 0.5);
              /* For IE 5.5 - 7*/
              filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
              /* For IE 8*/
              -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
              text-align: left;
              padding: 10px;
              color: #fff; 
            }

            .navbar1
            {
              width: 112px;
            }

            .slider-wrapper
            {

              width:100%;
              height: 350px;

            }
            .featured-wrapper
            {
              padding-top: 10px;
              float: left;
              width:490px;
              height: 280px;
            }
            .project-wrapper
            {
              padding-top: 10px;
              float: left;
              width:490px;
              height: 280px;
            }
            .featured-image
            {
              position: relative;
              height: 290px;
              width: 100%;
              overflow: hidden;
              background-size: cover;
              background-position: center center;
              float:left;
              margin: 0px 10px 10px 0px;
            }



            .list-image
            {
              float: left;
              width:233px;
              height:140px;
              position: relative;
              overflow: hidden;
              background-size: cover;
              background-position: center center;
              float:left;
              margin: 0px 0px 10px 10px;
            }


            @media screen and (max-width:990px) {
             .slider-wrapper
             {
              width:497px;
              height: 350px;
              margin-left: auto;
              margin-right: auto;

            }

            .project-wrapper
            {
              float: left;
              width:497px;
              height: 280px;
              margin-top: 20px;
            }
          }

          @media screen and (max-width:500px) {

            

            .featured-wrapper
            {
              padding: 10px;
              float: left;
              width:100%;
              height: 100%;
            }
            .slider-wrapper
            {
              width:100%;
              height: 350px;
              margin-left: auto;
              margin-right: auto;

            }
            .project-wrapper
            {
              padding: 10px;
              float: left;
              width:100%;
              height: 100%;
            }

            

            .list-image
            {
              position: relative;
              height: 180px;
              width: 100%;
              overflow: hidden;
              background-size: cover;
              background-position: center center;
              float:left;
              margin: 0px 10px 10px 0px;
            }

            .featcaption {
              position: absolute; 
              margin: auto;
              width:100%; 
              height: 60px; 
              bottom: 0px;
              font-family: 'Proxima Nova Alt Regular';
              font-size: 12pt;
              background: #000;
              text-align:center;
              text-transform: uppercase;
              /* Fallback for web browsers that don't support RGBa */
              background-color: rgb(0, 0, 0);
              /* RGBa with 0.6 opacity */
              background-color: rgba(0, 0, 0, 0.5);
              /* For IE 5.5 - 7*/
              filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
              /* For IE 8*/
              -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
              text-align: left;
              padding: 10px;
              color: #fff; 
            }
            .lefter{
              float: none;
            }




          }
          .sidebarimage {
            height: 160px;
            width: 100%;
            overflow: hidden;
            background-size: cover;
            background-position: center center;
            float:left;
            margin: 0px 10px 10px 0px;
          }

          .pagination1>.active>a, .pagination1>.active>span, .pagination1>.active>a:hover, .pagination1>.active>span:hover, .pagination1>.active>a:focus, .pagination1>.active>span:focus {
            z-index: 2;
            color: #fff;
            cursor: default;
            background: url('/images/number.png');
          }
          .pagination1>li a{
            position: relative;
            float: left;
            padding: 6px 12px;
            margin-left: -1px;
            line-height: 1.428571429;
            text-decoration: none;
            background-color: #fff;
          }
          .pagings{
            float: right;
            
          }
          .pagings ul li{
            display: inline;
            list-style: none;
          }
          navsearch ul ul {
            display: none;
          }
          navsearch ul li:hover > ul {
            display: block;
          }
          navsearch ul li{
            display: block;
            display: inline;
          }
          navsearch ul ul {
            background: #FFF; border-radius: 0px; padding: 0;
            position: absolute; right: 50%;
          }
          navsearch ul ul li {
            float: none; 
            position: relative;
            padding:20px;
          }
          navsearch ul ul li a {
            padding:20px;
            color: #fff;
          } 
          navsearch ul ul li a:hover {
          }
          .searchform
          {
            position: relative;
            width: 300px;
            right: 0px;
          }
        </style>
      </head>

      <body ng-controller="indexMainCtrl">
        <!-- Header starts -->
        <header>
          <!-- <div class="content">
            <div class="container searchmargin" >
                <div class="searchdiv" >
                  <form method="get" id="search" ng-submit="search(keywords)" name="formnl">
                    <input type="text" class="search" value="Type and hit enter" onblur="if(this.value == '') { this.value = 'Type and hit enter'; }" onfocus="if(this.value == 'Type and hit enter') { this.value = ''; }" ng-model="keywords.name" required>
                    <button type="submit">Submit</button>
                  </form>
              </div>
            </div>
          </div> -->

          <script>
            function myFunction() {
              window.location.href="/search/index/"+document.getElementById("searchkey").value+"/1";
            }
          </script>

          <div class="content-mainpage">
            <div class="container" >
              <div class="socials">
                <div class="headicon">
                  <navsearch>
                    <ul>
                      <li><a><img src="/images/icon-search.png">&nbsp;&nbsp;&nbsp;</a>
                        <ul>
                          <li><a>
                            <div class="searchdiv" >
                              <div class="searchform">
                                <form id="search" name="formnl">
                                  <input id="searchkey" name="searchkey" type="text" class="search" value="Type and hit enter" onblur="if(this.value == '') { this.value = 'Type and hit enter';}" onfocus="if(this.value == 'Type and hit enter') { this.value = ''; }" ng-model="keywords.name" required>
                                  <button onclick="myFunction()">Search</button>
                                </form>
                                <p id="demo"></p>
                              </div>
                            </div>
                          </a>
                        </li>
                      </ul>
                    </li>
                    <li><a href="<?php echo $socialLink[0]->url?>" target="_blank"><img src="/images/f.png"></a></li>
                    <li><a href="<?php echo $socialLink[1]->url?>" target="_blank"><img src="/images/t.png"></a></li>
                    <li><a href="<?php echo $socialLink[2]->url?>" target="_blank"><img src="/images/g.png"></a></li>
                  </ul>
                </div>

              </div>
              <div class="row">
                
                <div class="col-md-2 logo">
                  <a href="<?php echo $this->config->application->baseURL ?>">
                    <img src="<?php echo $path; ?>">
                  </a>
                  <div style="clear:both;"></div>
                </div>
                
                

                
                <div class="col-md-9 menusub navbar navbar-default bordermenu menuwidth" role="navigation"style="margin-top:-55px;">


                  <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav indexmenufont">
                      <li class="navbar1">
                        <a href="<?php echo $this->config->application->baseURL ?>/page/index/Who-is-Ilchi-Lee" class="click2 "  data-hover="dropdown">Meet Ilchi </a>
                        <ul class="dropdown-menu multi-level">
                          <li><a href="<?php echo $this->config->application->baseURL ?>/page/index/Who-is-Ilchi-Lee">About Ilchi Lee</a></li>
                          <li><a href="<?php echo $this->config->application->baseURL ?>/gallery/index">Gallery</a></li>
                          <li><a href="<?php echo $this->config->application->baseURL ?>/page/index/Ilchi-Lees-Timeline">Ilchi Lee’s Timeline</a></li>
                          <li><a href="<?php echo $this->config->application->baseURL ?>/calendar">Schedule</a></li>
                          <li><a href="<?php echo $this->config->application->baseURL ?>/video">Videos</a></li>
                        </ul>
                      </li>
                      <li  class="navbar1">
                        <a href="<?php echo $this->config->application->baseURL ?>/page/index/Principles" class="click2 " data-hover="dropdown" >Principles</a>
                        <ul class="dropdown-menu multi-level">
                          <li><a href="<?php echo $this->config->application->baseURL ?>/page/index/Self-Development-Guidelines">Self-Development Guidelines</a></li>
                          <li><a href="<?php echo $this->config->application->baseURL ?>/page/index/Awakened-Brain">Awakened Brain</a></li>
                          <li><a href="<?php echo $this->config->application->baseURL ?>/page/index/Energy-Principle">Energy Principle</a></li>
                          <li><a href="<?php echo $this->config->application->baseURL ?>/page/index/Earth-Citizenship">Earth Citizenship</a></li>
                          <li><a href="<?php echo $this->config->application->baseURL ?>/page/index/Korean-Heritage">Korean Heritage</a></li>
                        </ul>
                      </li>
                      <li  class="navbar1">
                        <a href="<?php echo $this->config->application->baseURL ?>/page/index/Projects" class="click2" data-hover="dropdown" >Projects</a>
                        <ul class="dropdown-menu multi-level">
                          <li><a href="<?php echo $this->config->application->baseURL ?>/page/index/Projects">Media</a></li>
                          <li><a href="<?php echo $this->config->application->baseURL ?>/page/index/Projects">Movements</a> </li>
                          <li><a href="<?php echo $this->config->application->baseURL ?>/page/index/Projects">Education</a> </li>
                        </ul>
                      </li>
                      <li  class="navbar1">
                        <a href="<?php echo $this->config->application->baseURL ?>/publication/index/1" class="click2" data-hover="dropdown" >Publications</a>
                        <ul class="dropdown-menu multi-level">
                          <li><a href="<?php echo $this->config->application->baseURL ?>/publication/index/1">Books</a></li>
                          <li><a href="<?php echo $this->config->application->baseURL ?>/publication/index/2">CDs</a></li>
                          <li><a href="<?php echo $this->config->application->baseURL ?>/publication/index/3">Related Products</a></li>
                        </ul>
                      </li>
                      <li  class="navbar1">
                        <a  href="<?php echo $this->config->application->baseURL ?>/post/index" class="click2 " data-hover="dropdown" >Posts</a>
                        <ul class="dropdown-menu multi-level">
                          <li><a href="<?php echo $this->config->application->baseURL ?>/post/index">Latest Posts</a></li>
                          <li><a href="<?php echo $this->config->application->baseURL ?>/post/category/Journal">Journal</a></li>
                          <li><a href="<?php echo $this->config->application->baseURL ?>/post/category/News">News</a></li>
                          <li><a href="<?php echo $this->config->application->baseURL ?>/post/category/Video Clips">Video Clips</a></li>
                        </ul>
                      </li>
                      <li class="navbar1">
                        <a  href="<?php echo $this->config->application->baseURL ?>/contact/contactus" class="click2" data-hover="dropdown">Contact</a>
                        <ul class="dropdown-menu multi-level">
                          <li><a href="<?php echo $this->config->application->baseURL ?>/contact/contactus">CONTACT US</a></li>

                          <li><a href="<?php echo $this->config->application->baseURL ?>/choosecountry">CHOOSE A COUNTRY</a></li>

                          <li><a href="<?php echo $this->config->application->baseURL ?>/contact/termsandconditions">TERMS & CONDITION</a></li>

                          <li> <a href="<?php echo $this->config->application->baseURL ?>/feed" target="_blank">RSS </a></li>
                        </ul>
                      </li>
                    </ul>
                  </div><!--/.nav-collapse -->
                </div>              
              </div>
            </div>
          </div>
          <!-- toogle menu -->
          <div class="container-fluid">
            <div class="mob-logo"  style="width:115px;margin:auto;padding-top:5px;"><a href="<?php echo $this->config->application->baseURL ?>"><img src="/images/headerlogo.png" style="width:115px;"></a></div>
            <div class="mobileMenu mobileMenu2">
              <nav role="navigation" class="navbar navbar-default">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a href="" class="navbar-brand">Ilchi Lee</a>
                </div>

                <!-- Collection of nav links and other content for toggling -->
                <div id="navbarCollapse" class="collapse navbar-collapse">
                  <ul class="nav navbar-nav navbar-nav2">
                    <li>
                      <a class="btn dropdown-toggle menumenu" data-toggle="dropdown" href="">MEET ILCHI&nbsp;&nbsp;<span class="caret"></span></a>
                      <ul class="dropdown-menu dropdown-menu2">
                        <li><a href="<?php echo $this->config->application->baseURL ?>/page/index/Who-is-Ilchi-Lee"><span class="subcolor">About Ilchi Lee</span></a></li>
                        <li><a href="<?php echo $this->config->application->baseURL ?>/gallery/index"><span class="subcolor">Gallery</span></a></li>
                        <li><a href="<?php echo $this->config->application->baseURL ?>/page/index/Ilchi-Lees-Timeline"><span class="subcolor">Ilchi Lee's Timeline</span></a></li>
                        <li><a href="<?php echo $this->config->application->baseURL ?>/calendar"><span class="subcolor">Schedule</span></a></li>
                        <li><a href="<?php echo $this->config->application->baseURL ?>/video"><span class="subcolor">Videos</span></a></li>
                      </ul>
                    </li>

                    <li>
                      <a class="btn dropdown-toggle menumenu" data-toggle="dropdown" href="">PRINCIPLES&nbsp;&nbsp;<span class="caret"></span></a>
                      <ul class="dropdown-menu dropdown-menu2">
                        <li><a href="<?php echo $this->config->application->baseURL ?>/page/index/Self-Development-Guidelines"><span class="subcolor">Self-Development Guidelines</span></a></li>
                        <li><a href="<?php echo $this->config->application->baseURL ?>/page/index/Awakened-Brain"><span class="subcolor">Awakened Brain</span></a></li>
                        <li><a href="<?php echo $this->config->application->baseURL ?>/page/index/Energy-Principle"><span class="subcolor">Energy Principle</span></a></li>
                        <li><a href="<?php echo $this->config->application->baseURL ?>/page/index/Earth-Citizenship"><span class="subcolor">Earth Citizenship</span></a></li>
                        <li><a href="<?php echo $this->config->application->baseURL ?>/page/index/Korean-Heritage"><span class="subcolor">Korean Heritage</span></a></li>
                      </ul>
                    </li>

                    <li>
                      <a class="btn dropdown-toggle menumenu" data-toggle="dropdown" href="">PROJECT&nbsp;&nbsp;<span class="caret"></span></a>
                      <ul class="dropdown-menu dropdown-menu2">
                        <li><a href="<?php echo $this->config->application->baseURL ?>/page/index/Projects"><span class="subcolor">Media</span></a></li>                                
                        <li><a href="<?php echo $this->config->application->baseURL ?>/page/index/Projects"><span class="subcolor">Movements</span></a></li>
                        <li><a href="<?php echo $this->config->application->baseURL ?>/page/index/Projects"><span class="subcolor">Education</span></a></li>
                      </ul>
                    </li>

                    <li>
                      <a class="btn dropdown-toggle menumenu" data-toggle="dropdown" href="/publication">PUBLICATIONS&nbsp;&nbsp;<span class="caret"></span></a>
                      <ul class="dropdown-menu dropdown-menu2">
                        <li><a href="<?php echo $this->config->application->baseURL ?>/publication/index/1"><span class="subcolor">Books</span></a></li>
                        <li><a href="<?php echo $this->config->application->baseURL ?>/publication/index/2"><span class="subcolor">CDs</span></a></li>
                        <li><a href="<?php echo $this->config->application->baseURL ?>/publication/index/3"><span class="subcolor">Related Products</span></a></li>
                      </ul>
                    </li>

                    <li> 
                      <a class="btn dropdown-toggle menumenu" data-toggle="dropdown" href="">POSTS&nbsp;&nbsp;<span class="caret"></span></a>
                      <ul class="dropdown-menu dropdown-menu2">
                        <li><a href="<?php echo $this->config->application->baseURL ?>/post/index"><span class="subcolor">Latest Posts</span></a></li>
                        <li><a href="<?php echo $this->config->application->baseURL ?>/post/category/Journal"><span class="subcolor">Journal</span></a></li>
                        <li><a href="<?php echo $this->config->application->baseURL ?>/post/category/News"><span class="subcolor">News</span></a></li>
                        <li><a href="<?php echo $this->config->application->baseURL ?>/post/category/Video Clips"><span class="subcolor">Video</span></a></li>
                        <li><a href="<?php echo $this->config->application->baseURL ?>/post/category/RSS" target="_blank"><span class="subcolor">RSS</span></a></li>
                      </ul>
                    </li>

                    <li><a class="btn dropdown-toggle menumenu" data-toggle="dropdown" href="#">CONTACT&nbsp;&nbsp;<span class="caret"></span></a>
                      <ul class="dropdown-menu dropdown-menu2">
                        <li><a href="<?php echo $this->config->application->baseURL ?>/contact/contactus"><span class="subcolor">Contact Us</span></a></li>
                        <li><a href="<?php echo $this->config->application->baseURL ?>/choosecountry"><span class="subcolor">Choose a Country</span></a></li>
                        <li><a href="<?php echo $this->config->application->baseURL ?>/contact/termsandconditions"><span class="subcolor">Terms & Conditions</span></a></li>
                        <li><a href="<?php echo $this->config->application->baseURL ?>/feed"><span class="subcolor" target="_blank">RSS</span></a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>
        </header>
        
        <!-- New Slider -->
        <div class="banner-container theme-default">
          <div id="slider" class="nivoSlider">

           <?php
           $getginfo = $msginfo;
           foreach ($getginfo as $key => $value) {
            ?><img style="width:100%;height:auto;" src="<?php echo $this->config->application->amazonS3; ?>/<?php echo $getginfo[$key]->path ?>" alt="" data-transition="slideInLeft"  />
            <?php
          }
          ?>
        </div>
        <div id="htmlcaption" class="nivo-html-caption">
          <strong>This</strong> is an example of a <em>HTML</em> caption with <a href="#">a link</a>. 
        </div>
      </div>
      <!-- END New Slider -->

      





      <!-- Slider starts -->
      <!-- class="sep1" -->
      <!-- Slider ends -->

      <!-- <div class="content pulltop" style="padding-bottom:60px"> -->
      <div class="content pulltop">
        <div class="container">
          <div class="row">

            <div class="col-md-4 wleft" >
              <div class="wwl">
                <!-- Service heading with font awesome icon -->
                <div class="font marjtop"><?php echo  $mediaTitle[0]->title?></div>
                <div class="wwl1">
                  <?php
                  $getginfo = $postjournal;
                  foreach ($getginfo as $key => $value) {
                    ?>
                    <a href="/post/view/<?php echo $getginfo[$key]->category ?>/<?php echo $getginfo[$key]->newsslugs ?>">
                      <div class="sidebarimage" style="background-image: url('<?php echo $getginfo[$key]->banner ?>');">
                      </div>
                    </a>
                  </div>
                  <!-- Service para -->
                  <div class="title2">
                    <a href="/post/view/<?php echo $getginfo[$key]->category ?>/<?php echo $getginfo[$key]->newsslugs ?>">
                     <?php echo $getginfo[$key]->title ?>
                   </a>
                 </div>
                 <p style="font-size:12">
                   <?php
                   echo substr(strip_tags(html_entity_decode($getginfo[$key]->body)),0,150)."...";
                   ?>
                 </p>

                 <?php } ?>
               </div>
             </div>
             <div class="col-md-4 ">
              <!-- Service heading with font awesome icon -->
              <div class="wwl">
                <div class="font marjtop"><?php echo  $mediaTitle[1]->title?></div>
                <div class="wwl1">
                  <?php
                  $getginfo = $latestvid;
                  foreach ($getginfo as $key => $value) {
                    $explode= explode('/', htmlspecialchars($getginfo[$key]->path, ENT_QUOTES));
                    $getid=explode(' ', $explode[4] );
                    $youtube_id=str_split($getid[0],11);
                    $path="http://i2.ytimg.com/vi/".$youtube_id[0]."/mqdefault.jpg";
                    ?>
                    <a href="/video/readabout/<?php echo $getginfo[$key]->slugs ?>">
                      <div class="sidebarimage" style="background-image: url('<?php echo $path ?>');"> </div>
                    </a>
                  </div>
                  <div class="title2">
                    <a href="/video/readabout/<?php echo $getginfo[$key]->slugs ?>">
                      <?php echo $getginfo[$key]->title?>
                    </a>
                  </div>
                  <p>
                    <?php echo strip_tags(substr($getginfo[$key]->description, 0,150),'').' ...' ?>
                  </p>
                  <?php

                }
                ?>
                <!-- Service para -->
              </div>
            </div>



            <div class="col-md-4  ">
              <div class="wwl">
                <!-- Service heading with font awesome icon -->
                <div class="font marjtop"><?php echo  $mediaTitle[2]->title?></div>
                <div class="wwl1">
                  <?php
                  $getginfo = $postinfo;

                  foreach ($getginfo as $key => $value) {
                    ?>
                    <a href="/post/view/<?php echo $getginfo[$key]->category ?>/<?php echo $getginfo[$key]->newsslugs ?>">
                      <div class="sidebarimage" style="background-image: url('<?php echo $getginfo[$key]->banner ?>');">
                      </div>
                    </a>
                  </div>
                  <!-- Service para -->
                  <div class="title2">
                   <a href="/post/view/<?php echo $getginfo[$key]->category ?>/<?php echo $getginfo[$key]->newsslugs ?>">
                     <?php echo $getginfo[$key]->title?>
                   </a>
                 </div>
                 <p>
                   <?php

                   echo substr(strip_tags(html_entity_decode($getginfo[$key]->body)),0,150)."...";

                   ?>


                 </p>

                 <?php } ?>
               </div>

             </div>
           </div>
           <div class="border_line"></div>
         </div>
       </div>
       <!-- Page content ends -->
       <!-- Recent posts carousel starts -->
       <div class="recent-posts" ng-controller="featuredproject">
        <div class="container">
          <div>
            <div class="slider-wrapper">

              <div class="font1"><?php echo  $mediaTitle[3]->title?></div>

              <div class="pagings">
                <ul class="pagination1">

                  <li ng-repeat="page in data.pages" ng-class="{ 'active' : data.index == page.num  }" class="paginate_button">
                    <a href="" ng-click="paging(page.num)"> {[{ page.num }]}</a>
                  </li>

                </ul>
              </div>



              <div class="lefter">
                <div class="featured-wrapper">
                  <a href="/projects/index/<?php echo $feat_id ?>">
                    <div class="featured-image" style="background-image: url('<?php echo $feat_picpath ?>')">

                      <div class="featcaption">
                        <?php echo $feat_title  ?>
                      </div>
                    </div>
                  </a>
                </div>

                <div class="project-wrapper" >
                  <a href="/projects/index/{[{ feat.feat_id }]}" ng-repeat="feat in data.data">
                    <div class="list-image" style="background-image: url('{[{ feat.feat_picpath }]}')">

                      <div class="featcaption">
                       {[{ feat.feat_title }]}
                     </div>
                     
                   </div>
                 </a>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>

     <div class="container" style="padding-top:0px;" ng-controller="NMSubcribersCtrl">

      <div class="frntEndForm" >

        <span ng-show="emailtaken != ''" class="btn bg-warning" style="color:#000;">Email is already subscribed.</span>
        <span ng-show="emailregister != ''" class="btn bg-success style="color:#000"">Thank you for subscribing to newsletter.</span>
        <span ng-show="blanko != ''" class="btn bg-danger" style="color:#000">Invalid email address.</span>

        <h3 class="signup">Sign up for weekly inspirational messages from Ilchi Lee</h3>
        <form class="form-inline form-validation ng-pristine ng-invalid ng-invalid-required" name="form" style="padding-bottom:22px;">
  <!--
         <div class="form-group">
           <input type="text" class="form-control ng-pristine ng-invalid-required ng-valid-pattern" id="name" name="name" ng-model="nms.name" placeholder="Name" required>
         </div>
         <div class="form-group ">
           <input type="text" class="form-control ng-pristine ng-invalid-required ng-valid-pattern" id="email" name="email" ng-model="nms.email" placeholder="E-mail" required>
         </div>
       -->
       <!-- BEGIN: Constant Contact Email List Form Button <div align="center"><a href="" class="btn m-b-xs butn" >Sign Up Now</a><div id="ctct_button_footer" style="font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#999999;margin-top: 10px;" align="center">For Email Newsletters you can trust.</div></div> -->
       <a target= "_blank"href="http://visitor.r20.constantcontact.com/d.jsp?llr=s8az7rdab&amp;p=oi&amp;m=1103333458802&amp;sit=qr7vytafb&amp;f=5f75bb62-17d2-4454-8f80-744f4b45883f" class="btn m-b-xs butn" style="font-size: 30px !important; color: #fff !important" >Sign-Up</a> <br><br>
       <a href="/newsletter">See E-Newsletter Archive</a>
       <!-- <button type="submit" class="btn m-b-xs butn" ng-click="SaveNMS(nms)">Sign-Up</button> -->
     </form>
   </div>


 </div>

</div>
</div>
</div>
</div>

<!-- Recent Posts ends -->

<div class="container" >
  <div class="cont1" >

    <div> 
      <?php echo $aboutIlchi ?>
      <!-- <div class="titlewho">Who is Ilchi Lee?</div>
      <div>
        <img src="images/pic.png" alt=""  class="ilchi" />
        <p>
          Ilchi Lee is a dedicated advocate for a peaceful, sustainable world, a New York Times bestselling author, and an innovative leader in human brain potential development. A true believer in the power of each person to change themselves and the world around them, Ilchi Lee has developed many mind-body training methods, including Dahn Yoga and Brain Education, and has helped millions of people globally find their true potential and develop it for the benefit of all.
        </p>
      </div> -->

      <a style="" href="/page/index/Who-is-Ilchi-Lee" class="btn m-b-xs butn1" ><p style="color:#fff;">Learn More</p></a>
    </div>
  </div>
  <div style="clear:both;"></div>
</div>






<!-- Footer starts -->
<div class="footer">
  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <div class="socialmedia">
          <!-- Copyright info -->
          <div class="footercont">
            <ul class="linkfooter">
              <li> <a href="<?php echo $socialLink[3]->url?>" target="_blank"><img class="socialimg" src="/images/socialmedai/google.png"></a></li>
              <li> <a href="<?php echo $socialLink[4]->url?>" target="_blank"><img class="socialimg" src="/images/socialmedai/cam.png"></a></li>
              <li> <a href="<?php echo $socialLink[5]->url?>" target="_blank"><img class="socialimg" src="/images/socialmedai/p.png"></a></li>
              <li> <a href="<?php echo $socialLink[6]->url?>" target="_blank"><img class="socialimg" src="/images/socialmedai/in.png"></a></li>
              <li> <a href="<?php echo $socialLink[7]->url?>" target="_blank"><img class="socialimg" src="/images/socialmedai/t.png"></a></li>
              <li> <a href="<?php echo $socialLink[8]->url?>" target="_blank"><img class="socialimg" src="/images/socialmedai/dot.png"></a></li>
            </ul>
          </div>
        </div>
        <div class="footercont1">
         <ul>
          <li> <a style="color: #fff;text-decoration:none;" href="#"> Copyright &copy; 2015 www.ilchi.com </a> </li>

          <li > <a style="color: #fff;" href="<?php echo $this->config->application->baseURL ?>/contact/termsandconditions">Terms & Conditions </a></li>
          <li class="l1">|</li>
          <li> <a style="color: #fff;" href="<?php echo $this->config->application->baseURL ?>/choosecountry">Choose a Country </a></li>
          <li class="l2">|</li>

          <li> <a style="color: #fff;font-size:15px;" href="/newsletter" >E-Newsletter </a></li>

          <li class="l3">|</li>
          <li> <a style="color: #fff;" href="<?php echo $this->config->application->baseURL ?>/contact/contactus" class="link">Contact Us</a></li>

        </div>
      </div>
    </div>  
  </div>
</div>

<!-- Footer ends -->
<script type="text/javascript">
  var API_URL = '<?php echo $this->config->application->apiURL; ?>';
</script>
<!-- Scroll to top -->
<span class="totop"><a href="#"><i class="icon-chevron-up"></i></a></span>

<!-- start -->
<script src="/js/fr/jquery.min.js"></script>

<!-- JS -->
<script src="/js/fr/bootstrap.js"></script> <!-- Bootstrap -->
<!--<script src="/js/fr/jquery.isotope.js"></script>  Isotope -->
<!--<script src="/js/fr/jquery.prettyPhoto.js"></script>  Pretty Photo -->
<!-- <script src="/js/fr/filter.js"></script> Filter for support page -->

<!--<script src="/js/fr/jquery.flexslider-min.js"></script>  Flex slider -->
<!--<script src="/js/fr/jquery.cslider.js"></script>  Parallax Slider -->
<script src="/js/fr/modernizr.custom.28468.js"></script> <!-- Parallax slider extra -->

<!--<script src="/js/fr/jquery.carouFredSel-6.1.0-packed.js"></script>  Carousel for recent posts -->
<!--<script src="/js/fr/jquery.refineslide.min.js"></script>  Refind slider -->
<!--<script src="/js/fr/custom.js"></script>  Custom codes -->
<!-- <script src="/js/fr/jquery.autocomplete.js"></script> -->
<script src="/js/fr/easyResponsiveTabs.js"></script> <!-- jQuery -->


<script type="text/javascript" src="/js/angular/angular.min.js"></script>
<!-- <script type="text/javascript" src="/js/angular/angular-route.js"></script>
  <script type="text/javascript" src="/js/angular/angular-ui-router.min.js"></script> -->
  <script type="text/javascript" src="/js/angular/ui-validate.js"></script>
  <script type="text/javascript" src="/js/angular/angular-sanitize.js"></script>

  <!-- <script src="/js/ckeditor/ckeditor.js"></script> -->
  <script src="/js/ckeditor/styles.js"></script>
  <script type="text/javascript" src="/js/fr/app.js"></script>

  <!-- Angular -->
  <script src="/js/angular/angular-cookies.min.js"></script>
  <script src="/js/angular/angular-animate.min.js"></script>
  <script src="/js/angular/angular-translate.js"></script>
  <script src="/js/angular/ngStorage.min.js"></script>
  <script src="/js/angular/ui-load.js"></script>
  <script src="/js/angular/ui-jq.js"></script>

  <!-- Calendar Demo -->
  <script src="/fcalendar/jquery.js"></script>
  <!-- <script src="/fcalendar/angular.js"></script> -->
  <script src="/fcalendar/ui-bootstrap-tpls-0.9.0.js"></script>
  <script src="/fcalendar/moment.js"></script>
  <script src="/fcalendar/fullcalendar.js"></script>
  <script src="/fcalendar/gcal.js"></script>
  <script src="/fcalendar/calendar.js"></script>
  <!-- <script src="/fcalendar/calendarDemo.js"></script> -->

  <script src="/js/fr/easyResponsiveTabs.js"></script> <!-- jQuery -->
  <script type="text/javascript">
    $(document).ready(function () {
        //Horizontal Tab
        $('#parentHorizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true, // 100% fit in a container
            tabidentify: 'hor_1', // The tab groups identifier
            activate: function (event) { // Callback function if tab is switched
              var $tab = $(this);
              var $info = $('#nested-tabInfo');
              var $name = $('span', $info);
              $name.text($tab.text());
              $info.show();
            }
          });

        // Child Tab
        $('#ChildVerticalTab_1').easyResponsiveTabs({
          type: 'vertical',
          width: 'auto',
          fit: true,
            tabidentify: 'ver_1', // The tab groups identifier
            activetab_bg: '#fff', // background color for active tabs in this group
            inactive_bg: '#F5F5F5', // background color for inactive tabs in this group
            active_border_color: '#c1c1c1', // border color for active tabs heads in this group
            active_content_border_color: '#5AB1D0' // border color for active tabs contect in this group so that it matches the tab head border
          });

        //Vertical Tab
        $('#parentVerticalTab').easyResponsiveTabs({
            type: 'vertical', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true, // 100% fit in a container
            closed: 'accordion', // Start closed if in accordion view
            tabidentify: 'hor_1', // The tab groups identifier
            activate: function (event) { // Callback function if tab is switched
              var $tab = $(this);
              var $info = $('#nested-tabInfo2');
              var $name = $('span', $info);
              $name.text($tab.text());
              $info.show();
            }
          });
      });
</script>
<!-- end -->

<script type="text/javascript" src="js/fr/jquery.cslider.js"></script>
<script src="js/fr/bootstrap-hover-dropdown.min.js"></script>

<script type="text/javascript">
  $(function () {

    $('#da-slider').cslider();
  });
</script>

<script src="/js/fr/menumaker.js"></script>


<script type="text/javascript" src="/slider/jquery.nivo.slider.js"></script>
<script type="text/javascript">
  $(window).load(function() {
    $('#slider').nivoSlider();
  });
</script>

<!-- Google Analytics-->
<!-- Google Analytics-->
<?php
echo $script_google;



?>
<!--End  Google Analytics-->
<!--End  Google Analytics-->

</body>
</html>
