<?php echo $this->getContent()?>



<style type="text/css">
/* General styles */
html, body {padding:0; margin:0; width:100%; min-height:100%;}
.wrapper {width:100%; height:100%;}
.page {width:100%; max-width:800px; margin:0 auto;}
h1,h3,h4,p {margin:0; padding:3px 0;}

/* Image map styles */
.imageMap {width:100%; position:relative; margin-bottom:200px;}
.imageMap img {display:block; width:100%; border-radius:20px;}
.imageMap .hotspots {width:100%; height:100%; position:absolute; left:0; top:0; visibility:hidden;}
.imageMap a {display:block; position:absolute;  z-index:100; opacity:0.2;  border:0px solid transparent; border-radius:10px; }


.imageMap a.p1 {left:46%; top:14%; width:11%; height:7%; }
.imageMap a.p1:hover {border: 1px solid #000}
.imageMap a.p2 {left:59%; top:21%; width:11%; height:7%;}
.imageMap a.p2:hover {border: 1px solid #000}
.imageMap a.p3 {left:65%; top:34%; width:11%; height:7%;}
.imageMap a.p3:hover {border: 1px solid #000}
.imageMap a.p4 {left:66.5%; top:49%; width:11%; height:7%;}
.imageMap a.p4:hover {border: 1px solid #000}
.imageMap a.p5 {left:63%; top:63%; width:11%; height:7%;}
.imageMap a.p5:hover {border: 1px solid #000}
.imageMap a.p6 {left:54.5%; top:74.4%; width:11%; height:7%;}
.imageMap a.p6:hover {border: 1px solid #000}
.imageMap a.p7 {left:39%; top:74%; width:11%; height:7%;}
.imageMap a.p7:hover {border: 1px solid #000}
.imageMap a.p8 {left:30%; top:63%; width:11%; height:7%;}
.imageMap a.p8:hover {border: 1px solid #000}
.imageMap a.p9 {left:26.5%; top:49.5%; width:11%; height:7%;}
.imageMap a.p9:hover {border: 1px solid #000}
.imageMap a.p10 {left:26.5%; top:36%; width:11%; height:7%;}
.imageMap a.p10:hover {border: 1px solid #000}
.imageMap a.p11 {left:32%; top:22%; width:12%; height:7%;}
.imageMap a.p11:hover {border: 1px solid #000}


.imageMap a + p {position:absolute; left:0%; top:102%; width:100%; color:#000; display:none;}

.imageMap:hover .hotspots {visibility:visible;}
.imageMap p strong {display:block; padding:0; margin:0; font: bold 25px/30px 'times new roman',serif; color:#000;}
.imageMap p {padding:0; margin:0; font: normal 18px/22px 'times new roman',serif; color:#444;}

.imageMap b {display:block; position:absolute; background:url(trans.gif); z-index:200; opacity:0.2; filter: alpha(opacity=20); padding:1px;
-webkit-transition:0.75s;
-moz-transition:0.75s;
-o-transition:0.75s;
transition:0.75s;
}
.imageMap b.b1 {left:11%; top:5%; width:25%; height:34%;}
.imageMap b.b2 {left:76%; top:13%; width:21%; height:30%;}
.imageMap b.b3 {left:5%; top:44%; width:22%; height:42%;}
.imageMap b.b4 {left:28%; top:41%; width:26.5%; height:43%;}
.imageMap b.b5 {left:55%; top:64%; width:15%; height:26%;}
.imageMap b.b6 {left:72%; top:53%; width:25%; height:35%;}

.imageMap .hotspots div:hover b {width:0; padding:0;}
.imageMap .hotspots div:hover p {display:block;}

</style>





<div style="text-align:center;" class="imageMap">
<img id="myImage" src="/images/earth.jpg"  alt="Planets" usemap="#planetmap">
<div class="hotspots">
        
        <div title=""><a href="http://chinese2.ilchi.com/" class="p2" rel="nofollow" aria-haspopup="false"></div>
        <div title=""><a href="http://chinese.ilchi.com/" class="p3" rel="nofollow" aria-haspopup="false"></div>
        <div title=""><a href="http://www.ilchi.net/" class="p4" rel="nofollow" aria-haspopup="false"></div>
        <div title=""><a href="http://www.ilchi.jp/" class="p5" rel="nofollow" aria-haspopup="false"></div>
        <div title=""><a href="http://german.ilchi.com/" class="p6" rel="nofollow" aria-haspopup="false"></div>
        <div title=""><a href="http://french.ilchi.com/" class="p7" rel="nofollow" aria-haspopup="false"></div>
        <div title=""><a href="http://italian.ilchi.com/" class="p8" rel="nofollow" aria-haspopup="false"></div>
        <div title=""><a href="http://spanish.ilchi.com/" class="p9" rel="nofollow" aria-haspopup="false"></div>
        <div title=""><a href="http://russian.ilchi.com/" class="p10" rel="nofollow" aria-haspopup="false"></div>
        <div title=""><a href="http://portuguese.ilchi.com/" class="p11" rel="nofollow" aria-haspopup="false"></div>
        <div title=""><a href="" class="p1" rel="nofollow" aria-haspopup="false"></div>
      </div>
</div>





   