<?php echo $this->getContent()?>
<style type="text/css">
	.list-image
	{ 
		float: left;
		width:228px;
		height:210px;
		position: relative;
		overflow: hidden;
		background-size: cover;
		background-position: center center;
		float:left;
		margin: 0px 10px 10px 0px;
	}
	

	.simple-caption {
		text-transform: none;
		position: absolute; 
		margin: auto;
		width:100%; 
		font-family: 'Proxima Nova Alt Regular';
		font-size: 12pt;
		padding: 10px;
		color: #444; 
	}
</style>
<link rel="stylesheet" href="/mosaic/css/mosaic2.css" type="text/css" media="screen" />
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
<script type="text/javascript" src="/mosaic/js/mosaic.1.0.1.js"></script>
<script type="text/javascript">  

	jQuery(function($){

		$('.circle').mosaic({
          opacity   : 0.8     //Opacity for overlay (0-1)
      });

		$('.fade').mosaic();

		$('.bar').mosaic({
          animation : 'slide'   //fade or slide
      });

		$('.bar2').mosaic({
          animation : 'slide'   //fade or slide
      });

		$('.bar3').mosaic({
          animation : 'slide',  //fade or slide
          anchor_y  : 'top'   //Vertical anchor position
      });

		$('.cover').mosaic({
          animation : 'slide',  //fade or slide
          hover_x   : '180px'   //Horizontal position on hover
      });

		$('.cover2').mosaic({
          animation : 'slide',  //fade or slide
          anchor_y  : 'top',    //Vertical anchor position
          hover_y   : '80px'    //Vertical position on hover
      });

		$('.cover3').mosaic({
          animation : 'slide',  //fade or slide
          hover_x   : '400px',  //Horizontal position on hover
          hover_y   : '180px'   //Vertical position on hover
      });

	});

</script>
</style>

<?php

function thisdata($dbyear,$dbmonth,$dbday){
	$months = array('00' => '', '01' => 'January', '02' => 'February', '03' => 'March', '04' => 'April', '05' => 'May', '06' => 'June', '07'=> 'July', '08' => 'August', '09' => 'September', '10'=> 'October', '11' => 'November', '12' => 'December');

	if($dbday=="00"){
		$day='';
	}else{
		$day=$dbyear ;
	}
	if($dbyear=="0000"){
		$year='';
	}else{
		$year=$dbday ;
	}

	$thisdate=$months[$dbmonth]." ".$day." ".$year;

	return $thisdate;

} 
?>
<div class="content">
	<div class="row" tyle="padding-left:10px;">
		<div class="pull-right " style="margin:-5px 28px 0px 0px" >
			<a href="video/morefeatured/1" class="btn m-b-xs btn-sm btn-info btn-addon"><i class="fa fa-plus"></i>Show More Featured Videos</a>
		</div>
		<div class="h3" style="margin-left:30px;margin-bottom:20px;"><p>Featured Videos</p></div>
		<div style="padding-left:30px;">

			<?php
			$count=0; 
			$getginfo = $featuredvid;
			foreach ($getginfo as $key => $value) {

				if($count<=3){

					

					$explode= explode('/', htmlspecialchars($getginfo[$key]->path, ENT_QUOTES));
					$getid=explode(' ', $explode[4] );
					$youtube_id=str_split($getid[0],11);
					$img="<img src='http://i2.ytimg.com/vi/".$youtube_id[0]."/mqdefault.jpg' style='width:100%;'>";
					?>
					<div class="list-image bar2 " style="background-image: url('http://i2.ytimg.com/vi/<?php echo $youtube_id[0] ?>/mqdefault.jpg')">
						<a href="<?php echo $this->config->application->baseURL ?>/video/readabout/<?php echo $getginfo[$key]->slugs ?>" class="mosaic-overlay">
							<div class="simple-caption details">
								<div style="height:62px;margin-top:30px;margin-bottom:30px;">
									<div><?php echo $getginfo[$key]->title?> </div>
								</div>
								<br>
								<div><?php echo $getginfo[$key]->title?> </div>
								<br>
								<ol style="list-style:none;margin-left:-40px;font-size:12px;float:left;">
									<li>Location: <?php echo $getginfo[$key]->location ?></li>
									<li>Date:<?php 

										echo thisdata(substr($getginfo[$key]->date,8,2),substr($getginfo[$key]->date,5,2),substr($getginfo[$key]->date, 0,4));
										
										?>
									</li>
									<li>Duration: <?php echo $getginfo[$key]->duration ?></li>
									<li>Language: <?php echo $getginfo[$key]->language ?></li>
								</ol>
							</div>


						</a>
					</div>
					<?php
				}
				$count++;
			}
			
			?>
		</div>
	</div>
</div>
<hr style="border-bottom:1px solid #ddd">

<div class="content">
	<div class="row" style="padding-left:10px;">
		<div class="pull-right " style="margin:-5px 28px 0px 0px" >
			<a href="video/showmore/1" class="btn m-b-xs btn-sm btn-info btn-addon"><i class="fa fa-plus"></i>Show More Public Talks</a>
		</div>
		<div class="h3" style="margin-left:20px;margin-bottom:10px;"><p>Public Talks</p></div>

		<div style="padding-left:21px;">
			<?php
			$count=0; 
			$getginfo = $msginfo;
			foreach ($getginfo as $key => $value) {
				if($getginfo[$key]->album==1){
					if($count<=7){

						$explode= explode('/', htmlspecialchars($getginfo[$key]->path, ENT_QUOTES));
						$getid=explode(' ', $explode[4] );
						$youtube_id=str_split($getid[0],11);
						$img="<img src='http://i2.ytimg.com/vi/".$youtube_id[0]."/mqdefault.jpg' style='width:100%;height:180px;'>";
						?>

						<div class="list-image bar2 " style="background-image: url('http://i2.ytimg.com/vi/<?php echo $youtube_id[0] ?>/mqdefault.jpg')">
							<a href="<?php echo $this->config->application->baseURL ?>/video/readabout/<?php echo $getginfo[$key]->slugs ?>" class="mosaic-overlay">
								<div class="simple-caption details">
									<div style="height:62px;margin-top:30px;margin-bottom:30px;">
										<div><?php echo $getginfo[$key]->title?> </div>
									</div>
									<br>
									<div><?php echo $getginfo[$key]->title?> </div>
									<br>
									<ol style="list-style:none;margin-left:-40px;font-size:12px;float:left;">
										<li>Location: <?php echo $getginfo[$key]->location ?></li>
										<li>Date:<?php 

											echo thisdata(substr($getginfo[$key]->date,8,2),substr($getginfo[$key]->date,5,2),substr($getginfo[$key]->date, 0,4));
											?>
										</li>
										<li>Duration: <?php echo $getginfo[$key]->duration ?></li>
										<li>Language: <?php echo $getginfo[$key]->language ?></li>
									</ol>
								</div>


							</a>
						</div>
						<?php

					}
					$count++;
				}

			}
			?>
		</div>
	</div>
</div>
<hr style="border-bottom:1px solid #ddd">
<div class="content" >

	<div class="row"  style="padding-left:10px;">
		<div class="pull-right " style="margin:-5px 28px 0px 0px" >
			<a href="video/showmore/2" class="btn m-b-xs btn-sm btn-info btn-addon"><i class="fa fa-plus"></i>Show More Short Clips</a>
		</div>
		
		<div class="h3" style="margin-left:20px;margin-bottom:10px;"><p>Short Clips</h2></div>
		<div style="padding-left:21px;">
			<?php 
			$count=0; 
			$getginfo = $msginfo;
			foreach ($getginfo as $key => $value) {
				if($getginfo[$key]->album==2){
					if($count<=7){

						$explode= explode('/', htmlspecialchars($getginfo[$key]->path, ENT_QUOTES));
						$getid=explode(' ', $explode[4] );
						$youtube_id=str_split($getid[0],11);
						$img="<img src='http://i2.ytimg.com/vi/".$youtube_id[0]."/mqdefault.jpg' style='width:100%;height:180px;'>";
						?>
						<div class="list-image bar2 " style="background-image: url('http://i2.ytimg.com/vi/<?php echo $youtube_id[0] ?>/mqdefault.jpg')">
							<a href="<?php echo $this->config->application->baseURL ?>/video/readabout/<?php echo $getginfo[$key]->slugs ?>" class="mosaic-overlay">
								<div class="simple-caption details">
									<div style="height:62px;margin-top:30px;margin-bottom:30px;">
										<div><?php echo $getginfo[$key]->title?> </div>
									</div>
									<br>
									<div><?php echo $getginfo[$key]->title?> </div>
									<br>
									<ol style="list-style:none;margin-left:-40px;font-size:12px;float:left;">
										<li>Location: <?php echo $getginfo[$key]->location ?></li>
										<li>Date:<?php 
											echo thisdata(substr($getginfo[$key]->date,8,2),substr($getginfo[$key]->date,5,2),substr($getginfo[$key]->date, 0,4));
											?>
										</li>
										<li>Duration: <?php echo $getginfo[$key]->duration ?></li>
										<li>Language: <?php echo $getginfo[$key]->language ?></li>
									</ol>
								</div>


							</a>
						</div>
						<?php
					}
					$count++;
				}

			}
			?>
		</div>
	</div>
</div>
<hr style="border-bottom:1px solid #ddd">
<div class="content" >
	<div class="row"  style="padding-left:10px;">
		<div class="pull-right " style="margin:-5px 28px 0px 0px" >
			<a href="video/showmore/3" class="btn m-b-xs btn-sm btn-info btn-addon"><i class="fa fa-plus"></i>Show More Video Journals</a>
		</div>
		<div class="h3" style="margin-left:20px;margin-bottom:10px;"><p>Video Journals</p></div>
		<div style="padding-left:21px;">
			<?php 
			$count=0; 
			$getginfo = $msginfo;
			foreach ($getginfo as $key => $value) {
				if($getginfo[$key]->album==3){
					if($count<=7){

						$explode= explode('/', htmlspecialchars($getginfo[$key]->path, ENT_QUOTES));
						$getid=explode(' ', $explode[4] );
						$youtube_id=str_split($getid[0],11);
						?>
						<div class="list-image bar2 " style="background-image: url('http://i2.ytimg.com/vi/<?php echo $youtube_id[0] ?>/mqdefault.jpg')">
							<a href="<?php echo $this->config->application->baseURL ?>/video/readabout/<?php echo $getginfo[$key]->slugs ?>" class="mosaic-overlay">
								<div class="simple-caption details">
									<div style="height:62px;margin-top:30px;margin-bottom:30px;">
										<div><?php echo $getginfo[$key]->title?> </div>
									</div>
									<br>
									<div><?php echo $getginfo[$key]->title?> </div>
									<br>
									<ol style="list-style:none;margin-left:-40px;font-size:12px;float:left;">
										<li>Location: <?php echo $getginfo[$key]->location ?></li>
										<li>Date:<?php 

											echo thisdata(substr($getginfo[$key]->date,8,2),substr($getginfo[$key]->date,5,2),substr($getginfo[$key]->date, 0,4));
											
											?>
										</li>
										<li>Duration: <?php echo $getginfo[$key]->duration ?></li>
										<li>Language: <?php echo $getginfo[$key]->language ?></li>
									</ol>
								</div>


							</a>
						</div>
						<?php
					}
					$count++;
				}

			}
			?>
		</div>
	</div>
</div>



