<?php 
$albumname ='';
echo $this->getContent()

?>
<style type="text/css">
	iframe{
		width:100%;
		height: 100%;
	}
</style>


<div class="content">
	<div class="row">
		<?php 
		$getginfo = $msginfo;
		foreach ($getginfo as $key => $value) {
			$albumname=$getginfo[$key]->album;
			$vidsid=$getginfo[$key]->id;


			$explode= explode('/', htmlspecialchars($getginfo[$key]->path, ENT_QUOTES));
			$getid=explode(' ', $explode[4] );
			$youtube_id=str_split($getid[0],11);
			$vidID= $youtube_id[0];
			$url = "http://gdata.youtube.com/feeds/api/videos/". $vidID;
			// $doc = new DOMDocument;
			// $doc->load($url);
			// $duration = $doc->getElementsByTagName('duration')->item(0)->getAttribute('seconds');
			// $time= sprintf("%0.2f", $duration/60);
			// $fduration= str_replace(".",":",$time);

			?>

			<div class="col-md-8 " style="margin-bottom:20px;z-index:999999">
				<div style="height:300px;">
					<?php echo $getginfo[$key]->path ?>
				</div>
				<br>
				<div class="h3"><p><?php echo $getginfo[$key]->title ?></p></div>
				<hr style="border-bottom:#ddd solid 2px;" />
				<ol style="list-style:none;margin-left:-40px;">
					<li>Location: <?php echo $getginfo[$key]->location ?></li>
					<li>Date: <?php echo $getginfo[$key]->date ?></li>
					<li>Duration: <?php echo $getginfo[$key]->duration ?></li>
					<li>Language: <?php echo $getginfo[$key]->language ?></li>
				</ol>
				<table>
					<tr>
						<td>
							<div class="simplesocialbutton ssb-button-googleplus"><!-- Google Plus One--><div id="___plusone_0" style="text-indent: 0px; margin: 0px; padding: 0px; border-style: none; float: none; line-height: normal; font-size: 1px; vertical-align: baseline; display: inline-block; width: 60px; height: 20px; background: transparent;"><iframe frameborder="0" hspace="0" marginheight="0" marginwidth="0" scrolling="no" style="position: static; top: 0px; width: 90px; margin: 0px; border-style: none; left: 0px; visibility: visible; height: 20px;" tabindex="0" vspace="0" width="100%" id="I0_1425969622205" name="I0_1425969622205" src="https://apis.google.com/u/0/se/0/_/+1/fastbutton?usegapi=1&amp;size=medium&amp;hl=en&amp;origin=http%3A%2F%2Fwww.ilchi.com&amp;url=http%3A%2F%2Fwww.ilchi.com%2Fvideo-library%2Fhow-to-change-immediately-for-a-better-life%2F&amp;gsrc=3p&amp;ic=1&amp;jsh=m%3B%2F_%2Fscs%2Fapps-static%2F_%2Fjs%2Fk%3Doz.gapi.en.k4T_ZtSsQWw.O%2Fm%3D__features__%2Fam%3DAQ%2Frt%3Dj%2Fd%3D1%2Ft%3Dzcms%2Frs%3DAGLTcCN1D09WxLpJwWdwvJVL9IE8tRi5pg#_methods=onPlusOne%2C_ready%2C_close%2C_open%2C_resizeMe%2C_renderstart%2Concircled%2Cdrefresh%2Cerefresh%2Conload&amp;id=I0_1425969622205&amp;parent=http%3A%2F%2Fwww.ilchi.com&amp;pfname=&amp;rpctoken=20736328" data-gapiattached="true" title="+1"></iframe></div></div>
						</td>
						<td>
							<div class="simplesocialbutton ssb-button-fblike"><!-- Facebook like--><div id="fb-root" class=" fb_reset"><div style="position: absolute; top: -10000px; height: 0px; width: 0px;"><div><iframe name="fb_xdm_frame_http" frameborder="0" allowtransparency="true" scrolling="no" id="fb_xdm_frame_http" aria-hidden="true" title="Facebook Cross Domain Communication Frame" tabindex="-1" src="http://static.ak.facebook.com/connect/xd_arbiter/rFG58m7xAig.js?version=41#channel=f2a8735fa4&amp;origin=http%3A%2F%2Fwww.ilchi.com" style="border: none;"></iframe><iframe name="fb_xdm_frame_https" frameborder="0" allowtransparency="true" scrolling="no" id="fb_xdm_frame_https" aria-hidden="true" title="Facebook Cross Domain Communication Frame" tabindex="-1" src="https://s-static.ak.facebook.com/connect/xd_arbiter/rFG58m7xAig.js?version=41#channel=f2a8735fa4&amp;origin=http%3A%2F%2Fwww.ilchi.com" style="border: none;"></iframe></div></div><div style="position: absolute; top: -10000px; height: 0px; width: 0px;"><div></div></div></div><div class="fb-like fb_iframe_widget" data-href="http://www.ilchi.com/video-library/how-to-change-immediately-for-a-better-life/" data-send="false" data-layout="button_count" data-show-faces="false" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=&amp;container_width=0&amp;href=http%3A%2F%2Fwww.ilchi.com%2Fvideo-library%2Fhow-to-change-immediately-for-a-better-life%2F&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;send=false&amp;show_faces=false"><span style="vertical-align: bottom; width: 76px; height: 20px;"><iframe name="ffd3c6df" width="1000px" height="1000px" frameborder="0" allowtransparency="true" scrolling="no" title="fb:like Facebook Social Plugin" src="http://www.facebook.com/plugins/like.php?app_id=&amp;channel=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter%2FrFG58m7xAig.js%3Fversion%3D41%23cb%3Dfe4e5cbbc%26domain%3Dwww.ilchi.com%26origin%3Dhttp%253A%252F%252Fwww.ilchi.com%252Ff2a8735fa4%26relation%3Dparent.parent&amp;container_width=0&amp;href=http%3A%2F%2Fwww.ilchi.com%2Fvideo-library%2Fhow-to-change-immediately-for-a-better-life%2F&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;send=false&amp;show_faces=false" style="border: none; visibility: visible; width: 76px; height: 20px;" class=""></iframe></span></div></div>
						</td>
						<td>
							<div class="simplesocialbutton ssb-button-twitter"><!-- Twitter--><iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" src="http://platform.twitter.com/widgets/tweet_button.b44aac737ba5fb3711801841c2833c12.en.html#_=1425969622386&amp;count=horizontal&amp;dnt=false&amp;id=twitter-widget-0&amp;lang=en&amp;original_referer=http%3A%2F%2Fwww.ilchi.com%2Fvideo-library%2Fhow-to-change-immediately-for-a-better-life%2F&amp;size=m&amp;text=How%20to%20Change%20Immediately%20for%20a%20Better%20Life&amp;url=http%3A%2F%2Fwww.ilchi.com%2Fvideo-library%2Fhow-to-change-immediately-for-a-better-life%2F" class="twitter-share-button twitter-tweet-button twitter-share-button twitter-count-horizontal" title="Twitter Tweet Button" data-twttr-rendered="true" style="width: 107px; height: 20px;"></iframe></div>
						</td>
					</tr>
				</table>


				<div style="margin-top:20px;" class="content2">
					<p>
						<?php echo $getginfo[$key]->description ?>                     
					</p>


				</div>
			</div>
			<?php
		}
		?>
					<div class="col-lg-4">
						<!-- chat -->
						<div class="panel panel-default">
							<div class="panel-heading vidtitle"><?php
						
							if($albumname==1) {
								echo "More Public Talks";
							}elseif ($albumname==2) {
								echo "More Short Clips";
							}
							elseif ($albumname==3) {
								echo "More Video Journals";
							}else{
								echo "More ".$vidalbum.'\'s';
							} 


							?></div>
							<div class="some-content-related-div">
								<div style=" overflow: scroll;max-height:860px;">
									<br>
									<?php 
									$getginfo = $msginfo1;
									$count=0;
									foreach ($getginfo as $key => $value) {

										if($getginfo[$key]->album==$albumname && $getginfo[$key]->id!=$vidsid){
											$explode= explode('/', htmlspecialchars($getginfo[$key]->path, ENT_QUOTES));
											$getid=explode(' ', $explode[4] );
											$youtube_id=str_split($getid[0],11);
											$count++;	
											?>
											<div class="h2vid" style="padding:10px;"><p><?php echo $getginfo[$key]->title?></p></div>
											<div class="img_cont imageHolder">  
												<a href="<?php echo $this->config->application->baseURL ?>/video/readabout/<?php echo $getginfo[$key]->slugs?>" style="padding:5px;">
													<?php echo $thumb1 = "<img src='http://i2.ytimg.com/vi/".$youtube_id[0]."/mqdefault.jpg' style='width:95%;height:150px;'>";?>
												</a>

											</div>
											<hr style="border-bottom:2px solid #ddd">
											<?php
										}

									}
									if($count==0){
										echo "<div style='padding:10px; text-align:center;color:red;'>No more Video Availabel at the moment</div>";
									}
									?>
								</div>
							</div>


						</div>
						<!-- /chat -->            

					</div>
				</div>
			</div>




