<?php echo $this->getContent()?>
<style type="text/css">
	.list-image
	{ 
		float: left;
		width:227px;
		height:250px;
		position: relative;
		overflow: hidden;
		background-size: cover;
		background-position: center center;
		float:left;
		margin: 0px 10px 10px 0px;
	}
	

	.simple-caption {
		position: absolute; 
		margin: auto;
		width:100%; 
		font-family: 'Proxima Nova Alt Regular';
		font-size: 12pt;
		padding: 10px;
		color: #000; 
	}
</style>
<link rel="stylesheet" href="/mosaic/css/mosaic.css" type="text/css" media="screen" />
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
<script type="text/javascript" src="/mosaic/js/mosaic.1.0.1.js"></script>
<script type="text/javascript">  

	jQuery(function($){

		$('.circle').mosaic({
          opacity   : 0.8     //Opacity for overlay (0-1)
      });

		$('.fade').mosaic();

		$('.bar').mosaic({
          animation : 'slide'   //fade or slide
      });

		$('.bar2').mosaic({
          animation : 'slide'   //fade or slide
      });

		$('.bar3').mosaic({
          animation : 'slide',  //fade or slide
          anchor_y  : 'top'   //Vertical anchor position
      });

		$('.cover').mosaic({
          animation : 'slide',  //fade or slide
          hover_x   : '400px'   //Horizontal position on hover
      });

		$('.cover2').mosaic({
          animation : 'slide',  //fade or slide
          anchor_y  : 'top',    //Vertical anchor position
          hover_y   : '80px'    //Vertical position on hover
      });

		$('.cover3').mosaic({
          animation : 'slide',  //fade or slide
          hover_x   : '400px',  //Horizontal position on hover
          hover_y   : '300px'   //Vertical position on hover
      });

	});
</script>

 <div class="row">
      
    </div>
    <div class="content">

    	<?php 
      if($album==1) {
        $name= "Public Talk";
      }elseif ($album==2) {
        $name= "Short Clip";
      }
      elseif ($album==3) {
        $name="Video Journal";
      }
    	echo '<div class="h3"><p>'.$name.'s</p></div>
    	<br>';
    	$getginfo = $showmore;
    	foreach ($getginfo as $key => $value) {
    		if($getginfo[$key]->album==$album){

    			$explode= explode('/', htmlspecialchars($getginfo[$key]->path, ENT_QUOTES));
    			$getid=explode(' ', $explode[4] );
    			$youtube_id=str_split($getid[0],11);


          $vidID= $youtube_id[0];
          $url = "http://gdata.youtube.com/feeds/api/videos/". $vidID;
          // $doc = new DOMDocument;
          // $doc->load($url);
          // $duration = $doc->getElementsByTagName('duration')->item(0)->getAttribute('seconds');
          // $time= sprintf("%0.2f", $duration/60);
          // $fduration= str_replace("."," : ",$time);



    			?>

    			<div class="list-image bar2 " style="background-image: url('http://i2.ytimg.com/vi/<?php echo $youtube_id[0] ?>/mqdefault.jpg')">
    				<a href="<?php echo $this->config->application->baseURL ?>/video/readabout/<?php echo $getginfo[$key]->slugs ?>" class="mosaic-overlay">
    					<div class="simple-caption details">
    						<div style="height:62px;margin-top:30px;margin-bottom:30px;">
    							<div><?php echo $getginfo[$key]->title?> </div>
    						</div>
    						<div><?php echo $getginfo[$key]->title?> </div>
    						<br>
    						<ol style="list-style:none;margin-left:0px;font-size:12px;">
    							<li>Location: <?php echo $getginfo[$key]->location ?></li>
    							<li>Date:<?php 


                 $dbday =substr($getginfo[$key]->date,8,2) ;
                  $dbmonth =substr($getginfo[$key]->date,5,2) ;
                  $dbyear=substr($getginfo[$key]->date, 0,4) ;
                  $months = array('00' => '', '01' => 'January', '02' => 'February', '03' => 'March', '04' => 'April', '05' => 'May', '06' => 'June', '07'=> 'July', '08' => 'August', '09' => 'September', '10'=> 'October', '11' => 'November', '12' => 'December');

                  if($dbday=="00"){
                    $day='';
                  }else{
                    $day=substr($getginfo[$key]->date,8,2) ;
                  }
                  if($dbyear=="0000"){
                    $year='';
                  }else{
                    $year=substr($getginfo[$key]->date, 0,4) ;
                  }
                  echo $months[$dbmonth]." ".$day." ".$year


                ?>
                </li>
    							<li>Duration: <?php echo $getginfo[$key]->duration ?> <li>
    							<li>Language: <?php echo $getginfo[$key]->language ?></li>
    						</div>
    					</div>


    				</a>
    			<?php
    		}
    	}
    	?>  			
    </div>

