<!DOCTYPE html>
<html lang="en" data-ng-app="app">
<head >
  <title>Ilchi Lee - Brain Education for Earth Citizens</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="user-scalable = yes" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
  <!-- Stylesheets -->
  <link href="/css/fr/bootstrap.css" rel="stylesheet">
  <!-- Pretty Photo -->
  <link href="/css/fr/prettyPhoto.css" rel="stylesheet">
  <!-- Flex slider -->
  <link href="/css/fr/flexslider.css" rel="stylesheet">
  <!-- Font awesome icon -->
  <link rel="stylesheet" href="/css/fr/font-awesome.css">
  <!-- Parallax slider -->
  <link rel="stylesheet" href="/css/fr/slider.css">
  <!-- Refind slider -->
  <link rel="stylesheet" href="/css/fr/refineslide.css">
  <!-- Main stylesheet -->
  <link href="/css/fr/style.css" rel="stylesheet">
  <!-- Stylesheet for Color -->
  <!-- <link href="/css/fr/red.css" rel="stylesheet"> -->
  <link href="/css/fr/inline.css" rel="stylesheet">

  <link href="/css/fr/parallax.css" rel="stylesheet">


  <link href="/css/slider/skdslider.css" rel="stylesheet">

  <link rel="stylesheet" href="/css/dist/css/superfish.css" media="screen">



  <link href="/css/fr/menumaker.css" rel="stylesheet">

  <script type="text/javascript" src="../addons/bootstrap/jquery.smartmenus.bootstrap.js"></script>

  <!-- CAMERA -->

  <!-- HTML5 Support for IE -->
        <!--[if lt IE 9]>
        <script src="js/html5shim.js"></script>
        <![endif]-->

        <!-- Favicon -->
        <link rel="shortcut icon" href="img/favicon/favicon.png">

        <script src="/js/dist/js/jquery.js"></script>
        <script src="/js/dist/js/hoverIntent.js"></script>
        <script src="/js/dist/js/superfish.js"></script>




      <link rel="shortcut icon" href="/img/favicon/favicon.png">




      <style type="text/css">
      .container-body{
            width: 800px;
            margin: auto;
            text-align: center;
      }
      .mainenance-logo{
            padding-top: 50px;
            width: 589px;
            margin: auto;
      }
      .mainenance-msg{
            padding-top: 20px;
            font-size: 30px;
      }
      .mainenance-social{
            padding-top: 20px;
            font-size: 15px;
      }
      .linksocial li{
        display: inline-block !important;
        list-style: none;
      }
      .linksocial {
        padding-left: 0px !important;
      }

      </style>
</head>

<body ng-controller="indexMainCtrl">
    <!-- Header starts -->
    <div class="container-body">
        <div class="mainenance-logo">
            <img src="/images/mainenance_logo.png">
        </div>        
    </div>
    <div class="container-body">
    <div class="mainenance-msg">
    <span>Thank you for visiting our website.</span>  <br/> <br/>   
    <span>Please excuse us while it's being updated.</span>     
    </div>
    <div class="mainenance-social">
        <span>For the mean time please visit our social media pages.</span>  <br/> <br/>   
        <div>
            <ul class="linksocial">
              <li> <a href="https://www.facebook.com/ilchi" target="_blank"><img src="images/f.png"></a></li>
              <li> <a href="https://twitter.com/ilchilee" target="_blank"><img src="images/t.png"></a></li>
              <li> <a href="https://www.youtube.com/user/IlchiLee" target="_blank"><img src="images/g.png"></a></li>
              <li> <a href="https://plus.google.com/+Ilchi" target="_blank"><img src="/images/socialmedai/google.png"></a></li>
              <li> <a href="https://instagram.com/ilchilee/" target="_blank"><img src="/images/socialmedai/cam.png"></a></li>
              <li> <a href="https://www.pinterest.com/ilchilee/" target="_blank"><img src="/images/socialmedai/p.png"></a></li>
              <li> <a href="https://www.linkedin.com/in/ilchi" target="_blank"><img src="/images/socialmedai/in.png"></a></li>
              <li> <a href="http://ilchilee.tumblr.com/" target="_blank"><img src="/images/socialmedai/t.png"></a></li>
              <li> <a href="https://www.flickr.com/photos/ilchi-lee/" target="_blank"><img src="/images/socialmedai/dot.png"></a></li>
          </ul>
      </div>   
    </div>
    </div>






    <!-- Footer ends -->

    <script>
      var API_URL = '<?php echo $this->config->application->apiURL; ?>';
  </script>
  <!-- Scroll to top -->
  <span class="totop"><a href="#"><i class="icon-chevron-up"></i></a></span>

  <!-- start -->
  <script src="/js/fr/jquery.min.js"></script>

  <!-- JS -->
  <script src="/js/fr/jquery.js"></script> <!-- jQuery -->
  <script src="/js/fr/bootstrap.js"></script> <!-- Bootstrap -->
  <script src="/js/fr/jquery.isotope.js"></script> <!-- Isotope -->
  <script src="/js/fr/jquery.prettyPhoto.js"></script> <!-- Pretty Photo -->
  <script src="/js/fr/filter.js"></script> <!-- Filter for support page -->

  <script src="/js/fr/jquery.flexslider-min.js"></script> <!-- Flex slider -->
  <!--<script src="/js/fr/jquery.cslider.js"></script>  Parallax Slider -->
  <script src="/js/fr/modernizr.custom.28468.js"></script> <!-- Parallax slider extra -->

  <script src="/js/fr/jquery.carouFredSel-6.1.0-packed.js"></script> <!-- Carousel for recent posts -->
  <script src="/js/fr/jquery.refineslide.min.js"></script> <!-- Refind slider -->
  <script src="/js/fr/custom.js"></script> <!-- Custom codes -->

  <script src="/js/fr/easyResponsiveTabs.js"></script> <!-- jQuery -->

  <!-- <script src="/js/fr/tabs.js"></script> --><!-- jQuery -->

  <script type="text/javascript" src="/js/angular/angular.min.js"></script>
  <script type="text/javascript" src="/js/angular/angular-route.js"></script>
  <script type="text/javascript" src="/js/angular/angular-ui-router.min.js"></script>
  <script type="text/javascript" src="/js/angular/ui-validate.js"></script>
  <script type="text/javascript" src="/js/angular/angular-sanitize.js"></script>

  <script src="/js/ckeditor/ckeditor.js"></script>
  <script src="/js/ckeditor/styles.js"></script>
  <script type="text/javascript" src="/js/fr/app.js"></script>

  <!-- Angular -->
  <script src="/js/angular/angular-cookies.min.js"></script>
  <script src="/js/angular/angular-animate.min.js"></script>
  <script src="/js/angular/angular-translate.js"></script>
  <script src="/js/angular/ngStorage.min.js"></script>
  <script src="/js/angular/ui-load.js"></script>
  <script src="/js/angular/ui-jq.js"></script>

  <!-- Calendar Demo -->
  <script src="/fcalendar/jquery.js"></script>
  <!-- <script src="/fcalendar/angular.js"></script> -->
  <script src="/fcalendar/ui-bootstrap-tpls-0.9.0.js"></script>
  <script src="/fcalendar/moment.js"></script>
  <script src="/fcalendar/fullcalendar.js"></script>
  <script src="/fcalendar/gcal.js"></script>
  <script src="/fcalendar/calendar.js"></script>
  <!-- <script src="/fcalendar/calendarDemo.js"></script> -->

  <script src="/js/fr/easyResponsiveTabs.js"></script> <!-- jQuery -->
  <script type="text/javascript">
      $(document).ready(function () {
        //Horizontal Tab
        $('#parentHorizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true, // 100% fit in a container
            tabidentify: 'hor_1', // The tab groups identifier
            activate: function (event) { // Callback function if tab is switched
              var $tab = $(this);
              var $info = $('#nested-tabInfo');
              var $name = $('span', $info);
              $name.text($tab.text());
              $info.show();
          }
      });

        // Child Tab
        $('#ChildVerticalTab_1').easyResponsiveTabs({
          type: 'vertical',
          width: 'auto',
          fit: true,
            tabidentify: 'ver_1', // The tab groups identifier
            activetab_bg: '#fff', // background color for active tabs in this group
            inactive_bg: '#F5F5F5', // background color for inactive tabs in this group
            active_border_color: '#c1c1c1', // border color for active tabs heads in this group
            active_content_border_color: '#5AB1D0' // border color for active tabs contect in this group so that it matches the tab head border
        });

        //Vertical Tab
        $('#parentVerticalTab').easyResponsiveTabs({
            type: 'vertical', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true, // 100% fit in a container
            closed: 'accordion', // Start closed if in accordion view
            tabidentify: 'hor_1', // The tab groups identifier
            activate: function (event) { // Callback function if tab is switched
              var $tab = $(this);
              var $info = $('#nested-tabInfo2');
              var $name = $('span', $info);
              $name.text($tab.text());
              $info.show();
          }
      });
    });
</script>
<!-- end -->

<script type="text/javascript" src="js/fr/jquery.cslider.js"></script>
<script src="js/fr/bootstrap-hover-dropdown.min.js"></script>

<script type="text/javascript">
  $(function () {

    $('#da-slider').cslider();
});
</script>

<script src="/js/fr/menumaker.js"></script>

<script src="/js/slider/skdslider.js"></script>
<script type="text/javascript">
  jQuery(document).ready(function () {
    jQuery('#demo1').skdslider({delay: 5000, animationSpeed: 2000, showNextPrev: true, showPlayButton: true, autoSlide: true, animationType: 'fading'});
    jQuery('#demo2').skdslider({delay: 5000, animationSpeed: 1000, showNextPrev: true, showPlayButton: false, autoSlide: true, animationType: 'sliding'});
    jQuery('#demo3').skdslider({delay: 5000, animationSpeed: 2000, showNextPrev: true, showPlayButton: true, autoSlide: true, animationType: 'fading'});

    jQuery('#responsive').change(function () {
      $('#responsive_wrapper').width(jQuery(this).val());
      $(window).trigger('resize');
  });

});
</script>


</body>
</html>
