<?php echo $this->getContent()?>
 <?php
if($pubcont==1){
    $pubname="Books";
}
elseif($pubcont==2){
 $pubname="CDs";
}
elseif($pubcont==3){
 $pubname="Related Products";
}
?>
<style type="text/css">
  img{
    max-height: 230px;
  }
</style>

<div id="container">
<div class="row">

    <!--Horizontal Tab-->
    <div id="parentHorizontalTab" style="clear:both;">

          <div style="padding:20px 20px 20px 30px;">
            <div class='h3'><p><?php echo $pubname ?></p></div>
         </div>


        <div class="resp-tabs-container hor_1">
            <div>
                <?php 
                $getginfo = $viewinfo;
                foreach ($getginfo as $key => $value) {
                    // $img= trim($this->config->application->apiURL."/images/pubbanner/".$getginfo[$key]->banner);
                    $img=$getginfo[$key]->banner;
                    if($getginfo[$key]->category==$pubcont){
                        ?>

                        <div class="col-md-12"  >

                            <div  style="padding:10px 10px 10px 1px;">
                                <div class="col-md-2" style="padding:10px;float:left;margin-right:40px;text-align:center;">
                                  <img src="<?php echo $img ?>" style=" max-width:160px; "  />

                                  <!-- <h6>Author</h6> -->
                                  <div class="buynow">
                                   <a  href="<?php  echo $getginfo[$key]->reference; ?>" target="_blank">
                                    Buy Now  | $ <?php  echo $getginfo[$key]->price; ?>
                                </a>
                            </div>

                        </div>
                        <div class='h2' style="padding-bottom:10px;padding-top:15px"><p><?php  echo $getginfo[$key]->title; ?></p></div>
                        <p><?php  echo strip_tags($getginfo[$key]->content,''); ?></p>
                    </div>

                </div> 
                <div style="clear:both"></div>  
                <hr style="border-bottom:1px solid #ddd">
                <?php
            }
        }
        ?>

    </div>
</div>
</div>
        <!-- <div id="nested-tabInfo">
            Selected tab: <span class="tabName"></span>
        </div> -->


        
    </div>
</div>

     
 
	
	
