<?php echo $this->getContent()?>

<style type="text/css">
  img{
    max-height: 230px;
}
</style>

<div id="container">
    <div class="row">
        <!--Horizontal Tab-->
        <div id="parentHorizontalTab" style="clear:both;">
            <div style="padding:20px 20px 20px 30px; box-shadow: 0 8px 6px -6px ">
                <div class='h3'><p>Books</p></div>
            </div>
            <div class="resp-tabs-container hor_1">
                <div>
                    <?php
                    $count=0; 
                    $getginfo = $viewinfo;
                    foreach ($getginfo as $key => $value) {
                       $img=$getginfo[$key]->banner;
                       if($getginfo[$key]->category==1){
                        if($count<=4){
                         
                            ?>
                            <div class="col-md-12"  >

                                <div  style="padding:10px 10px 10px 1px;">
                                    <div class="col-md-2" style="padding:10px;float:left;margin-right:40px;">
                                      <img src="<?php echo $img ?>" style=" max-width:160px"  />
                                      <!-- <h6>Author</h6> -->
                                      <div class="buynow">
                                         <a  href="<?php  echo $getginfo[$key]->reference; ?>" target="_blank">
                                            Buy Now  | $ <?php  echo $getginfo[$key]->price; ?>
                                        </a>
                                    </div>

                                </div>
                                <div class='h2' style="padding-bottom:10px;padding-top:15px"><p style="color:#444;"><?php  echo $getginfo[$key]->title; ?></p></div>
                                <p><?php  echo strip_tags($getginfo[$key]->content,''); ?></p>
                            </div>

                        </div> 
                        <div style="clear:both"></div>  
                        <hr style="border-bottom:1px solid #ddd">
                        <?php
                    }
                    $count++;
                }
            }
            ?>

        </div>
    </div>
</div>
<br>
<br>
<br>
<!--Horizontal Tab-->
<div id="parentHorizontalTab" style="clear:both;">
   <div style="padding:20px;">
    <div class='h3'><p>CDs</p></div>
</div>
<div class="resp-tabs-container hor_1">
    <div>
        <?php 
        $count1=0; 
        $getginfo = $viewinfo;
        foreach ($getginfo as $key => $value) {
           $img=$getginfo[$key]->banner;
           if($getginfo[$key]->category==2){
               if($count1<=4){
                ?>

                <div class="col-md-12"  >

                    <div  style="padding:10px 10px 10px 1px;">
                        <div class="col-md-2" style="padding:10px;float:left;margin-right:40px;">
                           <img src="<?php echo $img ?>" style=" max-width:160px"  />
                           <!-- <h6>Author</h6> -->
                           <div class="buynow">
                             <a  href="<?php  echo $getginfo[$key]->reference; ?>" target="_blank">
                                Buy Now  | $ <?php  echo $getginfo[$key]->price; ?>
                            </a>
                        </div>

                    </div>
                    <div class='h2' style="padding-bottom:10px;padding-top:15px"><p style="color:#444;"><?php  echo $getginfo[$key]->title; ?></p></div>
                    <p><?php  echo strip_tags($getginfo[$key]->content,''); ?></p>
                </div>

            </div> 
            <div style="clear:both"></div>  
            <hr style="border-bottom:1px solid #ddd">
            <?php
        }
        $count1++;
    }
}
?>
</div>
</div>
</div>
<br>
<br>
<br>
<!--Horizontal Tab-->
<div id="parentHorizontalTab" style="clear:both;">
   <div style="padding:20px;">
    <div class='h3'><p>Related Products</p></div>
</div>
<div class="resp-tabs-container hor_1">
    <div>
        <?php 
        $count1=0; 
        $getginfo = $viewinfo;
        foreach ($getginfo as $key => $value) {
            $img=$getginfo[$key]->banner;
            if($getginfo[$key]->category==3){
               if($count1<=4){
                ?>

                <div class="col-md-12"  >

                    <div  style="padding:10px 10px 10px 1px;">
                        <div class="col-md-2" style="padding:10px;float:left;margin-right:40px;">
                          <img src="<?php echo $img ?>" style=" max-width:160px"  />
                          <!-- <h6>Author</h6> -->
                          <div class="buynow">
                             <a  href="<?php  echo $getginfo[$key]->reference; ?>" target="_blank">
                                Buy Now  | $ <?php  echo $getginfo[$key]->price; ?>
                            </a>
                        </div>

                    </div>
                    <div class='h2' style="padding-bottom:10px;padding-top:15px"><p style="color:#444;"><?php  echo $getginfo[$key]->title; ?></p></div>
                    <p><?php  echo strip_tags($getginfo[$key]->content,''); ?></p>
                </div>

            </div> 
            <div style="clear:both"></div>  
            <hr style="border-bottom:1px solid #ddd">
            <?php
        }
        $count1++;
    }
}
?>

</div>
</div>
</div>

</div>
</div>




