<!DOCTYPE html>
<html lang="en" data-ng-app="app">
<head >
  <title>Ilchi Lee - Brain Education for Earth Citizens</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="user-scalable = yes" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta charset="utf-8">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">

<style type="text/css">
  .pagenotfound{
  width: 726px;
  height: 600px;
  background: url("/images/pagenotfound.png"); 
  background-size: 100%;
  background-repeat: no-repeat;
  margin: auto;
  margin-top: 60px;
  
}

@media (max-width: 669px){
  .pagenotfound{
  width: 95% !important;
  height: 400px !important;
  }

}
</style>


</head>

<body ng-controller="indexMainCtrl">
  <div class="container-fluid">
    <div class="pagenotfound">

    </div>
  </div>
</body>
</html>
