/*
	Mosaic - Sliding Boxes and Captions jQuery Plugin
	Version 1.0.1
	www.buildinternet.com/project/mosaic
	
	By Sam Dunn / One Mighty Roar (www.onemightyroar.com)
	Released under MIT License / GPL License
	*/

	/*General Mosaic Styles*/
	.mosaic-block {
		float:left;
		position:relative;
		overflow:hidden;
		width:400px;
		height:250px;
		margin:10px;
		background:#111 url(../img/progress.gif) no-repeat center center;
		border:1px solid #fff;
		-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.5);
	}

	.mosaic-backdrop {
		display:none;
		position:absolute;
		top:0;
		height:100%;
		width:100%;
		background:#111;
	}
	
	.mosaic-overlay {
		display:none;
		z-index:5;
		position:absolute;
		width:100%;
		height:100%;
		background:#111;
	}
	
	/*** Custom Animation Styles (You can remove/add any styles below) ***/
	.circle .mosaic-overlay {
		background:url(../img/hover-magnify.png) no-repeat center center;
		opacity:0;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=00)";
		filter:alpha(opacity=00);
		display:none;
	}

	.fade .mosaic-overlay {
		opacity:0;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=00)";
		filter:alpha(opacity=00);
		background:url(../img/bg-black.png);
	}

	.bar .mosaic-overlay {
		bottom:-100px;
		height:100px;
		background:url(../img/bg-black.png);
	}

	.bar2 .mosaic-overlay {
		bottom:-230px;
		height:350px;
		text-align:left;
		/*text-transform: uppercase;*/
		/* Fallback for web browsers that don't support RGBa */
		 background: linear-gradient(to top, rgba(251, 251, 251, 0.8) 90%, rgba(251, 251, 251, 0) 100%);
		/* For IE 5.5 - 7*/
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
		/* For IE 8*/
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";

	}

	.bar2 .mosaic-overlay:hover {
		opacity:1;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter:alpha(opacity=100);
	}

	.bar22 .mosaic-overlay {
		bottom:-105px;
		height:160px;
		text-align:left;
		/*text-transform: uppercase;*/
		/* Fallback for web browsers that don't support RGBa */
		 background: linear-gradient(to top, rgba(251, 251, 251, 0.8) 90%, rgba(251, 251, 251, 0) 100%);
		/* For IE 5.5 - 7*/
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
		/* For IE 8*/
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";

	}

	.bar22 .mosaic-overlay:hover {
		opacity:2;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter:alpha(opacity=100);
	}

	.bar3 .mosaic-overlay {
		top:-100px;
		height:100px;
		background:url(../img/bg-black.png);
	}
	/*** End Animation Styles ***/
