

.fluidMedia {
    position: relative;
    padding-bottom: 56.25%; /* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */
    padding-top: 30px;
    height: 0;

}

.fluidMedia iframe {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
}



.buynow{
	background: #C1D8E1;
	text-align: center;
	width: 160px;
	padding: 10px ;
	font-size: 14px;
	margin-top: 10px;
	border-radius: 5px;


}
.buynow a{
	color: #000;
	text-decoration: none;
	font-weight: bold;

}
.buynow a:hover{
	text-decoration: none;;

}
.tabcontent a{
	text-decoration: none;
}
.wholink {
	text-align: center;;

}
.wholink ul li{
	display: inline-block;

}
.ul li{
	width: 100px;

}
.menucenter{
	width:100px;
	text-align: center;
}
.pullmargin

.click:active, .open .click {background:#fff !important; color:#000 !important;}
.click:hover, .open .click {background: url("/img/menuhove1r.png") no-repeat !important;background-position:center 30%;display: block; }
.click1:hover, .open .click1 {background: url("/img/menuhove1r.png") no-repeat !important;background-position:center 30%;display: block; }
.click2:hover, .open .click2 {
	background: url("/img/menuhoverindex.png"); 
	background-repeat: no-repeat;
	background-size: 110px;
	background-position: 3px 3px;
	display: block;
	background-color: transparent !important;
	color: #fff !important;

}
.click2{
	text-align: center;
}
.click2:hover{
	color: #fff !important;
}

.dropdown:hover .dropdown-menu {
    display: block;
 }

.l1{
	color: #fff;
}
.l2{
	color: #fff;
}
.l3{
	color: #fff;
}

.signup{
	padding-bottom:24px;
	padding-top: 25px;
}
.signupp{
	margin-left:-300px;
	margin-bottom:24px;
}


.sidebarimage{
	padding-bottom: 120px;
	height: 1000px
}
.wwl{
	/*border-bottom:1px solid #000;*/
	padding-bottom:30px;
	min-height:420px;
	padding: 10px;
}
.wwl1{
	padding-bottom: 165px;
}
.wleft{
	margin-left:-15px;
}
.butn{
	background-color: #286fa7;
	color: #fff;
	text-decoration: none;
}
.butn:hover{
	color: #fff;
}

.butn1 {
	background-color: #144c7a;
	color: #fff;
	margin-top: 35px;
}

.actbtn{
	padding: 4px;
	background-color: #286fa7;
	color: #fff;
	font-size: 10px;
	border-radius: 10%;
}

a.actbtn:hover{color: #fff;}

.ilchi{
	float:right;width:205px;height:250px;margin-top:-39px;

}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
.socmed{
	float:right;
	padding-top:3px;
	width:140px;
}
.sep1{
	height:65px;
}


.bordermenu{
	border-style:none;
	text-transform: uppercase;
	background: #fff;
}

.bordermenu li{
}
.footercont1{

	font-size: 16px;
	text-align: center;
	color: #333;
	padding-top: 35px;
	padding-top: 35px;
}
.footercont1 ul li{
	list-style: none;
	display: inline-block;
		
}
.footercont1 li{
	list-style: none;
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
		
}

.footercont1 ul{
	padding-left: 0px !important;	
}


@media (max-width: 472px){
	.footercont1{
	font-size: 12px !important;
	}

}


.menuwidth{	
	padding-left: 0px;
	padding-right: 0px;
}
.hmenu{
	color: #000;
}






@media (max-width: 991px){
	.click:hover, .open .click {background: #fff !important;background-position:center 30%;display: block; }
	.bordermenu{
	}
	.marjtop{
		padding-top:30px;

	}
	.footercont1{
		text-align: center;
	}
	.menuwidth{
	width:auto;
	}
}

@media (max-width: 690px){
	.sep1{
		height: 0px;
	}
	.ilchi{
		margin-bottom:-50px;
		border-color: #000;
	}
	
}
@media (max-width: 831px){
	.l3{
		visibility: hidden;
	}
}
@media (max-width: 729px){
	.l2{
		visibility: hidden;
	}
	.l3{
		visibility: visible;
	}
}
@media (max-width: 613px){

	.l1{
		visibility: hidden;
	}
	.l2{
		visibility: visible;
	}
	.l3{
		visibility: visible;
	}
	.footercont1{
		margin-top: -20px;
	}
}
@media (max-width: 729px){
	.l2{
		visibility: hidden;
	}
	.l3{
		visibility: visible;
	}
}
@media (max-width: 767px){
	.fullw{
		margin-left: -30px;
		margin-right: -30px;
	}
	.click:hover, .open .click {background: #fff no-repeat !important;background-position:center 30%;display: block; }
.click1:hover, .open .click1 {background: #fff no-repeat !important;background-position:center 30%;display: block; }
.click2:hover, .open .click2 {background: #fff no-repeat !important;background-position:center 30%;display: block; 
}
@media (max-width: 1029px){
	.wleft{
		margin-left:0px;
	}
	.sidebarimage{
		height: 300px;
	}
}
@media (max-width: 992px){
	.height{
		height: 300px;
		border-color: #000;
	}
}

@media (max-width: 991px){
	.wwl{
		height:420px;
		padding: 15px;
	}
}
@media (max-width: 450px){
	.wwl{
		height:auto;
	}
}
@media (max-width: 482px){
	.sep1{
		height: 0px;
	}
}
@font-face {
	font-family: 'MuseoSans_100-webfont';
	src: url('/fonts/MuseoSans_100-webfont.ttf');
}
@font-face {
	font-family: 'MuseoSans_500-webfont';
	src: url('/fonts/MuseoSans_500-webfont.ttf');
}







