.gallery-image
  { 
    float: left;
    width:100%;
    height:140px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    float:left;
    margin: 0px 10px 10px 0px;
  }
  .simple-caption {
    position: absolute; 
    margin: auto;
    width:100%; 
    height: 35px; 
    bottom: 0px;
    font-family: 'Proxima Nova Alt Regular';
    font-size: 12pt;
    background: #000;
    text-align:center;
    text-transform: uppercase;
    /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(0, 0, 0);
    /* RGBa with 0.6 opacity */
    background-color: rgba(0, 0, 0, 0.5);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    text-align: left;
    padding: 10px;
    color: #fff; 
  }




  .centered {
    text-align: center;
  }
  .wrapper {
    width: 100%;
    padding: 30px 0;
  }
  .container {
    width: 1200px;
    margin: 0 auto;
  }
  ul.grid-nav {
    list-style: none;
    font-size: .85em;
    font-weight: 200;
    text-align: center;
  }
  ul.grid-nav li {
    display: inline-block;
  }
  ul.grid-nav li a {
    display: inline-block;
    background: #999;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
  }
  ul.grid-nav li a:hover {
    background: #7b0;
  }
  ul.grid-nav li a.active {
    background: #333;
  }
  .grid-container {
    display: none;
  }
  /* ----- Image grids ----- */
  ul.rig {
    list-style: none;
    font-size: 0px;
    margin-left: -2.5%; /* should match li left margin */
  }
  ul.rig li {
    display: inline-block;
    padding: 10px;
    margin: 0 0 2.5% 2.5%;
    background: #fff;
    border: 1px solid #ddd;
    font-size: 16px;
    font-size: 1rem;
    vertical-align: top;
    box-shadow: 0 0 5px #ddd;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  ul.rig li img {
    max-width: 100%;
    height: auto;
    min-height: 100%;
    margin: 0 0 10px;
  }
  ul.rig li h3 {
    margin: 0 0 5px;
  }
  ul.rig li p {
    font-size: .9em;
    line-height: 1.5em;
    color: #999;
  }
  /* class for 2 columns */
  ul.rig.columns-2 li {
    width: 47.5%; /* this value + 2.5 should = 50% */
  }
  /* class for 3 columns */
  ul.rig.columns-3 li {
    width: 30.83%; /* this value + 2.5 should = 33% */
  }
  /* class for 4 columns */
  ul.rig.columns-4 li {
    width: 22.5%; /* this value + 2.5 should = 25% */
  }

  @media (max-width: 1199px) {
    .container {
      width: auto;
      padding: 0 10px;
    }
  }

  @media (max-width: 480px) {
    ul.grid-nav li {
      display: block;
      margin: 0 0 5px;
    }
    ul.grid-nav li a {
      display: block;
    }
    ul.rig {
      margin-left: 0;
    }
    ul.rig li {
      width: 100% !important; /* over-ride all li styles */
      margin: 0 0 20px;
    }
  }