body{
	font-family: 'MuseoSans_100-webfont';
	font-size: 12px;
	line-height: 22px;
	color: #666;
	border-top: 3px solid #eee;
	-webkit-font-smoothing: antialiased;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'MuseoSans_500-webfont';
	padding: 1px 0px;
	margin: 1px 0px;
	font-weight: 600;
	color: #666;
}

h5,h6{
	font-family: 'MuseoSans_500-webfont';
	color: #444;
	font-weight: 600;
}

h2{
	font-size: 25px;
	line-height: 35px;
}

h3{
	font-size: 20px;
	line-height: 30px;
}

h4{
	font-size: 16px;
	line-height: 28px;
}

h5{
	font-size: 14px;
	line-height: 27px;
}

h6{
	font-size: 13px;
	line-height: 25px;
}
ul,li{
	font-family: 'MuseoSans_500-webfont'; 

}
p{
	padding: 0px;
	margin: 0px;
	font-family: 'MuseoSans_100-webfont'; 
	font-size: 16px;
	color: #000;
}

a:hover,a:active,a:focus {
	outline: 0;
}



.bold{
	font-weight: 600;
}

.sep{
	height: 5px;
}

hr{
margin:15px 0px 10px 0px;
padding:0px;
border-top:0px;
border-bottom:1px solid #f4f4f4;
height:0px;
}

.bor{
height:5px;
margin:10px 0px 10px 0px;
}

.center{
text-align:center;
}

.horizontal-links a{
	margin-right: 20px;
}

a:hover,a:active,a:focus {
outline: 0;
}

:focus {
	outline:none;
}

::-moz-focus-inner {
	border:0;
}

.well{
	border-top: 2px solid #aaa;
	border-bottom: 2px solid #aaa;
	padding: 10px 15px;
	margin: 10px 0px;
}

/* Form */

form{
   margin:5px 0px;
}

form *{
   font-size:13px !important;
}

/* Button */

a.btn, a.btn:hover{
	/*color:#333 !important;*/
}

a.btn-primary,a.btn-primary:visited,a.btn-primary:hover,
a.btn-warning,a.btn-warning:visited,a.btn-warning:hover,
a.btn-danger,a.btn-danger:visited,a.btn-danger:hover,
a.btn-success,a.btn-success:visited,a.btn-success:hover,
a.btn-info,a.btn-info:visited,a.btn-info:hover,
a.btn-inverse,a.btn-inverse:visited,a.btn-inverse:hover{
  color:#fff !important;
}

.button{
	margin: 10px 0px 5px 0px;
}

.button a, .button a:visited{
color: #fff;
padding: 5px 10px;
font-size: 12px;
font-weight: 600;
border-radius: 3px;
-webkit-transition:background 1s ease;
-moz-transition:background 1s ease;
-o-transition:background 1s ease;
transition:background 1s ease;
font-family: 'Proxima Nova Alt Regular';
}

.button a:hover{
color: #fff;
text-decoration: none;
-webkit-transition:background 1s ease;
-moz-transition:background 1s ease;
-o-transition:background 1s ease;
transition:background 1s ease;
}

/* Social */

.social{
font-size:16px;
margin: 5px 0px;
}

.social i{
display:inline-block;
box-shadow:inset 0px 0px 1px #333;
height:25px;
width:25px;
line-height:25px;
margin:0px 5px 0px 0px;
border-radius:3px;
color:#fff;
-webkit-transition:background 1s ease;
-moz-transition:background 1s ease;
-o-transition:background 1s ease;
transition:background 1s ease;
text-align:center;
}

.social i.facebook{
background:#3c5b9b;
}

.social i.twitter{
background:#2daae1;
}

.social i.google-plus{
background:#f63e28;
}

.social i.pinterest{
background:#cb2027;
}

.social i.linkedin{
background:#0173b2;
}

.social i:hover{
background:#000;
-webkit-transition:background 1s ease;
-moz-transition:background 1s ease;
-o-transition:background 1s ease;
transition:background 1s ease;
}

.social a,.social a:visited,.social a:hover{
color:#fff;
text-decoration:none;
}

/* Back to top */

.totop {
	position: fixed;
	bottom: 0px;
	right: 0px;
	z-index: 104400;
}

.totop a, .totop a:visited{
	display: block;
	width: 30px;
	height: 30px;
	color: #fff;
	text-align: center;
	line-height: 30px;
}

.totop a:hover {
	color: #fff;
	text-decoration: none;
}

/* Image alignment*/

.alignleft, img.alignleft {
	margin-right: 8px;
	margin-top:5px;
	display: inline;
	float: left;
}

.alignright, img.alignright {
	margin-left: 8px;
	margin-top:5px;
	display: inline;
	float: right;
}
   
.aligncenter, img.aligncenter {
	margin-right: auto;
	margin-left: auto;
	display: block;
	clear: both;
}

/* 1-3 Column */

.onethree-left{
	float: left;
	width: 23%;
}

.onethree-right{
	float: right;
	width: 76%;
}

/* Half column */

.col-left{
	width: 48%;
	float: left;
}

.col-right{
	width: 48%;
	float: right;
}

/* Title */

.title{
	margin-bottom: 8px;
	padding-bottom: 3px;
	border-bottom: 1px solid #f3f3f3;
}

.title i{
	margin-right: 3px;
}

/* Container */

.container{
   max-width:980px;
   padding: 0px 0px 0px 0px;
}
.banner-container{
   max-width:1920px;
   margin: auto;
   padding: 0px 0px 0px 0px;
}

/* Header */

header{
	z-index: 9999;
	padding: 10px 0px 0px 0px;
	background: #fafafa url("../img/cream.png") repeat;
	background: #fff ;


}

header .logo{
	padding: 0px;
}
header .logo img{
	width: 160px;
	height: 75px;
	float: left;
	position: relative;
}

header .logo h1 a, header .logo h1 a:visited, header .logo h1 a:hover{
	font-size: 35px;
	color: #777;
	text-decoration: none;
	font-weight: 400;
}

header .logo .meta{
	color: #888;
	line-height: 15px;
	padding: 0px;
	margin: 0px;
}




 /* Parallax Slider */



/* Hero unit */

.hero{
	text-align: center;
	margin: 25px auto;
	max-width: 700px;
}

/* Page heading */

.page-head{
	padding: 10px 0px ;
	background: #fff9e2;
	border: 1px solid #ffae22;
	
}

.page-head h2{
	color: #777;
	font-size: 23px;
	line-height: 33px;
}

.page-head h4{
	color: #999;
	font-size: 15px;
}

/* Service #2 */

.aserv-list{
margin-top: 10px;
margin-bottom:10px;
}

.aserv{
padding:7px 0px 7px 0px;
}

.aserv-img{
float:left;
margin-right:6px;
border-radius:30px;
width:40px;
height:40px;
border:4px solid #e7e7e7 !important;
}

.aserv-img i{
position:relative;
display: inline-block;
color:#fff;
background:#777;
width:36px;
font-size:16px;
height:36px;
line-height:36px;
text-align:center;
border: 2px solid #fff;
border-radius:30px;
-webkit-transition:background 1s ease;
-moz-transition:background 1s ease;
-o-transition:background 1s ease;
transition:background 1s ease;
cursor: pointer;	
}

.aserv-img i:hover{
-webkit-transition:background 1s ease;
-moz-transition:background 1s ease;
-o-transition:background 1s ease;
transition:background 1s ease;	
}

.aserv-details{
float:left;
font-size:14px;
font-weight:700;
color:#888;
line-height:40px;
}

/* Slider Features */

.slider-features{
	padding: 20px 0px;
	background: #fff;
	border-bottom: 1px solid #ddd;
}

.slider-features .img{
	color: #fff;
}

.slider-features i{
	display: inline-block;
	width: 50px;
	height: 50px;
	font-size: 23px;
	border-radius: 50px;
	line-height: 50px;
	text-align: center;
	margin: 5px auto;
	box-shadow: inset 0px 0px 2px #444;
}

.slider-features h5{
	line-height: 20px;
}

.slider-features h5 a, .slider-features h5 a:visited{
	color: #444;
	-webkit-transition:color 1s ease;
	-moz-transition:color 1s ease;
	-o-transition:color 1s ease;
	transition:color 1s ease;		
}

.slider-features h5 a:hover{
	text-decoration: none;
	-webkit-transition:color 1s ease;
	-moz-transition:color 1s ease;
	-o-transition:color 1s ease;
	transition:color 1s ease;		
}

/* Content */

.content {
	margin: 20px 0px 20px 0px;
}
.content-mainpage {
	margin: 0px 0px 0px 0px;
}
.pulltop{
	margin-top: -60px;
}

/* CTA */

.cta{
	background: #eee url("/img/cream.png") repeat;
	padding: 12px 0px;
	border-radius: 10px;
	box-shadow: inset 0px 0px 1px #aaa;
}

.cta{
	margin: 15px 0px 15px 0px;
}

.cta h5{
	margin: 0px;
	padding: 0px;
}

.ctas{
	padding: 3px 10px;
}

.ctas .button{
	margin: 5px 0px;
	margin-top: 15px;
}

/* Features #1 */

.features-one .feat{
	margin-bottom: 5px;
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}

.features-one .feat i{
	margin-right: 3px;
}

/* Features #2 */

.features-two{
	text-align: center;
	margin: 30px 0px 20px 0px;
}

.features-two .feat-inner{
	padding: 20px 10px 10px 10px;
	background: #fff ;
	border-radius: 10px;
	box-shadow: inset 0px 0px 5px #ccc;
	margin-bottom: 20px;
}

.features-two i{
	font-size: 35px;
	margin-bottom: 10px;
}

.features-two .button{
	margin-top: 10px;
	margin-bottom: 20px;
}

.features-two .button a{
	font-size: 11px;
}

/* Features three */

.features-three img{
	margin: 10px 0px;
}

/* Recent posts */

.recent-posts{/*
	padding-top: 60px;*/
}

.recent-posts .rp-item img{
	width: 100%;
}

.recent-posts .carousel_nav{
	margin-left: 3px;
	margin-bottom: 3px;
}

.recent-posts .carousel_nav i{
	display: inline-block;
	width: 18px;
	height: 18px;
	line-height: 18px;
	text-align: center;
	font-size: 10px;
	border-radius: 3px;
}

.recent-posts .carousel_nav a, .recent-posts .carousel_nav a:visited, .recent-posts .carousel_nav a:hover{
	text-decoration: none;
	color: #fff;
}

.recent-posts ul{
/*	margin: 0px;
	padding: 0px;
	list-style-type: none;*/
}

.recent-posts ul li{
/*	max-width: 295px;
	margin: 5px 4px 0px 4px; 
	display: block;
	float: left;*/
}

.recent-posts .rp-item{
	border-bottom: 2px solid #eee;
	-webkit-transition:border-bottom 1s ease;
	-moz-transition:border-bottom 1s ease;
	-o-transition:border-bottom 1s ease;
	transition:border-bottom 1s ease;	
}

.recent-posts .rp-item:hover{
	-webkit-transition:border-bottom 2s ease;
	-moz-transition:border-bottom 2s ease;
	-o-transition:border-bottom 2s ease;
	transition:border-bottom 2s ease;		
}

.recent-posts .rp-details{
	text-align: center;
	background: #fff;
	padding: 15px 3px;
}

.recent-posts .rp-details h6{
	margin-bottom: 3px;
}

.recent-posts .rp-details p{
	font-style: italic;
	color: #888;
	font-size: 12px;
	line-height: 20px;
}

.recent-posts .rp-details a, .recent-posts .rp-details a:visited, .recent-posts .rp-details a:hover {
	color: #555;
	text-decoration: none;
}

/* Service style #1 */

.service-one{
	text-align: center;
	margin: 30px 0px 20px 0px;
}

.service-one i{
	font-size: 35px;
	color: #666;
	margin-bottom: 10px;
}

.service-one .button{
	margin-top: 10px;
	margin-bottom: 20px;
}

.service-one .button a{
	font-size: 11px;
}

/* Service style #2 */
	
.service-two h5 i{
margin-top:3px;
margin-right:3px;
}

/* Flex slider for image */

.flex-main .flexslider{
	margin: 20px 0px;
	margin-bottom: 10px;
	padding: 3px 5px;
	padding-bottom: 0px;
	border: 1px solid #ddd;
	box-shadow: 0px 0px 2px #bbb;
}

.flex-main .flexslider .slides > li {
	position:relative;
}

.flex-caption{
	width: 40%;
	margin: 0 0 100px 50px;
	position: absolute;
	display: block;
	left: 0;
	bottom: 0;
}

.flex-caption h3 {
	padding: 8px 10px;
	color: #fff;
	font-size: 16px;
	margin:0;
	line-height: 22px;
}

.flex-caption h3 span{
   padding-bottom:3px;
}
	
.flex-caption p {
	margin:0;
	line-height: 19px;
	color: #ddd;
	background: rgba(0, 0, 0, 0.8);
	padding: 10px;
}

/* Flex Slider */

.flexslider{
	margin: 5px 0px;
	margin-bottom: 30px;
	border: 1px solid #eee;
	box-shadow: none;
}

.flexslider ul{
/*	padding: 0px;
	margin: 0px;*/
}

.flexslider ul li{
	/*list-style-type: none;*/
}

.flex-control-nav{
	bottom: -35px;
	text-align: left;
}

.flex-control-nav li{
	margin: 0px;
	margin-right: 4px;
}

.flex-control-paging li a{
	width: 7px;
	height: 7px;
	border-radius: 0px;
}

.fsliders h5{
	margin-bottom:7px;
}

.fsliders .span4{
	margin-bottom: 10px;
}

/* Testimonial slider */

.testi-flex{
	padding: 4px 8px;
}

.testi-flex p{
	font-style: italic;
	line-height: 22px;
}

.testi-flex .author{
	font-style: normal;
	font-size: 12px;
}

/* Tabs */

.tabs{
	margin-bottom:10px;
}

.tabs ul{
	/*padding: 0px;
	margin: 0px;*/
}

.tabs ul li{
	/*list-style-type: none;*/
}

.tabs *{
	border: 0px !important;
}

.tabs li a{
	padding: 5px 8px;
	font-size: 12px;
	border: 1px solid #eee !important;
	border-bottom: 1px solid #eee !important;
}

.tabs li.active a{
	background: #f2f2f2;
	border: 1px solid #eee !important;
}

.tabs li.active a:hover{
	background: #f2f2f2;
}

.tabs li.active a, .tabs li.active a:hover{
	color: #777;
}

.tabs li a{
	background: #fff;
	color: #777;
	cursor: pointer !important
}

.tabs li a:hover{
	background: #eee;
	color: #777;
}

.tabs .tab-pane{
	padding: 8px 10px;
	background: #fff;
	border: 1px solid #eee !important;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

/* About Slider */

.about-flex{
	padding: 4px 8px;
}

.about-flex img{
	max-width: 40px;
}

.about-flex hr{
	margin: 6px 0px 3px 0px;
}

.about-flex .meta{
	display: block;
	font-size: 11px;
	font-style: italic;
	font-weight: normal;
	line-height: 15px;
	color: #666;
	font-family: Arial, Helvetica, sans-serif;
}

.about-flex p{
	padding: 5px 0px;
}

/* Blog */


.blog .entry h2{
font-size:22px;
line-height:32px;
}

.blog .entry h2 a, .blog .entry h2 a:visited, .blog .entry h2 a:hover{
text-decoration:none;
color:#777;
}

.blog .meta{
border-top:1px solid #eee;
border-bottom:1px solid #eee;
margin:8px 0px;
padding:4px 8px;
color:#888;
text-transform:uppercase;
font-size:11px;
background:#eee url('/img/cream.png') repeat;
}

.blog .meta a, .blog .meta a:visited{
color:#555;
}

.blog .meta i{
margin-right:3px;
margin-left: 3px;
}

.blog .bthumb{
margin:10px 0px 5px 0px;
padding:1px;
box-shadow:0px 0px 1px #777;
}

.blog .bthumb2{
margin-top:8px;
margin-right:8px;
margin-bottom: 6px;
padding:1px;
box-shadow:0px 0px 1px #777;
}

.blog .bthumb3{
float: left;
max-width: 150px;
margin-top:8px;
margin-right:8px;
margin-bottom: 6px;
padding:1px;
box-shadow:0px 0px 1px #777;
}

.blog .bthumb2 img{
margin:0px;
}

.blog .entry{
margin-bottom:15px;
padding-bottom:10px;
border-bottom:1px solid #eee;
}

.blog-mul-col .entry{
   width:100%;
   margin:0 auto;
   max-width:350px;
}

.posts .social{
font-size:16px;
}

.posts .social i{
box-shadow:inset 0px 0px 1px #333;
height:25px;
width:25px;
line-height:25px;
margin:0px 5px 0px 0px;
border-radius:3px;
color:#fff;
-webkit-transition:background 1s ease;
-moz-transition:background 1s ease;
-o-transition:background 1s ease;
transition:background 1s ease;
text-align:center;
}

.posts i.facebook{
background:#3c5b9b;
}

.posts i.twitter{
background:#2daae1;
}

.posts i.google-plus{
background:#f63e28;
}

.posts i.pinterest{
background:#cb2027;
}

.posts i.linkedin{
background:#0173b2;
}

.posts .social i:hover{
background:#000;
-webkit-transition:background 1s ease;
-moz-transition:background 1s ease;
-o-transition:background 1s ease;
transition:background 1s ease;
}

.posts .social a,.posts .social a:visited,.posts .social a:hover{
color:#fff;
text-decoration:none;
}

.posts .tags a{
display:inline-block;
font-weight:normal;
padding:0px 5px;
color:#fff;
border-radius:4px;
font-size:13px;
-webkit-transition:background 1s ease;
-moz-transition:background 1s ease;
-o-transition:background 1s ease;
transition:background 1s ease;
}

.posts .tags a:hover{
color:#fff;
text-decoration:none;
-webkit-transition:background 1s ease;
-moz-transition:background 1s ease;
-o-transition:background 1s ease;
transition:background 1s ease;
}

/* Blog #2 */

.blog .pblock .entry h2{
font-size:17px;
line-height:25px;
}

.blog .pblock img{
	max-width: 100%;
}

/* Comments */

.comments > ul > li{
background:none;
padding:0px;
}

.comments .comment{
margin:10px 0px;
padding:7px 10px;
background:#fff;
border-radius:5px;
border:1px solid #eee;
border-bottom:2px solid #ddd;
}

.comments ul{
	margin: 0px;
	padding: 0px;
}

.comments ul li{
	list-style-type: none;
}

.comment .avatar{
margin-top:5px;
margin-right:8px;
padding:1px;
background:#fff;
border:1px solid #aaa;
}

.comment .cmeta{
font-size:12px;
}

.comment p{
margin-top:5px;
}

.comments .reply{
margin-left:15px;
}

.respond .title, .comments .title{
padding:10px 0px;
margin-bottom:10px;
border-bottom:1px solid #eee;
}

/* Sidebar */

.sidebar{
margin-top:10px;
}

.sidebar h4{
font-size: 13px;
color:#555;
line-height:18px;
margin-bottom:5px;
padding-bottom:10px;
text-transform:uppercase;
border-bottom:1px solid #eee;
}

.sidebar .widget{
background:#fff;
padding:8px 10px;
margin-bottom:10px;
border:1px solid #eee;
}

.sidebar .widget .form-search{
margin-top:10px;
margin-bottom:10px;
}

.sidebar .widget ul{
   margin-left:0px;
   padding-left:15px;
}

/* Pagination */

.paging {
width:270px;
clear:both;
padding:6px 0;
line-height:17px;
font-size:13px;
}
 
.paging span, .paging a {
display:block;
float:left;
margin: 2px 2px 2px 0;
padding:5px 8px;
text-decoration:none;
width:auto;
color:#666;
background: #fff;
border:1px solid #ddd;
font-weight:normal;
}
 
.paging a:hover{
color:#fff;
}
 
.paging .current{
padding:5px 8px;
color:#fff;
}



/* 404 Page */

.error-page .big-text{
	font-size: 170px;
	line-height: 180px;
	color: #999;
}

/* Support */

#slist p{
display:none;
margin:5px 0px;
padding:5px 10px;
background:#fff;
line-height: 25px;
border:1px solid #eee;
}

#slist{
	margin-left: 15px;
   padding-left:0px;
}

#slist li{
}

#slist li a{
	display: block;
	margin-bottom: 10px;
}

/* Contact #1 */

.gmap iframe{
	width: 100%;
}

/* Accordion */

.accordion-heading .accordion-toggle {
display: block;
padding:0px;
}

.accordion li{
line-height:10px;
}

.accordion-heading a, .accordion-heading a:visited, .accordion-heading a:hover{
border:none;
color: #fff;
text-decoration: none;
padding: 10px !important;
background: #fff;
}

/* Pricing table #1 */

.pricel{
text-align: center;
margin-top:10px;
margin-bottom: 20px !important;
}

.plist a i{
	color: #333;
}

.plist a:hover i{
	color: #333;
	text-decoration: none;
}

.pricel .phead-top{
margin:0px;
padding:15px 10px;
}

.pricel .phead-top h4{
color:#fff;
}

.pricel .phead-bottom{
background:#f8f8f8;
border-left:1px solid #ddd;
border-right:1px solid #ddd;
border-bottom:1px solid #ddd;
margin:0px;
padding:10px 10px 5px 10px;
color:#777;
font-weight:700;
font-size:18px;
line-height:27px;
}

.pricel .pst{
font-size:12px;
position:relative;
top:-5px;
font-weight:normal;
}

.pricel .psb{
font-size:12px;
font-weight:normal;
}

.pricel .pbutton{
background:#eee;
border:1px solid #ddd;
padding:10px 0px 15px 0px;
color:#777;
font-size:20px;
text-align: center;
margin-top: 0px;
}

.pricel .plist{
border-left:1px solid #ddd;
border-right:1px solid #ddd;
background:#fcfcfc;
}

.pricel .plist ul{
   margin-left: 0px;
margin-bottom: 0px !important;
padding-left:0px;
}

.pricel .plist li{
   list-style-type: none;
background:none;
padding:13px 0px;
font-size: 12px;
border-bottom:1px solid #e1e1e1;
}

.pricel .plist li:nth-child(even) {
background-color:#f8f8f8;
}

.pricel .plist li:hover{
background:#fff;
}

.pricel .phead-top{
	display: block;
}

/* Pricing #2 */

.pricing-two .pricel{
	max-width: 260px;
	margin:40px auto;
}

.pricing-two .phead-top{
	padding-top: 60px;
}

.phead-round{
	width: 80px;
	height: 80px;
	line-height: 22px;
	margin: 0 auto;
	padding-top: 20px;
	border-radius: 100px;
	border: 4px solid #fff;
	cursor: pointer;
	color: #fff;
	-webkit-transition:background 1s ease;
	-moz-transition:background 1s ease;
	-o-transition:background 1s ease;
	transition:background 1s ease;	
	margin-top: -150px;
}

.pricing-two .pricel .phead-top{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	text-transform: uppercase;
}

.phead-round:hover{
	-webkit-transition:background 1s ease;
	-moz-transition:background 1s ease;
	-o-transition:background 1s ease;
	transition:background 1s ease;	
}

.phead-round span{
	display: block;
	font-size: 13px;
	font-weight: normal;
}

/* Clients page */

.cclient{
	padding: 10px 0px 15px 0px;
	border-bottom: 1px solid #eee;
	margin: 10px 0px 15px 0px;
}

.cimage img{
	margin-bottom: 5px;
	max-height: 35px;
}

/* Events page */

.events .accordion-group{
border-radius:0px;
border:none;
margin:5px 0px;
color:#666;
}

.events .accordion-heading h5{
font-size:16px;
color:#fff;
margin: 0px !important;
}

.events .accordion-heading h5 span{
display:block !important;
font-size:12px !important;
}

.events .accordion-heading .accordion-toggle {
display: block;
padding:0px;
background: #000;
}

.events .accordion-inner i{
font-size:13px;
margin-right:3px;
}

.events .accordion-inner{
border:none;
padding:0px;
background:#fff;
padding:10px 10px 10px 10px;
border:1px solid #e8e8e8;
margin-bottom:5px;
}

.events .accordion li{
line-height:20px;
}

.events .accordion-heading a, .events  .accordion-heading a:visited, .events  .accordion-heading a:hover{
border:0px !important;
text-decoration:none;
}

/* Gallery */


.gallery img{
	max-width: 170px;
	margin: 5px;
	padding: 1px;
	border: 1px solid #aaa;
}

/* Proejcts */

.project .related-projects img{
	max-width: 100px;
	margin: 5px;
	padding: 5px;
	border: 1px solid #ddd;
}

/* Testimonial page */

.test{
background:#fff;
padding:8px 12px;
margin:5px 0px 0px 0px;
border:1px solid #eee;
color:#777;
font-style:italic;
}

.test-arrow{
  border-style: dashed;
  border-color: transparent;
  border-width: 0.63em;
  display: -moz-inline-box;
  display: inline-block;
  font-size: 12px;
  line-height:0px;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: middle;
  width: 0;
  border-top-width: 1em;
  border-top-style: solid;
  top:-5px;
  left:20px;
}

.tauth{
position:relative;
top:-6px;
color:#888;
left:10px;
font-weight:700;
}

.testi{
background:#fff;
border-radius:10px;
border:1px solid #eee;
border-bottom:2px solid #ccc;
padding:12px;
margin-bottom:20px;
}

.testi .tauthor{
color:#777;
}

.testi .tquote{
font-style:italic;
font-size:14px;
line-height:20px;
color:#555;
}

/* Resume */


.resume h2{
color:#888;
line-height:30px;
}

.resume h2 .rsmall{
font-size:18px;
position:relative;
top:-2px;
}

.resume h4{
padding:10px;
}

.resume .rblock{
margin:5px 0px 15px 0px;
border-bottom:1px solid #eee;
}

.resume .rinfo{
border-left:4px solid #eee;
padding-left:15px;
border-bottom:1px solid #eee;
padding-bottom:10px;
}

.resume .rmeta{
color:#888;
}

.resume .rskills{
max-width:300px;
}

.resume .rskills span{
display:inline-block;
padding:3px 8px;
background:#f3f3f3;
border:1px solid #ddd;
border-radius:5px;
margin:5px 0px;
cursor:pointer;
}

.resume .rskills span:hover{
background:#f9f9f9;
}

/* Process */

.process .process-meta{
	display: inline-block;
	width: 50px;
	height: 50px;
	font-size: 20px;
	border-radius: 50px;
	line-height: 50px;
	text-align: center;
	margin: 0px auto;
	margin-top: 10px;
	color: #fff;
	margin-bottom: 5px;
	box-shadow: inset 0px 0px 2px #777;
}

/* About #1 */

.about-one{
	text-align: center;
}

.about-one img{
	margin: 5px 0px;
	max-width: 180px;
	border-radius: 100px;
}

.about-one .social{
	margin: 10px 0px;
}

/* About #2 */

.about-two .staff{
   width:100%;
   max-width:250px;
   margin:0 auto;
}

.about-two .pic img{
	border-radius: 10px;
	margin-bottom: 6px;
}

.about-two .details{
margin-top:10px;
margin-bottom:20px;
}

.about-two .details .name{
font-weight:bold;
line-height:10px;
padding:0px;
margin:0px;
}

.about-two .details em{
color:#888;
}

.about-two .asocial i{
text-align:center;
border-radius:4px;
line-height: 18px;
text-align: center;
width: 20px;
height: 20px;
border-radius:5px;
display:inline-block;
}

.about-two .asocial a, .about-two .asocial a:visited, .about-two .asocial a:hover{
color:#fff;
text-decoration:none;
}

.about-two .details .adesc{
max-width:300px;
margin:0 auto;
border-top:1px solid #eee;
margin-top:5px;
padding-top: 5px;
}

/* Coming soon */

.c-soon{
	margin: 50px 0px;
	padding: 40px;
	text-align: center;
}

.soon-med{
font-size:20px;
line-height:30px;
}

.soon-big{
font-size:60px;
line-height:70px;
font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.soon-small{
font-size:13px;
line-height:20px;
max-width:600px;
margin:10px auto;
}

.soon-tweet{
background:#fff;
border-radius:10px;
border:1px solid #eee;
border-bottom:2px solid #ccc;
padding:12px 12px 5px 12px;
margin:0 auto;
margin-bottom:20px;
margin-top:20px;
max-width:600px;
font-size:13px;
}

.soon-tweet ul li{
padding:0px;
margin:0px;
font-style:italic;
}

.content .soon-tweet ul li{
background-image:none;
list-style-type: none;
}

.soon-tweet ul li:before{
content:'"';
font-size:16px;
font-family:Arial,sans-serif;
color:#888;
}

.soon-tweet ul li:after{
content:'"';
font-size:16px;
font-family:Arial,sans-serif;
color:#888;
}

.csoon-page form input, .csoon-page form button{
font-size:12px;
}

/* Portfolio */

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* End: Recommended Isotope styles */



/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
     -moz-transition: none;
      -ms-transition: none;
       -o-transition: none;
          transition: none;
}

.portfolio li{
display:inline !important;
border:none !important;
}

.portfolio li a, .portfolio li a:visited{
color:#777;
}

.portfolio li a:hover{
color:#777;
}

#portfolio{
text-align:center;
}

#portfolio .element{
margin:20px 10px 10px 0px;
padding: 5px;
color: #777;
}

#portfolio h5{
margin:0px 0px;
padding:0px;
color: #777;
}

#portfolio .pcap{
background:#f7f7f7;
outline: 1px solid #ddd;
border-top: 2px solid #ddd;
padding:3px 0px;
}

#portfolio a, #portfolio a:visited, #portfolio a:hover{
color:#fff;
text-decoration:none;
}

#portfolio .pcap p{
	padding: 0px 6px 10px 6px;
	font-size: 12px;
	color: #777;
}

#portfolio .pcap{
max-width:200px;
}

#portfolio .pcap{
line-height:20px;
}

#portfolio img{
width:200px;
max-width:200px;
height:150px;
}

#filters{
margin-left:0px;
padding-left:0px;
}

#filters li{
display:inline;
padding:0px;
background:none;
}

#filters a{
font-size:12px;
display: inline-block;
}

/* Career */


.career .nav > li{
background:none;
padding:0px;
list-style-type: none;
}

.nav-tabs > li > a:hover{
color:#fff;
}


/* Refind slider */

.rs-wrap{
   width:100% !important;
}

.rs-slider{
   width:100%;
	margin: 20px 0px 10px 0px;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #ddd;
	box-shadow: 0px 0px 3px #ddd;
}

.rs-thumb-wrap > a {
	max-width: 150px;
	margin: 5px !important;
	padding: 4px;
	border: 1px solid #ddd;
	border-radius: 5px;
	box-shadow: 0px 0px 3px #ddd;
}

.rs-caption {
    height: auto;
    overflow: hidden;
    bottom: 30px;
    left: 30px;
    background: rgba(0,0,0,0.7);
    padding: 10px 13px;
    color: #fff;
}

.rs-caption h4{
	color: #fff;
}

/* Clients */

.clients{
	padding:10px;
	text-align:center;
	background:#fff;
	border-top:1px solid #eee;
	border-bottom:1px solid #eee;
	margin:10px 0px 10px 0px;
}

.clients img{
	max-width:120px;
	margin: 10px 14px;
}

/* Footer */

footer{
	background-color: #ddd;
	padding-top: 20px;
	padding-bottom: 0px;
	margin-top: 20px;
	color: #333;
	font-size: 12px;
}

footer a, footer a:visited{
	color: #555;
}

footer a:hover{
	color: #777;
	text-decoration: underline;
}

footer hr{
	height: 0px;
	padding: 0px;
	margin: 5px 0px;
	border-top: 1px solid #111;
	border-bottom: 1px solid #222;
}

footer h5{
	color: #555;
}

footer h6{
	color: #555;
}

footer ul{
	margin-left: 0px;
   padding-left:0px;
}

footer ul li{
	list-style-type: none;
	margin-bottom: 5px;
}
.bottom li{
	width: 100%;
}
footer .widget{
	margin-bottom: 10px;
}

footer .copy{
	margin-bottom: 5px;
	font-size: 11px;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*KYBEN ROCKS*/

#title {
	width: 200px;
	font-size: 1.3em;
	padding-top:20%;
	z-index: 999999;
	padding-top: 42px;
}
.position{
	margin-top:7.5%;
	margin-left: -30px;
}
.position1{
	margin-top:2%;
	margin-left: -30px;
}
.headicon {
	margin-top: 15px;

}
.headicon img{
	width:32px;
	height: 32px;
	margin-left: -2px;
	display: inline;


}
.frntEndForm{
	/*border-bottom:1px  solid #ccc;*/
	/*border-top:1px  solid #ccc;*/
	text-align:center;
	/*margin-top:50px;*/

}
.border_line{
	border-bottom:1px solid #ccc;
}
.cont1{
	border:1px solid #bed4e3;
	padding: 30px;
	/*margin-top: 73px;*/

}
.footercont{
	text-align: center;
	color: #333;
	font-size: 1.1em;
}




.linkfooter{
	padding-left: 0px !important;
}
.linkfooter li{
	display: inline-block !important;
	list-style: none;
}


.footlink a{
	color:#fff;
}
.link a{
	color: #fff;
	background-color: #000;
}
.footer{
	background:url("/images/saka.png");
	color: #aaa;
	font-size: 12px;
	height: 302px;
	padding-top: 160px
}
.centered{
	text-align: center;

}
/*.centered ul, li{
	display: inline-block;

}
.centered li{
	padding: 10px 20px 10px 20px;

}*/

.iframe{
	width: 100%;
	height: 365px;
}
.iframe1 {
	width: 100px;
}
.cont_p{
	margin-top:210px;
}
.cont_p p{
	padding: 5px 0px 5px 0px;
}
.cont_p img{
	width: 180px;
	height: 370px;
	padding: 0px 0px 0px 20px;
}
.content1{
	padding:20px 20px 20px 20px;
	clear: both;
}
.content1 p{
	padding: 5px 0px 5px 0px;
}
.content2 p{
	padding: 5px 0px 5px 0px;
}
.content1 img{
	width: 280px;
	height: 270px;
	padding: 0px 20px 20px 20px;
	border-style: none;
}
.img_cont {
	padding-bottom: 20px;

}
.img_cont label{
	background-color: #ccc;
	padding: 10px;
	width: 100%;

}
.img_cont img{
	width: 100%;
	height:260px;
}

.caption { 
	position: absolute; 
	width:100%; 
	height: 50px; 
	bottom: 0px; 
	left: 0px; 
	background: #777; 
	text-align:center; 
	font-weight:bold; 
	opacity:0.9; }
.caption{
	text-align: left;
	padding-left: 10px;
	color: #fff; 
}
.captions { 
	position: absolute; 
	width:100%; 
	height: 30px; 
	bottom: 0px; 
	left: 0px; 
	background: #777; 
	text-align:center; 
	font-weight:bold; 
	opacity:0.9; }
.captions{
	text-align: left;
	padding-left: 10px;
	color: #fff; 
}
.caption1 { 
	position: absolute; 
	margin: auto;
	width:20%; 
	height: 50px; 
	bottom: 0px; 
	left: 630px; 
	background: #777; 
	text-align:center; 
	font-weight:bold; 
	opacity:0.9; }
.caption1{
	text-align: left;
	padding-left: 10px;
	color: #fff; 
}

@font-face {
	font-family: 'Proxima Nova Alt Regular';
	src: url('/fonts/Mark Simonson - Proxima Nova Alt Regular.otf');
}



.sidebar {
	text-align: center;
	border-bottom: 1px solid #333;
	padding: 0px 0px 10px 0px;
	margin-bottom: 10px;
}

.sidebar a{
	padding: 10px 0px 10px 0px;
	/*background: #ddd;*/
	font-size: 15px;
	font-weight: bold ;
	text-decoration: none;
}
.topic{
	margin-left: -10px;
}
.sepera2r{
	width: 100%;
	border-bottom: 1px solid #333;
	line-height: 1px;
}
.sepera3r{
	width: 100%;
	border-bottom: 2px solid #0cc2e3;
	line-height: 2px;
}
.topic{
	margin-left: -20px;
}

.topic li{
	width: 100%;
	font-size: 16px;
	padding: 0px 0px 10px 0px
}

.topic a{
	color: #555;
	text-decoration: none;
}
.socme li{
}
.img_banner{
	height: 500px;
}
.imgres img{
	width:100%;height:auto;
	background-size: cover; 
}
.socialmedia{

}
.title1{
	font-family: 'MuseoSans_500-webfont'; 
	padding-top: 23px;
	padding-bottom: 15px;
	font-size: 16px;
	min-height: 90px;
	/*font-weight: */

}
.title2{
	font-family: 'MuseoSans_500-webfont'; 
	/*padding-top: 23px;*/
	/*padding-bottom: 15px;*/
	font-size: 16px;
	min-height: 60px;
	/*font-weight: */

}
.title1 a{
	font-family: 'MuseoSans_500-webfont'; 
	text-decoration: none;
	color: #000;

}
/*KYBEN ROCKS*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* Responsive */

@media (max-width: 480px){
	.iframe1 frame{
	height:250px;
	padding:15px;
}


	 .logo{
		text-align: center;
		background-color: #eee;
	}


	.da-img{
		display: none;
	}
	.da-slide h2{
		font-size: 30px;
	}
	.da-slide p{
		width: 90%;
	}
	.col-left{
		width: 100%;
		float: none;
		margin-right: none;
	}

	.col-right{
		width: 100%;
		float: none;
	}
	.error-page .big-text{
		font-size: 80px;
		line-height: 90px;
	}	
	

}

@media (max-width: 767px){
	#title {
	font-size: 2em;
	float: left;
	padding-top:7%;
}

	.onethree{
		margin-bottom: 15px;
	}
	.onethree-left{
		display: block;
		float: none;
		text-align: center;
		width: 100%;
		margin-bottom: 10px;
	}
	.onethree-right{
		float: none;
		width: 100%;
		text-align: center;
	}
	.flex-caption{
		display: none;
	}
	header{
		padding-bottom: 0px !important;
		padding-left: 20px;
		padding-right: 20px;
	}
	header .logo{
		text-align: center;
	}
	.navbar{
		margin-top: 10px;
	}

	.dropdown-menu a{
		margin: 0px !important;	
	}
	.da-slide{
		left: 0px;
	}
	.da-slide .da-img{
		left: 70%;
	}
	.ctas .button{	
		margin-top: 5px;
	}
	.service-two h5{
		margin-top: 8px;
	}
	.form-inline button{
   		margin-left:0px;
   	}  
   	.rs-caption {
   		display: none;
   	}
   	.about-two .staff{
   		max-width: 250px;
   		margin: 0 auto;
   	}
}

@media (max-width: 991px){
	#title {
	font-size: 2em;
	float: left;
	padding-top:10%;
}
	.dropdown-menu a{
		margin: 0px !important;	
	}
	.da-slide{
		left: 0px;
	}	
	.da-slide .da-img{
		left: 70%;
	}	
}


@font-face {
	font-family: 'Oleo Script Bold';
	src: url('/fonts/OleoScript-Regular.ttf');
}
@font-face {
	font-family: 'Proxima Nova Alt Light';
	src: url('/fonts/Mark Simonson - Proxima Nova Alt Light.otf');
}
@font-face {
	font-family: 'Proxima Nova Alt Bold';
	src: url('/fonts/Mark Simonson - Proxima Nova Alt Bold.otf');
}
@font-face {
	font-family: 'Proxima Nova Alt Regular';
	src: url('/fonts/Mark Simonson - Proxima Nova Alt Regular.otf');
}
@font-face {
	font-family: 'MuseoSans_100-webfont';
	src: url('/fonts/MuseoSans_100-webfont.ttf');
	src: local("Hero"),
         url("/fonts/MuseoSans_100-webfont.eot?"),
         url("/fonts/MuseoSans_100-webfont.woff") format("woff"),
         url("/fonts/MuseoSans_100-webfont.ttf") format("truetype"),
         url("/fonts/MuseoSans_100-webfont.svg") format("svg");
}
@font-face {
	font-family: 'MuseoSans_500-webfont';
	src: url('/fonts/MuseoSans_500-webfont.ttf');
	src: local("Hero"),
         url("/fonts/MuseoSans_500-webfont.eot?"),
         url("/fonts/MuseoSans_500-webfont.woff") format("woff"),
         url("/fonts/MuseoSans_500-webfont.ttf") format("truetype"),
         url("/fonts/MuseoSans_500-webfont.svg") format("svg");
}


.font{
	font-family: 'Oleo Script Bold';
	/*font-family: 'Oleo Script', cursive;*/
	font-size: 26px;
	padding-bottom: 20px;
	color: #333;
	/*font-weight: normal 400;*/

}
.font1{
	font-family: 'Oleo Script Bold';
	/*font-family: 'Oleo Script', cursive;*/
	font-size: 26px;
	color: #333;
	float: left;
	padding-left: 10px;

}


/*menu*/
.mobileMenu{
	display: none;
}
.mob-logo{
	display: none;
}
.navbar-nav2{
	padding-left: 15px;
}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus{
	  border-color: #ffa915 !important;
}
.navbar-default .navbar-nav2>.open>a, .navbar-default .navbar-nav2>.open>a:hover, .navbar-default .navbar-nav2>.open>a:focus {
  color: #fff !important;
  background-color: #ffa915 !important;
}
.dropdown-menu2{
	text-align: left;
}

.dropdown-menu2 li a{	
	padding-left: 20px;
	color: #000;	
	background-color: #fff !important;
}
.dropdown-menu2 li a:hover{
	color: #fff !important;
	background-color: #ffa915 !important;
}
.menumenu{
	font-family: 'Proxima Nova Alt Light';
	text-align: left;
}
.menumenu:hover{
	background-color: #fff !important;
	color: #000 !important;
}

.dropdown-menu2 li{
	background-color: #000000 !important;
}

.subcolor{	
	font-family: 'Proxima Nova Alt Light';
	
}
.menumain1:hover{
	color: #ffffff !important;
}
nav li a{
	color:#000 !important;
}
.tabcontent{
	font-family: 'Proxima Nova Alt Light';
	font-size:13px;
}
.tabcontainer{
	height: 30px !important;
	color: #8c5901 !important;
}
.menutop{
	font-family: 'Proxima Nova Alt Regular';
	font-size:13px;
}
.navbar-collapse {
	padding-top:8px;
	padding-right: 0px !important;
  	padding-left: 0px !important;
}
.indexmenufont li a{
	font-family: 'MuseoSans_500-webfont'; 
	font-size:13px;
	color: #000 !important;	
}
.indexmenufont li ul li a:hover{	
	background-color: #ffa915 !important;	
	color: #fff !important;
}
.indexmenufont li ul li a{
	font-size:13px;
}


@media (max-width: 768px){
	.pulltop{
		margin-top: -50px;
	}
	.menusub {
	display:none !important;
	text-align: left;
	}
	
	.logo {
	display:none !important;
	}
	.mobileMenu,
	.mob-logo{
	display: block;
	}
	.h1title{
	font-size: 20px !important;
	}
	.container{
   	padding-left: 10px;
   	padding-right: 10px;
	}
	.maintitle{		
	width: 100% !important;
	height: 75px;
    background-size: 100% !important;
    background-repeat: no-repeat;
	}
	.maintitletxt{
	top: 65px !important;
	left: 240px !important;
	width: 90% !important;
	}
}
@media (max-width: 669px){
	.maintitletxt{
	top: 60px !important;
	left: 220px !important;
	}
	.maintitletxt404{
	top: 60px !important;
	left: 220px !important;
	}

}
@media (max-width: 598px){

	.maintitletxt{
	font-size: 22px !important;
	top: 50px !important;
	left: 180px !important;
	}

	.maintitletxt404{
	font-size: 22px !important;
	top: 50px !important;
	left: 180px !important;
	}

}
@media (max-width: 510px){
	.maintitletxt{
	font-size: 20px !important;
	top: 40px !important;
	left: 170px !important;
	}
	.maintitletxt404{
	font-size: 20px !important;
	top: 40px !important;
	left: 170px !important;
	}

}

@media (max-width: 451px){
	.maintitletxt{
	font-size: 19px !important;
	top: 35px !important;
	left: 140px !important;
	}
	.maintitletxt404{
	font-size: 19px !important;
	top: 35px !important;
	left: 140px !important;
	}

}

@media (max-width: 405px){
	.maintitletxt{
	font-size: 15px !important;
	top: 35px !important;
	left: 120px !important;
	}
	.maintitletxt404{
	font-size: 15px !important;
	top: 35px !important;
	left: 120px !important;
	}

}

@media (max-width: 360px){
	.maintitletxt{
	font-size: 15px !important;
	top: 35px !important;
	left: 100px !important;
	}
	.maintitletxt404{
	font-size: 15px !important;
	top: 35px !important;
	left: 100px !important;
	}

}

@media (max-width: 356px){
	.maintitletxt{
	font-size: 13px !important;
	top: 35px !important;
	left: 100px !important;
	}
	.maintitletxt404{
	font-size: 13px !important;
	top: 35px !important;
	left: 100px !important;
	}

}

@media (max-width: 326px){
	.maintitletxt{
	font-size: 13px !important;
	top: 30px !important;
	left: 95px !important;
	}
	.maintitletxt404{
	font-size: 13px !important;
	top: 30px !important;
	left: 95px !important;
	}

}


.fillmyimage {
	border-radius: 100%;
	margin-right:10px;
	float: left;
	width: 130px;
	height: 130px;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
}
.fillmyimage img {
    flex-shrink:0;
    max-width:200%;
    max-height:200%;

}

.h3 p{
	font-family: 'MuseoSans_500-webfont';
	font-size: 25px;
	color: #0cc2e3;
	/*text-shadow: 1px 1px 1px #999;*/
}

.h2 p{
	font-family: 'MuseoSans_500-webfont';
	font-size: 20px;
	color: #0cc2e3;
}
.hh4 p{
	font-family: 'MuseoSans_100-webfont'; 
	font-size: 18px;
	color: #333;
	font-weight:bold;
	padding: 10px 10px 10px 0px; 
	/*text-shadow: 1px 1px 1px #999;*/
}
.h2vid p{
	font-family: 'MuseoSans_100-webfont';
	font-size: 15px;
	color: #555;
	font-weight: 700px;
}

.h1title{
	font-family: 'MuseoSans_500-webfont';
	font-size: 32px;
	color: #0cc2e3;
}
.h4title{
	font-family: 'MuseoSans_500-webfont';
	font-size: 16px;
	line-height: 28px;
	color: #666;
	padding-bottom: 20px;
	font-weight: 600;
	width: 100%;
	border-bottom: 2px solid #0cc2e3;
	line-height: 2px;
}

.h5title{
	font-family: 'MuseoSans_500-webfont';
	font-size: 16px;
	line-height: 28px;
	color: #666;
	padding-bottom: 55px;
	font-weight: 600;
	width: 100%;
	border-bottom: 2px solid #0cc2e3;
	line-height: 2px;
}

.vidtitle{
	font-family: 'MuseoSans_500-webfont';
	font-size: 20px;
	color: #444;

}

.maintitletxt{
	font-family: 'MuseoSans_500-webfont';
	
	color: #fff;
	font-size: 35px;
	top: 70px;
	left: 260px;
	width: 400px;
	
	position: relative;
}
.maintitletxt404{
	font-family: 'MuseoSans_500-webfont';
	
	color: #fff;
	font-size: 60px;
	top: 90px;
	left: 290px;
	width: 340px;
	
	position: relative;
}

.maintitletxt{
	line-height: 100%;
}
.maintitle{
	width: 726px;
	height: 175px;
	background: url("/images/maintitlebg.png");	
    background-repeat: no-repeat;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 30px;
	position: relative;
}
.titlewho{
	font-family: 'MuseoSans_100-webfont'; 
	font-size: 18px;
	font-weight: bold;
	padding-bottom: 30px;
}

.subsubsub li a:hover{
	text-decoration: none !important;
}
.subsubsub li{
	background-color: #000 !important;
	margin-left: 0px;	
	text-decoration: none !important;
}
.subsubsub{

	background-color: #fff !important;
}

.socials{
	position: relative;
	z-index: 9999;
	float:right;
	padding-top:3px;
	width:190px;
}

.logo{
	position: relative;
	z-index: 9999;
}

/*inline*/
.balkot{
	padding:0px 0px 0px 0px;
	border-top:1px solid #ffae22;
	border-bottom:1px solid #ffae22;
	margin-bottom: 20px;
}
.wraper1 ul li{	
	color: #000;
	text-decoration: none;	
	display: inline-block;
	/*float: left;*/
	padding-top: 10px;
	padding-left: 25px;
	padding-right: 25px;

}
.wraper1 ul li a{
	font-family: 'MuseoSans_100-webfont';
	font-size: 14px;
	color: #8c5901;
}
.wraper1 ul li a:hover{		
	text-decoration: underline !important;	
}
.wraper1{
text-align: center;
background-color: #fff9e2 !important;
}
.wraper1 ul{
text-align: center;
padding-left: 0;
padding-bottom: 10px;
margin-bottom: 0px;
}
.descript{
	font-family: 'MuseoSans_100-webfont';
	font-size: 14px;
	margin:20px 20px 20px 20px !important;
}
.bodyfonts{
	font-family: 'MuseoSans_100-webfont';
	font-size: 14px;
}
 .pagenotfound{
  width: 726px;
  margin: auto;
  margin-top: 60px;
  text-align: center;
  
} 

@media (max-width: 743px){
  .pagenotfound{
  	width: 100% !important;
  }
  .page404 p{
	font-size: 30px !important;
}

}

.page404 p{
	font-family: 'MuseoSans_500-webfont';
	font-size: 40px;
	color: #0cc2e3;
	line-height: 100%;
}
@media (max-width: 338px){
	.socialimg{
		height: 40px;
		width: 40px;
	}
}
