<form class="bs-example form-horizontal" name="form" novalidate ng-submit="ok(category)">
<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Add Category</h1>
    <a id="top"></a>
</div>
<div class="wrapper-md">
    <div class="panel panel-default">
        <div class="panel-heading">
            Add Category
        </div>
        <div class="row wrapper">
           <div class="col-sm-10">         
             <input type="text" id="title" name="title" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-pattern" ng-model="category.catnames" required="required">
            </div>
        </div>
        <div class="table-responsive">
            
        </div>
        <footer class="panel-footer">
             <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
             <button type="submit" class="btn btn-success">Save</button>
        </footer>
</div>
</div>

</form>