<form class="bs-example form-horizontal" name="form" novalidate>
    <div class="modal-header">
        <h3 class="modal-title">Edit User!</h3>
    </div>
    <div class="modal-body" ng-show="process==true">
        <p ng-show="success==false">Updating user profile record.</p>
        <p ng-show="success==true">Success!</p>
    </div>
    <div class="modal-body" ng-show="process==false">

        <div class="form-group">
            <label class="col-lg-2 control-label">Firstname </label>
            <div class="col-lg-10">
                <input type="text" ng-model="user.username" name="username"  required class="form-control" >
                <span class="formerror" ng-show="usernametaken != ''">Username has already been taken.</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">Firstname </label>
            <div class="col-lg-10">
                <input type="text" name="fname" ng-model="user.fname" required class="form-control" >
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">Last Name </label>
            <div class="col-lg-10">
                <input type="text" name="lname" ng-model="user.lname"  required class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">Email</label>
            <div class="col-lg-10">
                <input type="email" name="email" ng-model="user.email"  required  class="form-control">
                <span class="formerror" ng-show="form.email.$error.email">This is not a valid email</span> <span class="formerror" ng-show="emailtaken != ''">Email already taken.</span> 
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">Birthday</label>
            <div class="col-lg-10">
                <span ng-bind="bday"></span><select ng-model="user.bday" class="day" ng-options="d.val for d in day" required></select>
                <span ng-bind="bmonth"></span><select ng-model="user.bmonth" class="month" ng-options="m.val for m in month" required></select>
                <span ng-bind="byear"></span><select ng-model="user.byear" class="year" ng-options="y.val for y in year" required></select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">Gender</label>
            <div class="col-lg-10">
                <label><input class="form-control" type="radio" value="male" ng-model="user.gender" name="3"></input>  Male</label> 
                <label><input class="form-control" type="radio" value="female" ng-model="user.gender" name="4"></input> Female</label> 
                <label><input class="form-control" type="radio" value="other" ng-model="user.gender" name="4"></input>  Other</label> 
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">Location</label>
            <div class="col-lg-10">
                <span ng-bind="location"></span>
                <select ng-model="user.location" class="form-control location" ng-options="cn.name for cn in countries" required></select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">Zip Code</label>
            <div class="col-lg-10">
                <input type="text" name="zipcode" ng-model="user.zipcode" required class="form-control" >
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">Status</label>
            <div class="col-lg-10">
                <label class="i-checks m-b-none"><input name="status" ng-model="user.status" type="checkbox" value="1" ng-checked="status==1"><i></i></label>
            </div>
        </div>
        <!-- <input type="button" name="" id="abouteco" value="Submit" ng-show="process==false" class="submit" ng-click="register(user)" ng-disabled="form.$invalid" /> -->
        <h4>Change Password</h4>
        <div class="form-group">
            <label class="col-lg-2 control-label">Password</label>
            <div class="col-lg-10">
                <input type="text" ng-model="pass.password" name="password" required class="form-control" >
                <span class="formerror" ng-show="passerror!=''" ng-bind="passerror"></span>	
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">Re-type Password</label>
            <div class="col-lg-10">
                <input type="text" ng-model="pass.retypepass" name="retypepass" required class="form-control" >
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label"></label>
            <div class="col-lg-10">
                <button class="btn btn-primary" ng-click="updatepass(pass)" ng-disabled="password != retypepass || password == ''">Update</button>
            </div>
        </div>
        
    </div>
    <div class="modal-footer" ng-hide="process==true">                  
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        <button class="btn btn-primary" ng-click="ok(user)" ng-disabled="form.user.$invalid">Update</button>
    </div>
</form>