<style type="text/css">
	.label_profile_pic {
		display: block;
		margin:10px 0;
	}
	.create-proj-thumb{
		text-align: center;
	}
	.create-proj-thumb label{
		font-size: 12px;
	}
	.create-proj-thumb img{
		max-width: 100%;
	}
	.propic {
		position: relative;
	}
	.modal.modal-wide .modal-dialog {
		width: 90%;
	}
	.modal-wide .modal-body {
		overflow-y: auto;
	}
</style>
<div class="wrapper-md ">
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-heading font-bold"> 
			<button class="btn btn-default pull-right" ng-click="cancel()">CLose</button>
			Upload New Photo
			</div>
			<div class="panel-body">
				<div class="col-lg-12">
					<div class="widget">
						<div class="widget-content">

							<div class="loader" ng-show="imageloader">
								<div class="loadercontainer">
									<div class="spinner">
										<div class="rect1"></div>
										<div class="rect2"></div>
										<div class="rect3"></div>
										<div class="rect4"></div>
										<div class="rect5"></div>
									</div>
									Uploading your images please wait...
								</div>
							</div> 

							<div class="panel-body" ng-show="imagecontent">
								<div class="col-sm-12 create-proj-thumb" ng-if="imageselected == false">
									<alert ng-repeat="imgAlerts in imgAlerts" type="{[{imgAlerts.type }]}" close="closeAlert($index)">{[{ imgAlerts.msg }]}</alert>
								</div>
								<div class="col-sm-12 propic create-proj-thumb">
									<br><br>
									<div class=" border-dash browse-img-wrap" id="change-picture" accept='image/*' ngf-change="prepare(files)" ngf-select ng-model="files" ngf-multiple="false" required="required">
										<a href="">Choose an image from your computer</a><br>
										<label>JPG, PNG, GIF or BMP | Maximum size of 2MB</label><br>
										<label>At least 1024x768 pixels</label>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-3 col-sm-4 col-xs-6" ng-repeat="data in data">
									<ul class="nav nav-pills pull-left" style="margin-bottom:-20px;">
										<li>
											<form class="form-validation ng-pristine ng-invalid ng-invalid-required" ng-submit="dltnewsimageClick(dlt)" name="form" enctype="multipart/form-data">
												<input type="hidden" id="" name="imgid" ng-init="dlt.id=data.imgid" class="form-control" placeholder="{[{ data.imgid }]}" ng-model="dlt.id">
												<div class="buttonPanel{[{ data.imgid }]}">
													<button class="btn btn-rounded btn-sm btn-icon btn-danger"><i class="fa fa-trash-o"></i></button>
													
												</div>
											</form>
										</li>
										<li>
											<button class="btn btn-rounded btn-sm btn-icon btn-success" ng-click="path(data.imgpath)"><i class="fa fa-link"></i></button>
										</li>
									</ul>
									<div style="clear:both"></div>
									<a ng-click="slctimage(data.imgpath)">
										<img src="{[{ data.imgpath}]}" class="thumbnail img-responsive" >
									</a>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>