<form class="bs-example form-horizontal" name="form" novalidate>
	<div class="modal-header">
		<h4 class="modal-title"><label class="text-muted">Manage</label> "<strong>{[{_title}]}</strong>" <label class="text-muted">Description</label></h4>
	</div>
	<div class="panel-body">
		<label class="text-muted">Description</label>
		<textarea class="form-control" rows="6" ng-model="desc" placeholder="Type your message"></textarea>
	</div>

	<div class="modal-footer" ng-hide="process==true">                  
		<button class="btn btn-default" ng-click="cancel()">Cancel</button>
		<a ng-click="ok({id:_id,desc:desc})"><span class="btn btn-primary" >Update</span></a>
	</div>
</form>