<form class="bs-example form-horizontal" name="form" novalidate>
    <div class="modal-header">
        <h3 class="modal-title">Set Slider</h3>
    </div>
     <div class="col-sm-6" >
         	<div class="radio">
              <label class="i-checks">
                <input type="radio" name="a" value="option2" checked="">
                <i></i>
                Set As -1
              </label>
            </div>
    </div>
    <div class="modal-footer" ng-hide="process==true">                  
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        <button class="btn btn-primary" ng-click="ok()">Edit</button>
    </div>
</form>