.basictab ul{
	margin: 4px;
	padding: 3px 0;
	margin-left: 0;
	list-style-type: none;
	text-align: left; /*set to left, center, or right to align the menu as desired*/
}

.basictab li{
	display: inline;
	margin: 0;
}

.basictab li a{
	text-decoration: none;
	padding: 3px 7px;
	margin-right: 3px;
	border-bottom: none;
	color: #000;
}

.basictab li a:visited{
	color: #2d2b2b;
}

.basictab li a:hover, .basictab li a.current{
	background-color: #DBFF6C;
	color: #fff;
}

.basictab li a:active{
	color: black;
}

.tabcontainer{
	clear: left;
	width:95%; /*width of 2nd level sub menus*/
	height:1.5em; /*height of 2nd level sub menus. Set to largest's sub menu's height to avoid jittering.*/
}

.tabcontent{
	display:none;
}
.tabcontent li{
	display: inline;
	margin: 0;
	color: #8c5901;
}

.tabcontent ul{
	margin: 4px;
	padding: 3px 0;
	margin-left: 0;
	list-style-type: none;
	text-align: left; /*set to left, center, or right to align the menu as desired*/
}

.tabcontent li a{
	text-decoration: none;
	margin-right: 3px;
	color: #8c5901 !important;
}

.tabcontent  a:hover{
	text-decoration: none;
	margin-right: 3px;
	color: #8c5901 !important;

}

.tabcontent li{
	padding: 25px 20px 18px 20px;
}
.tabcontent li:hover{
	padding: 20px 20px 19px 20px;
	border-top: 1px solid #8c5901;
	border-bottom: 1px solid #8c5901;
}

.tabcontent ul a{
	text-decoration: none;
	margin-right: 3px;
	color: #8c5901 !important;
}

.tabcontent ul a:hover{
	font-weight: bold;
	/*text-decoration: underline;	*/
	color: #8c5901 !important;
}
.tabcontent ul a li:hover{	
	border-bottom: 1px solid #8c5901;
}

   .tabcontent li > .navbar1 ul li:hover{
    z-index: 9999;
    display: block;
    list-style-type: none;
    background: url("/img/menuhover.png");
    background-size: 95px;   
    background-repeat: no-repeat;
    background-position: 8px 8px;
    color: #fff !important;
    height: 63px;
    margin-bottom: -50px;
  }
 
