<?php

function defaultselected($i) {
    if ($i == 1 || $i == 17 || $i == 18) {
        echo '0';
    } elseif ($i == 2 || $i == 3 || $i == 4 || $i == 5 || $i == 6 || $i == 21) {
        echo '1';
    } elseif ($i == 7 || $i == 8 || $i == 9 || $i == 10 || $i == 11 || $i == 12 || $i == 13 || $i == 14 || $i == 15 || $i == 16 || $i == 23 || $i == 24 || $i == 25) {
        echo '2';
    } elseif ($i == 222) {
        echo '2';
    } elseif ($i == 301) {
    echo '3';
    }elseif ($i == 401) {
        echo '4';
    } elseif ($i == 501) {
        echo '5';
    } else {
        echo '0';
    }
}
?>
<!DOCTYPE html>
<html lang="en" data-ng-app="app">

    <head >
        <title><?php echo $metatitle ?></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="user-scalable = yes" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta charset="utf-8">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="title" content="<?php echo $metatitle ?>">
        <meta name="description" content="<?php echo $metadesc ?>">
        <meta name="keywords" content="<?php echo $metakeyword ?>">
        <meta name="author" content="">
        <link rel="shortcut icon" href="/images/faviconblue.ico" type='image/x-icon'/>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>

        <!-- Stylesheets -->
        <link href="/css/fr/bootstrap.css" rel="stylesheet">
        <!-- Pretty Photo -->
        <link href="/css/fr/prettyPhoto.css" rel="stylesheet">
        <!-- Flex slider -->
        <link href="/css/fr/flexslider.css" rel="stylesheet">
        <!-- Font awesome icon -->
        <link rel="stylesheet" href="/css/fr/font-awesome.css">
        <!-- Parallax slider -->
        <!-- <link rel="stylesheet" href="/css/fr/slider.css"> -->
        <!-- Refind slider -->
        <link rel="stylesheet" href="/css/fr/refineslide.css">  
        <!-- Stylesheet for Color -->

        <link rel="stylesheet" href="/fcalendar/fullcalendar.css">
        <link rel="stylesheet" href="/jquery.qtip.custom/jquery.qtip.min.css">

        <link href="/css/fr/easy-responsive-tabs.css" rel="stylesheet">
        <link href="/css/fr/inline.css" rel="stylesheet">


        <!-- <script type="text/javascript" src="/css/fr/tabv.css"></script> -->
        <link rel="stylesheet" href="/css/fr/tabv.css">


        <script type="text/javascript" src="/css/fr/ddtabmenufiles/ddtabmenu.js">


            /***********************************************
             * DD Tab Menu script- Â© Dynamic Drive DHTML code library (www.dynamicdrive.com)
             * This notice MUST stay intact for legal use
             * Visit Dynamic Drive at http://www.dynamicdrive.com/ for full source code
             ***********************************************/

        </script>

        <!-- CSS for Tab Menu #1 -->
        <link rel="stylesheet" type="text/css" href="/css/fr/ddtabmenufiles/ddtabmenu.css" />


        <!-- CSS for Tab Menu #2 -->
        <link rel="stylesheet" type="text/css" href="/css/fr/ddtabmenufiles/glowtabs.css" />

        <!-- CSS for Tab Menu #3 -->
        <link rel="stylesheet" type="text/css" href="/css/fr/ddtabmenufiles/solidblocksmenu.css" />

        <!-- CSS for Tab Menu #4 -->
        <link rel="stylesheet" type="text/css" href="/css/fr/ddtabmenufiles/ddcolortabs.css" />

        <!-- CSS for Tab Menu #5 -->
        <link rel="stylesheet" type="text/css" href="/css/fr/ddtabmenufiles/chromemenu.css" />

        <style type="text/css">
            navsearch ul ul {
            display: none;
          }
          navsearch ul li:hover > ul {
            display: block;
          }
          navsearch ul li{
            display: block;
            display: inline;
          }
          navsearch ul ul {
          background: #FFF; border-radius: 0px; padding: 0;
          position: absolute; right: 50%;
          }
          navsearch ul ul li {
            float: none; 
            position: relative;
          }
          navsearch ul ul li a {
            padding:20px;
            color: #fff;
          } 
          navsearch ul ul li a:hover {
            text-decoration: none;
          }
          .searchform
          {
            position: relative;
            width: 300px;
            right: 0px;
          }
            .searchmargin
            {
              margin-top: -20px;
              margin-bottom: -20px;
            }
            .searchdiv
            {
              float: right;
              padding: 20px;
              border:1px solid #ddd;
            }

            #search input {
              background: none repeat scroll 0 0 #fff;
              border-top:1px solid #7F7F7F;
              border-bottom:1px solid #7F7F7F;
              border-left:1px solid #7F7F7F;
              color: #7F7F7F;
              float: left;
              font: 12px 'Helvetica','Lucida Sans Unicode','Lucida Grande',sans-serif;
              height: 30px;
              margin: 0;
              padding: 15px;
              transition: background 0.3s ease-in-out 0s;
              width: 250px;
            }

            #search button {
              background: url("/images/search.png") no-repeat scroll center center #ffae22;
              cursor: pointer;
              height: 30px;
              padding: 15px;
              text-indent: -99999em;
              transition: background 0.3s ease-in-out 0s;
              width: 20px;
              border-top:1px solid #7F7F7F;
              border-bottom:1px solid #7F7F7F;
              border-right:1px solid #7F7F7F;
            }

            #search button:hover {
              background-color:#7F7F7F;
            }

            .navbar1 *,.nav-collapse *{
                box-shadow: none !important;
                text-shadow: none !important;
                border-radius: 0px !important;
            }

            .navbar1{
                padding-left: 0px;
                background: transparent;
                filter: none !important;
                border: 0px !important;
            }

            .navbar1 .btn{
                font-size:12px;
                padding:6px 10px;
                color: #fff !important;
            }

            .navbar1{
                border-top: 0px !important;
                border-bottom: 0px !important;
                margin-top: -5px;
                margin-bottom: 0px;
                text-align: center;
            }

            .navbar1 ul li{
                z-index: 9999;
                list-style-type: none;
                padding-bottom: 0px;
                width: 110px;
                height: 60px;
                color: #8c5901 !important;
            }
            /*.navbar1 ul li:hover{*/
            /*z-index: 9999;*/
            /*display: block;*/
            /*list-style-type: none;*/

            /*}*/

            .navbar1 a.current{
                background: url("/img/menuhover.png");
                background-size: 110px;
                background-repeat: no-repeat;
                background-position: 3px 3px;
                background-color: none;
                color: #fff !important;
                height: 63px;
                margin-bottom: -50px;
            }

            .navbar1 button{
                border: 0px;
                background:#eee !important;
                z-index: 9999;
            }

            .navbar1 button:hover{
                background:none;
                z-index: 9999;
                color: #fff !important;
            }

            .nav > li > a:hover, .nav > li > a:focus {
                text-decoration: none !important;
                background-color: transparent !important;
            }
            .navbar1 button .icon-bar{
                background: #ddd !important;
            }

            .navbar1 .caret{
                border-top-color:#888 !important;
                border-bottom-color:#888 !important;
            }

            .navbar1 a, .navbar a:visited{
                z-index: 9999;
            }

            .activetab{
                font-weight: bold;
        
            }
            .notactive{
            }



            .dropdown-menu{
                border-radius:0px !important;
                box-shadow:none !important;
                border:none !important;
                padding:0px 0px;
                margin:0px;
                z-index: 300000;
                background: #333;
                border: 0px !important;
                z-index: 9999;
            }

            .dropdown-menu a, .dropdown-menu a:visited{
                z-index: 9999;
                padding:7px 10px !important;
                text-shadow:none !important;
            }

            .dropdown-menu a:hover,.dropdown-menu a:focus{

                filter:none !important;
            }

            .dropdown-menu:after, .dropdown-menu:before{
                border:none !important;
            }

            .navbar1 .nav li.dropdown.open > .dropdown-toggle,
            .navbar1 .nav li.dropdown.active > .dropdown-toggle,
            .navbar1 .nav li.dropdown.open.active > .dropdown-toggle {
                background-color: transparent;
            }
            .spinner {
              margin: 70px auto 0;
              width: 70px;
              text-align: center;
          }

          .spinner > div {
              width: 18px;
              height: 18px;
              background-color: #23527c;

              border-radius: 100%;
              display: inline-block;
              -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
              animation: bouncedelay 1.4s infinite ease-in-out;
              /* Prevent first frame from flickering when animation starts */
              -webkit-animation-fill-mode: both;
              animation-fill-mode: both;
          }

          .spinner .bounce1 {
              -webkit-animation-delay: -0.32s;
              animation-delay: -0.32s;
          }

          .spinner .bounce2 {
              -webkit-animation-delay: -0.16s;
              animation-delay: -0.16s;
          }

          @-webkit-keyframes bouncedelay {
              0%, 80%, 100% { -webkit-transform: scale(0.0) }
              40% { -webkit-transform: scale(1.0) }
          }

          @keyframes bouncedelay {
              0%, 80%, 100% { 
                transform: scale(0.0);
                -webkit-transform: scale(0.0);
            } 40% { 
                transform: scale(1.0);
                -webkit-transform: scale(1.0);
            }

        </style>



        <link href="/js/lightbox/css/lightbox.css" rel="stylesheet" />
        <link href="/css/fr/style.css" rel="stylesheet">




    </head>




    <body ng-controller="indexMainCtrl">

        <!-- Header starts -->
        <header>

           <script>
            function myFunction() {
                window.location.href="/search/index/"+document.getElementById("searchkey").value+"/1";
            }
        </script>

            <!-- <div class="content">
            <div class="container searchmargin" >
                <div class="searchdiv" >
                  <form method="get" id="search" ng-submit="search(keywords)" name="formnl">
                    <input type="text" class="search" value="Type and hit enter" onblur="if(this.value == '') { this.value = 'Type and hit enter'; }" onfocus="if(this.value == 'Type and hit enter') { this.value = ''; }" ng-model="keywords.name" required>
                    <button type="submit">Submit</button>
                  </form>
              </div>
            </div>
          </div> -->

            <div class="content-mainpage">
            <div class="container">
                    <div class="socials">
                        <div class="headicon">
                          <navsearch>
                            <ul>
                            <li><a><img src="/images/icon-search.png">&nbsp;&nbsp;&nbsp;</a>
                              <ul>
                                <li><a>
                                    <div class="searchdiv" >
                                      <div class="searchform">
                                      <form id="search" name="formnl">
                                          <input id="searchkey" type="text" class="search" value="Type and hit enter" onblur="if(this.value == '') { this.value = 'Type and hit enter'; }" onfocus="if(this.value == 'Type and hit enter') { this.value = ''; }" ng-model="keywords.name" required>
                                          <button onclick="myFunction()">Search</button>
                                      </form>
                                      <p id="demo"></p>
                                      </div>
                                    </div>
                                    </a>
                                </li>
                              </ul>
                            </li>
                            <li><a href="<?php echo $socialLink[0]->url?>" target="_blank"><img src="/images/f.png"></a></li>
                            <li><a href="<?php echo $socialLink[1]->url?>" target="_blank"><img src="/images/t.png"></a></li>
                            <li><a href="<?php echo $socialLink[2]->url?>" target="_blank"><img src="/images/g.png"></a></li>
                            </ul>
                </div>
                    </div>
                
                <div class="row">
                    <div class="col-md-2 logo">  
                        
                            <a href="<?php echo $this->config->application->baseURL ?>">
                                <img src="<?php echo $path; ?>">
                            </a>
                       
                        <div style="clear:both;"></div>
                    </div>

                   

                        <!-- Navigation -->
                        <div class="col-md-9 navbar1 bs-docs-nav" role="banner" style="margin-top:-75px;">

                            <nav id="ddtabs1"  class="collapse navbar-collapse bs-navbar-collapse menutop indexmenufont" role="navigation" >
                                <ul class="nav navbar-nav" style="margin-top:20px;color:#000 !important;font-weight: normal;">
                                    <li><a href="<?php echo $this->config->application->baseURL ?>/page/index/Who-is-Ilchi-Lee" rel="sc1">MEET ILCHI</a></li>  
                                    <li><a href="<?php echo $this->config->application->baseURL ?>/page/index/Principles" rel="sc2">PRINCIPLES</a></li>    
                                    <li><a href="<?php echo $this->config->application->baseURL ?>/page/index/Projects" rel="sc3">PROJECTS</a></li>
                                    <li><a href="<?php echo $this->config->application->baseURL ?>/publication/index/1" rel="sc4">PUBLICATIONS</a></li>
                                    <li><a href="<?php echo $this->config->application->baseURL ?>/post/index" rel="sc5">POSTS</a></li>
                                    <li><a href="<?php echo $this->config->application->baseURL ?>/contact/contactus" rel="sc6">CONTACT</a></li>
                                </ul>
                            </nav>
                        </div>                        
                   
                </div>
            </div>
        
    <!-- Seperator -->

    <!-- Header ends -->

    <div class="page-head menusub">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="tabcontainer">
                        <div id="sc1" class="tabcontent">
                            <ul>                
                                <li <?php if($activeid==1){echo "class='activetab'";}else{echo "class='notactive'";} ?> >
                                    <a href="<?php echo $this->config->application->baseURL ?>/page/index/Who-is-Ilchi-Lee">
                                        ABOUT ILCHI LEE
                                    </a>
                                </li>
                                <li <?php if($activeid==2){echo "class='activetab'";}else{echo "class='notactive'";} ?>>
                                    <a href="<?php echo $this->config->application->baseURL ?>/gallery/index">
                                        GALLERY
                                    </a>
                                </li>
                                <li <?php if($activeid==3){echo "class='activetab'";}else{} ?>>
                                    <a href="<?php echo $this->config->application->baseURL ?>/page/index/Ilchi-Lees-Timeline">
                                        ILCHI LEE'S TIMELINE
                                    </a>
                                </li>
                                <li <?php if($activeid==4){echo "class='activetab'";}else{} ?>>
                                    <a href="<?php echo $this->config->application->baseURL ?>/calendar">
                                        SCHEDULE
                                    </a>
                                </li>
                                <li <?php if($activeid==5){echo "class='activetab'";}else{} ?>>
                                    <a href="<?php echo $this->config->application->baseURL ?>/video">
                                        VIDEOS
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div id="sc2" class="tabcontent">
                            <ul>
                                <li <?php if($activeid==6){echo "class='activetab'";}else{} ?>>
                                    <a href="<?php echo $this->config->application->baseURL ?>/page/index/Self-Development-Guidelines">
                                        SELF-DEVELOPMENT GUIDELINES
                                    </a>
                                </li>
                                <li <?php if($activeid==7){echo "class='activetab'";}else{} ?>>
                                    <a href="<?php echo $this->config->application->baseURL ?>/page/index/Awakened-Brain">
                                        AWAKENED BRAIN                     
                                    </a>
                                </li>
                                <li <?php if($activeid==8){echo "class='activetab'";}else{} ?>>
                                    <a href="<?php echo $this->config->application->baseURL ?>/page/index/Energy-Principle">
                                        ENERGY PRINCIPLE
                                    </a>
                                </li>
                                <li <?php if($activeid==9){echo "class='activetab'";}else{} ?>>
                                    <a href="<?php echo $this->config->application->baseURL ?>/page/index/Earth-Citizenship">
                                        EARTH CITIZENSHIP
                                    </a>
                                </li>
                                <li <?php if($activeid==10){echo "class='activetab'";}else{} ?>>
                                    <a href="<?php echo $this->config->application->baseURL ?>/page/index/Korean-Heritage">
                                        KOREAN HERITAGE
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div id="sc3" class="tabcontent" ng-controller="anchorMainCtrl">
                            <ul>
                                <li <?php if($activeid==11){echo "class='activetab'";}else{} ?>> 
                                    <a href="<?php echo $this->config->application->baseURL ?>/page/index/Projects#/Projects#Media">
                                        MEDIA
                                    </a>
                                </li>
                                <li <?php if($activeid==12){echo "class='activetab'";}else{} ?>>
                                    <a ng-click="scrollTo('beginnings')" href="<?php echo $this->config->application->baseURL ?>/page/index/Projects#/Projects#Movements">
                                        MOVEMENTS
                                    </a>
                                </li>
                                <li <?php if($activeid==13){echo "class='activetab'";}else{} ?>>
                                    <a ng-click="scrollTo('beginnings')" href="<?php echo $this->config->application->baseURL ?>/page/index/Projects#/Projects#Education">
                                        EDUCATION
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div id="sc4" class="tabcontent">
                            <ul>
                                <li <?php if($activeid==14){echo "class='activetab'";}else{} ?>>
                                    <a href="<?php echo $this->config->application->baseURL ?>/publication/index/1">
                                        BOOKS
                                    </a>
                                </li>
                                <li <?php if($activeid==15){echo "class='activetab'";}else{} ?>>
                                    <a href="<?php echo $this->config->application->baseURL ?>/publication/index/2">
                                        CDs
                                    </a>
                                </li>
                                <li <?php if($activeid==16){echo "class='activetab'";}else{} ?>>
                                    <a href="<?php echo $this->config->application->baseURL ?>/publication/index/3">
                                        RELATED PRODUCTS
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div id="sc5" class="tabcontent">
                            <ul>
                                <li <?php if($activeid==17){echo "class='activetab'";}else{} ?>> 
                                    <a href="<?php echo $this->config->application->baseURL ?>/post/index">
                                    </a>
                                </li>
                                <li <?php if($activeid==18){echo "class='activetab'";}else{} ?>> 
                                    <a href="<?php echo $this->config->application->baseURL ?>/post/category/Journal">
                                        JOURNAL
                                    </a>
                                </li>
                                <li <?php if($activeid==19){echo "class='activetab'";}else{} ?>> 
                                    <a href="<?php echo $this->config->application->baseURL ?>/post/category/News">
                                        NEWS
                                    </a>
                                </li>
                                <li <?php if($activeid==20){echo "class='activetab'";}else{} ?>>
                                    <a href="<?php echo $this->config->application->baseURL ?>/post/category/Video">
                                        VIDEOS
                                    </a>
                                </li>
                                <li <?php if($activeid==21){echo "class='activetab'";}else{} ?>> 

                                    <a href="<?php echo $this->config->application->baseURL ?>/feed" target="_blank">

                                        RSS
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div id="sc6" class="tabcontent">
                            <ul>
                                <li <?php if($activeid==22){echo "class='activetab'";}else{} ?>> 
                                    <a href="<?php echo $this->config->application->baseURL ?>/contact/contactus">
                                        CONTACT US
                                    </a>
                                </li>
                                <li <?php if($activeid==23){echo "class='activetab'";}else{} ?>> 
                                    <a href="<?php echo $this->config->application->baseURL ?>/choosecountry">
                                        CHOOSE A COUNTRY
                                    </a>
                                </li>
                                <li <?php if($activeid==24){echo "class='activetab'";}else{} ?>>
                                    <a href="<?php echo $this->config->application->baseURL ?>/contact/termsandconditions">
                                        TERMS & CONDITION
                                    </a>
                                </li>
                                <li <?php if($activeid==25){echo "class='activetab'";}else{} ?>> 
                                    <a href="<?php echo $this->config->application->baseURL ?>/feed" target="_blank">

                                        RSS 
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>  

                </div>
            </div>
        </div>
    </div>    
    </div>
            <!-- toogle menu -->
    <div class="container-fluid">
        <div class="mob-logo"  style="width:115px;margin:auto;padding-top:5px;"><a href="<?php echo $this->config->application->baseURL ?>"><img src="/images/headerlogo.png" style="width:115px;"></a></div>
        <div class="mobileMenu mobileMenu2">
            <nav role="navigation" class="navbar navbar-default">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="" class="navbar-brand">Ilchi Lee</a>
                </div>

                <!-- Collection of nav links and other content for toggling -->
                <div id="navbarCollapse" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-nav2">
                        <li>
                            <a class="btn dropdown-toggle menumenu" data-toggle="dropdown" href="">MEET ILCHI&nbsp;&nbsp;<span class="caret"></span></a>
                            <ul class="dropdown-menu dropdown-menu2">
                                <li><a href="<?php echo $this->config->application->baseURL ?>/page/index/Who-is-Ilchi-Lee"><span class="subcolor">About Ilchi Lee</span></a></li>
                                <li><a href="<?php echo $this->config->application->baseURL ?>/gallery/index"><span class="subcolor">Gallery</span></a></li>
                                <li><a href="<?php echo $this->config->application->baseURL ?>/page/index/Ilchi-Lees-Timeline"><span class="subcolor">Ilchi Lee's Timeline</span></a></li>
                                <li><a href="<?php echo $this->config->application->baseURL ?>/calendar"><span class="subcolor">Schedule</span></a></li>
                                 <li><a href="<?php echo $this->config->application->baseURL ?>/video"><span class="subcolor">Videos</span></a></li>
                            </ul>
                        </li>

                        <li>
                            <a class="btn dropdown-toggle menumenu" data-toggle="dropdown" href="">PRINCIPLES&nbsp;&nbsp;<span class="caret"></span></a>
                            <ul class="dropdown-menu dropdown-menu2">
                                <li><a href="<?php echo $this->config->application->baseURL ?>/page/index/Self-Development-Guidelines"><span class="subcolor">Self-Development Guidelines</span></a></li>
                                <li><a href="<?php echo $this->config->application->baseURL ?>/page/index/Awakened-Brain"><span class="subcolor">Awakened Brain</span></a></li>
                                <li><a href="<?php echo $this->config->application->baseURL ?>/page/index/Energy-Principle"><span class="subcolor">Energy Principle</span></a></li>
                                <li><a href="<?php echo $this->config->application->baseURL ?>/page/index/Earth-Citizenship"><span class="subcolor">Earth Citizenship</span></a></li>
                                <li><a href="<?php echo $this->config->application->baseURL ?>/page/index/Korean-Heritage"><span class="subcolor">Korean Heritage</span></a></li>
                            </ul>
                        </li>

                        <li>
                            <a class="btn dropdown-toggle menumenu" data-toggle="dropdown" href="">PROJECT&nbsp;&nbsp;<span class="caret"></span></a>
                            <ul class="dropdown-menu dropdown-menu2">
                                <li><a href="<?php echo $this->config->application->baseURL ?>/page/index/Projects"><span class="subcolor">Media</span></a></li>                                
                                <li><a href="<?php echo $this->config->application->baseURL ?>/page/index/Projects"><span class="subcolor">Movements</span></a></li>
                                <li><a href="<?php echo $this->config->application->baseURL ?>/page/index/Projects"><span class="subcolor">Education</span></a></li>
                            </ul>
                        </li>

                        <li>
                            <a class="btn dropdown-toggle menumenu" data-toggle="dropdown" href="/publication">PUBLICATIONS&nbsp;&nbsp;<span class="caret"></span></a>
                            <ul class="dropdown-menu dropdown-menu2">
                                <li><a href="<?php echo $this->config->application->baseURL ?>/publication/index/1"><span class="subcolor">Books</span></a></li>
                                <li><a href="<?php echo $this->config->application->baseURL ?>/publication/index/2"><span class="subcolor">CDs</span></a></li>
                                <li><a href="<?php echo $this->config->application->baseURL ?>/publication/index/3"><span class="subcolor">Related Products</span></a></li>
                            </ul>
                        </li>

                        <li> 
                            <a class="btn dropdown-toggle menumenu" data-toggle="dropdown" href="">POSTS&nbsp;&nbsp;<span class="caret"></span></a>
                            <ul class="dropdown-menu dropdown-menu2">
                                <li><a href="<?php echo $this->config->application->baseURL ?>/post/index"><span class="subcolor">Latest Posts</span></a></li>
                                <li><a href="<?php echo $this->config->application->baseURL ?>/post/category/Journal"><span class="subcolor">Journal</span></a></li>
                                <li><a href="<?php echo $this->config->application->baseURL ?>/post/category/News"><span class="subcolor">News</span></a></li>
                                <li><a href="<?php echo $this->config->application->baseURL ?>/post/category/Video"><span class="subcolor">Video</span></a></li>
                                <li><a href="<?php echo $this->config->application->baseURL ?>/feed"><span class="subcolor">RSS</span></a></li>
                            </ul>
                        </li>

                        <li><a class="btn dropdown-toggle menumenu" data-toggle="dropdown" href="#">CONTACT&nbsp;&nbsp;<span class="caret"></span></a>
                            <ul class="dropdown-menu dropdown-menu2">
                                <li><a href="<?php echo $this->config->application->baseURL ?>/contact/contactus"><span class="subcolor">Contact Us</span></a></li>
                                <li><a href="<?php echo $this->config->application->baseURL ?>/choosecountry"><span class="subcolor">Choose a Country</span></a></li>
                                <li><a href="<?php echo $this->config->application->baseURL ?>/contact/termsandconditions"><span class="subcolor">Terms & Conditions</span></a></li>
                                <li><a href="<?php echo $this->config->application->baseURL ?>/feed" target="_blank"><span class="subcolor">RSS</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    </header>

    <!-- PAGE CONTENT -->

        <div class="content">
            <div class="container" style="padding-left:10px;">
                <?php echo $this->getContent(); ?>  
            </div>
        </div>

    <!-- END PAGE CONTENT -->

    <!-- Footer starts -->
    <div class="footer">
        <div class="container">
            <div class="row">

                <div class="col-md-12">

                    <div class="socialmedia">
                        <!-- Copyright info -->
                        <div class="footercont">
                            <ul class="linkfooter">
                               <li> <a href="<?php echo $socialLink[3]->url?>" target="_blank"><img class="socialimg" src="/images/socialmedai/google.png"></a></li>
                                <li> <a href="<?php echo $socialLink[4]->url?>" target="_blank"><img class="socialimg" src="/images/socialmedai/cam.png"></a></li>
                                <li> <a href="<?php echo $socialLink[5]->url?>" target="_blank"><img class="socialimg" src="/images/socialmedai/p.png"></a></li>
                                <li> <a href="<?php echo $socialLink[6]->url?>" target="_blank"><img class="socialimg" src="/images/socialmedai/in.png"></a></li>
                                <li> <a href="<?php echo $socialLink[7]->url?>" target="_blank"><img class="socialimg" src="/images/socialmedai/t.png"></a></li>
                                <li> <a href="<?php echo $socialLink[8]->url?>" target="_blank"><img class="socialimg" src="/images/socialmedai/dot.png"></a></li>
                            </ul>
                        </div>
                    </div>


        <div class="footercont1">
           <ul>
            <li> <a style="color: #fff;text-decoration:none;" href="#"> Copyright &copy; 2015 www.ilchi.com </a> </li>

            <li > <a style="color: #fff;" href="<?php echo $this->config->application->baseURL ?>/contact/termsandconditions">Terms & Conditions </a></li>
            <li class="l1">|</li>
            <li> <a style="color: #fff;" href="<?php echo $this->config->application->baseURL ?>/choosecountry">Choose a Country </a></li>
            <li class="l2">|</li>

            <li> <a style="color: #fff;font-size:15px;" href="/newsletter" >E-Newsletter </a></li>

            <li class="l3">|</li>
            <li> <a style="color: #fff;" href="<?php echo $this->config->application->baseURL ?>/contact/contactus" class="link">Contact Us</a></li>

        </div>
    </div> 
    </div> 
    </div> 
    </div>  

    <!-- Footer ends -->
    <script>
        var API_URL = '<?php echo $this->config->application->apiURL; ?>';
    </script>

    <!-- Scroll to top -->
    <span class="totop"><a href="#"><i class="icon-chevron-up"></i></a></span> 

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->


<script src="/js/fr/jquery.min.js"></script>

<script type="text/javascript" src="/mosaic/js/mosaic.1.0.1.js"></script>

  <script type="text/javascript">  

    jQuery(function($){

      $('.bar2').mosaic({
        animation : 'slide' 
      });

    });

  </script>
<!-- JS -->

<script src="/js/fr/bootstrap.js"></script> <!-- Bootstrap -->
<script src="/js/fr/jquery.slimscroll.min.js"></script>
<script type="text/javascript">
  $('#slimtest3').slimScroll({
    color: '#00f',
    size: '10px',
    height: '180px',
    alwaysVisible: true
});
</script>
<!-- <script src="/js/fr/jquery.isotope.js"></script> Isotope -->
<!--<script src="/js/fr/jquery.prettyPhoto.js"></script>  Pretty Photo -->
<!--<script src="/js/fr/filter.js"></script>  Filter for support page -->

    <!--<script src="/js/fr/jquery.flexslider-min.js"></script>  Flex slider -->
    <!--<script src="/js/fr/jquery.cslider.js"></script>  Parallax Slider -->
    <script src="/js/fr/modernizr.custom.28468.js"></script> <!-- Parallax slider extra -->

    <!-- <script src="/js/fr/jquery.carouFredSel-6.1.0-packed.js"></script> Carousel for recent posts -->
    <script src="/js/fr/jquery.refineslide.min.js"></script> <!-- Refind slider -->
     <!--<script src="/js/fr/custom.js"></script> Custom codes -->

    <script src="/js/fr/easyResponsiveTabs.js"></script> <!-- jQuery -->

<!-- <script src="/js/fr/tabs.js"></script> --><!-- jQuery -->

    <script type="text/javascript" src="/js/angular/angular.min.js"></script> 
    <script type="text/javascript" src="/js/angular/angular-route.js"></script> 
    <script type="text/javascript" src="/js/angular/angular-ui-router.min.js"></script> 
    <script type="text/javascript" src="/js/angular/ui-validate.js"></script>
    <script type="text/javascript" src="/js/angular/angular-sanitize.js"></script>

    <script src="/js/ckeditor/ckeditor.js"></script>
    <script src="/js/ckeditor/styles.js"></script>
    <script type="text/javascript" src="/js/fr/app.js"></script>

    <!-- Angular -->
    <script src="/js/angular/angular-cookies.min.js"></script>
    <script src="/js/angular/angular-animate.min.js"></script>
    <script src="/js/angular/angular-translate.js"></script>
    <script src="/js/angular/ngStorage.min.js"></script>
    <script src="/js/angular/ui-load.js"></script>
    <script src="/js/angular/ui-jq.js"></script>

    <!-- Calendar Demo -->
    
    <!-- <script src="/fcalendar/angular.js"></script> -->
    <script src="/fcalendar/ui-bootstrap-tpls-0.9.0.js"></script>
    <script src="/fcalendar/moment.js"></script>
    <script src="/fcalendar/fullcalendar.js"></script>
    <script src="/fcalendar/gcal.js"></script>
    <script src="/fcalendar/calendar.js"></script>

    <script src="/jquery.qtip.custom/jquery.qtip.min.js"></script>
    <!-- <script src="/fcalendar/calendarDemo.js"></script> -->

    <script src="/js/fr/easyResponsiveTabs.js"></script> <!-- jQuery -->
    <script type="text/javascript">
        $(document).ready(function () {
            ddtabmenu.definemenu("ddtabs1", <?php defaultselected($pageid) ?>) //initialize Tab Menu #1 with 1st tab selected
            $('#ddtabs1 ul li').eq(<?php defaultselected($pageid) ?>).addClass('current')
            $(".menusub").on("mouseleave", function () {
                $("li.current a").trigger('mouseover');
    //          $( ".navbar1 li a").removeClass('current');
    //          $( "li.current a" ).addClass('current');
            });
            //Horizontal Tab
            $('#parentHorizontalTab').easyResponsiveTabs({
                type: 'default', //Types: default, vertical, accordion
                width: 'auto', //auto or any width like 600px
                fit: true, // 100% fit in a container
                tabidentify: 'hor_1', // The tab groups identifier
                activate: function (event) { // Callback function if tab is switched
                    var $tab = $(this);
                    var $info = $('#nested-tabInfo');
                    var $name = $('span', $info);
                    $name.text($tab.text());
                    $info.show();
                }
            });

            // Child Tab
            $('#ChildVerticalTab_1').easyResponsiveTabs({
                type: 'vertical',
                width: 'auto',
                fit: true,
                tabidentify: 'ver_1', // The tab groups identifier
                activetab_bg: '#fff', // background color for active tabs in this group
                inactive_bg: '#F5F5F5', // background color for inactive tabs in this group
                active_border_color: '#c1c1c1', // border color for active tabs heads in this group
                active_content_border_color: '#5AB1D0' // border color for active tabs contect in this group so that it matches the tab head border
            });

            //Vertical Tab
            $('#parentVerticalTab').easyResponsiveTabs({
                type: 'vertical', //Types: default, vertical, accordion
                width: 'auto', //auto or any width like 600px
                fit: true, // 100% fit in a container
                closed: 'accordion', // Start closed if in accordion view
                tabidentify: 'hor_1', // The tab groups identifier
                activate: function (event) { // Callback function if tab is switched
                    var $tab = $(this);
                    var $info = $('#nested-tabInfo2');
                    var $name = $('span', $info);
                    $name.text($tab.text());
                    $info.show();
                }
            });
        });
    </script>
    <!-- Responsive Map Area -->
   <script type="text/javascript">
  $('.litetooltip-hotspot-wrapper .hotspot').each(function () { 
    $(this).LiteTooltip({ title: $(this).find('.data-container').html() });
 });

</script>
<script src="/js/lightbox/js/lightbox.min.js"></script>



  <script type="text/javascript">
    $('.anav').click(function(){
      $('html, body').animate({
        scrollTop: $( $(this).attr('href') ).offset().top
      }, 500);
      return false;
    });
  </script>




<script>
  document.write('<base href="' + document.location + '" />');
</script>

<!-- Google Analytics-->
    <?php
        echo $script_google;

        

    ?>
<!--End  Google Analytics-->


</body>
</html>
