
<!DOCTYPE html>
<html lang="en" data-ng-app="app">

<head >
    <title>Ilchi</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="user-scalable = yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>

    <!-- Stylesheets -->
    <link href="/css/fr/bootstrap.css" rel="stylesheet">
    <!-- Pretty Photo -->
    <link href="/css/fr/prettyPhoto.css" rel="stylesheet">
    <!-- Flex slider -->
    <link href="/css/fr/flexslider.css" rel="stylesheet">
    <!-- Font awesome icon -->
    <link rel="stylesheet" href="/css/fr/font-awesome.css">
    <!-- Parallax slider -->
    <!-- <link rel="stylesheet" href="/css/fr/slider.css"> -->
    <!-- Refind slider -->
    <link rel="stylesheet" href="/css/fr/refineslide.css">  
    <!-- Stylesheet for Color -->

    <link rel="stylesheet" href="/fcalendar/fullcalendar.css">

    <link href="/css/fr/easy-responsive-tabs.css" rel="stylesheet">
    <link href="/css/fr/inline.css" rel="stylesheet">


    <!-- <script type="text/javascript" src="/css/fr/tabv.css"></script> -->
    <link rel="stylesheet" href="/css/fr/tabv.css">


    <script type="text/javascript" src="/css/fr/ddtabmenufiles/ddtabmenu.js">


            /***********************************************
             * DD Tab Menu script- Â© Dynamic Drive DHTML code library (www.dynamicdrive.com)
             * This notice MUST stay intact for legal use
             * Visit Dynamic Drive at http://www.dynamicdrive.com/ for full source code
             ***********************************************/

         </script>

         <!-- CSS for Tab Menu #1 -->
         <link rel="stylesheet" type="text/css" href="/css/fr/ddtabmenufiles/ddtabmenu.css" />

         <!-- CSS for Tab Menu #2 -->
         <link rel="stylesheet" type="text/css" href="/css/fr/ddtabmenufiles/glowtabs.css" />

         <!-- CSS for Tab Menu #3 -->
         <link rel="stylesheet" type="text/css" href="/css/fr/ddtabmenufiles/solidblocksmenu.css" />

         <!-- CSS for Tab Menu #4 -->
         <link rel="stylesheet" type="text/css" href="/css/fr/ddtabmenufiles/ddcolortabs.css" />

         <!-- CSS for Tab Menu #5 -->
         <link rel="stylesheet" type="text/css" href="/css/fr/ddtabmenufiles/chromemenu.css" />

         <style type="text/css">
            .navbar1 *,.nav-collapse *{
                box-shadow: none !important;
                text-shadow: none !important;
                border-radius: 0px !important;
            }

            .navbar1{
                padding-left: 0px;
                background: transparent;
                filter: none !important;
                border: 0px !important;
            }

            .navbar1 .btn{
                font-size:12px;
                padding:6px 10px;
                color: #fff !important;
            }

            .navbar1{
                border-top: 0px !important;
                border-bottom: 0px !important;
                margin-top: -5px;
                margin-bottom: 0px;
                text-align: center;
            }

            .navbar1 ul li{
                z-index: 9999;
                list-style-type: none;
                padding-bottom: 0px;
                width: 110px;
                height: 60px;
                color: #8c5901 !important;
            }
            /*.navbar1 ul li:hover{*/
                /*z-index: 9999;*/
                /*display: block;*/
                /*list-style-type: none;*/

                /*}*/

                .navbar1 a.current{
                    background: url("/img/menuhover.png");
                    background-size: 110px;
                    background-repeat: no-repeat;
                    background-position: 3px 3px;
                    background-color: none;
                    color: #fff !important;
                    height: 63px;
                    margin-bottom: -50px;
                }

                .navbar1 button{
                    border: 0px;
                    background:#eee !important;
                    z-index: 9999;
                }

                .navbar1 button:hover{
                    background:none;
                    z-index: 9999;
                    color: #fff !important;
                }

                .nav > li > a:hover, .nav > li > a:focus {
                    text-decoration: none !important;
                    background-color: transparent !important;
                }
                .navbar1 button .icon-bar{
                    background: #ddd !important;
                }

                .navbar1 .caret{
                    border-top-color:#888 !important;
                    border-bottom-color:#888 !important;
                }

                .navbar1 a, .navbar a:visited{
                    z-index: 9999;
                }



                .dropdown-menu{
                    border-radius:0px !important;
                    box-shadow:none !important;
                    border:none !important;
                    padding:0px 0px;
                    margin:0px;
                    z-index: 300000;
                    background: #333;
                    border: 0px !important;
                    z-index: 9999;
                }

                .dropdown-menu a, .dropdown-menu a:visited{
                    z-index: 9999;
                    padding:7px 10px !important;
                    text-shadow:none !important;
                }

                .dropdown-menu a:hover,.dropdown-menu a:focus{

                    filter:none !important;
                }

                .dropdown-menu:after, .dropdown-menu:before{
                    border:none !important;
                }

                .navbar1 .nav li.dropdown.open > .dropdown-toggle,
                .navbar1 .nav li.dropdown.active > .dropdown-toggle,
                .navbar1 .nav li.dropdown.open.active > .dropdown-toggle {
                    background-color: transparent;
                }
            </style>
            <!-- Favicon -->
            <link rel="shortcut icon" href="/img/favicon/favicon.png">

            <!-- Main stylesheet -->
            <link href="/css/fr/style.css" rel="stylesheet">
        </head>


        <body ng-controller="indexMainCtrl">
            <!-- Header starts -->
            <header>
                <div class="content">
                    <div class="container">
                        <div class="socials">
                            <div class="headicon">
                                <a href="#"><img src="/images/f.png"></a>
                                <a href="#"><img src="/images/t.png"></a>
                                <a href="#"><img src="/images/g.png"></a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2 logo">  

                                <a href="">
                                    <img src="/images/headerlogo.png">
                                </a>

                                <div style="clear:both;"></div>
                            </div>



                            <!-- Navigation -->
                            <div class="col-md-9 navbar1 bs-docs-nav" role="banner" style="margin-top:-65px;">

                                <nav id="ddtabs1"  class="collapse navbar-collapse bs-navbar-collapse menutop" role="navigation" >
                                    <ul class="nav navbar-nav" style="margin-top:20px;color:#000 !important;font-weight: normal;">
                                        <li><a href="#" rel="sc1">MEET ILCHI</a></li>                
                                        <li><a href="#" rel="sc2">PRINCIPLES</a></li>    
                                        <li><a href="#" rel="sc3">PROJECTS</a></li>
                                        <li><a href="#" rel="sc4">PUBLICATION</a></li>        
                                        <li><a href="#" rel="sc5">POST</a></li>
                                        <li><a href="#" rel="sc6">CONTACT</a></li>
                                    </ul>
                                </nav>
                            </div>                        

                        </div>
                    </div>



                    <!-- Seperator -->

                    <!-- Header ends -->

                    <div class="page-head menusub">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">

                                    <div class="tabcontainer">
                                        <div id="sc1" class="tabcontent">
                                            <ul>                
                                                <li>
                                                    <a href="/page/index/Who-is-Ilchi-Lee">
                                                        ABOUT ILCHI LEE
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/gallery/index">
                                                        GALLERY
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/page/index/Ilchi-Lee-Timeline">
                                                        ILCHI LEE'S TIMELINE
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/calendar">
                                                        SCHEDULE
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/video">
                                                        VIDEOS
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>

                                        <div id="sc2" class="tabcontent">
                                            <ul>
                                                <li>
                                                    <a href="/page/index/Self-Development-Guidelines">
                                                        SELF-DEVELOPMENT GUIDELINES
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/page/index/Awakened-Brain">
                                                        AWAKENED BRAIN                     
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/page/index/Energy-Principle">
                                                        ENERGY PRINCIPLE
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/page/index/Earth-Citizenship">
                                                        EARTH CITIZENSHIP
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/page/index/Korean-Heritage">
                                                        KOREAN HERITAGE
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>

                                        <div id="sc3" class="tabcontent">
                                            <ul>
                                                <li> 
                                                    <a href="/page/index/Projects">
                                                        MULTIMEDIA
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/page/index/Projects">
                                                        HUMANITARIAN MOVEMENT
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/page/index/Projects">
                                                        EDUCATION
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>

                                        <div id="sc4" class="tabcontent">
                                            <ul>
                                                <li>
                                                    <a href="<?php echo $this->config->application->baseURL ?>/publication/index/1">
                                                        BOOKS
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="<?php echo $this->config->application->baseURL ?>/publication/index/2">
                                                        CDs
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="<?php echo $this->config->application->baseURL ?>/publication/index/3">
                                                        RELATED PRODUCTS
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>

                                        <div id="sc5" class="tabcontent">
                                            <ul>
                                                <li> 
                                                    <a href="/post/index">
                                                        LATEST POST 
                                                    </a>
                                                </li>
                                                <li> 
                                                    <a href="/post/category/Journal">
                                                        JOURNAL
                                                    </a>
                                                </li>
                                                <li> 
                                                    <a href="/post/category/News">
                                                        NEWS
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/post/category/Video Clips">
                                                        VIDEOS
                                                    </a>
                                                </li>
                                                <li> 
                                                    <a href="/post/category/RSS">
                                                        RSS
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>

                                        <div id="sc6" class="tabcontent">
                                            <ul>
                                                <li> 
                                                    <a href="/contact/contactus">
                                                        CONTACT US
                                                    </a>
                                                </li>
                                                <li> 
                                                    <a href="#">
                                                        CHOOSE A COUNTRY
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/contact/termsandconditions">
                                                        TERMS & CONDITION
                                                    </a>
                                                </li>
                                                <li> 
                                                    <a href="#">
                                                        RSS 
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>  

                                </div>
                            </div>
                        </div>
                    </div>    
                </div>
                <!-- toogle menu -->
                <div class="container-fluid">
                    <div class="mob-logo"  style="width:115px;margin:auto;padding-top:5px;"><a href=""><img src="/images/headerlogo.png" style="width:115px;"></a></div>
                    <div class="mobileMenu mobileMenu2">
                        <nav role="navigation" class="navbar navbar-default">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a href="" class="navbar-brand">Ilchi Lee</a>
                            </div>

                            <!-- Collection of nav links and other content for toggling -->
                            <div id="navbarCollapse" class="collapse navbar-collapse">
                                <ul class="nav navbar-nav navbar-nav2">
                                    <li>
                                        <a class="btn dropdown-toggle menumenu" data-toggle="dropdown" href="">MEET ILCHI&nbsp;&nbsp;<span class="caret"></span></a>
                                        <ul class="dropdown-menu dropdown-menu2">
                                            <li><a href="/page/index/Who-is-Ilchi-Lee"><span class="subcolor">About Ilchi Lee</span></a></li>
                                            <li><a href="/gallery/index"><span class="subcolor">Gallery</span></a></li>
                                            <li><a href="#"><span class="subcolor">Ilchi Lee's Timeline</span></a></li>
                                            <li><a href="/calendar"><span class="subcolor">Schedule</span></a></li>
                                        </ul>
                                    </li>

                                    <li>
                                        <a class="btn dropdown-toggle menumenu" data-toggle="dropdown" href="">PRINCIPLES&nbsp;&nbsp;<span class="caret"></span></a>
                                        <ul class="dropdown-menu dropdown-menu2">
                                            <li><a href="/page/index/Self-Development-Guidelines"><span class="subcolor">Self-Development Guidelines</span></a></li>
                                            <li><a href="/page/index/Awakened-Brain"><span class="subcolor">Awakened Brain</span></a></li>
                                            <li><a href="/page/index/Energy-Principle"><span class="subcolor">Energy Principle</span></a></li>
                                            <li><a href="/page/index/Earth-Citizenship"><span class="subcolor">Earth Citizenship</span></a></li>
                                            <li><a href="/page/index/Korean-Heritage"><span class="subcolor">Korean Heritage</span></a></li>
                                        </ul>
                                    </li>

                                    <li>
                                        <a class="btn dropdown-toggle menumenu" data-toggle="dropdown" href="">PROJECT&nbsp;&nbsp;<span class="caret"></span></a>
                                        <ul class="dropdown-menu dropdown-menu2">
                                            <li><a href="/page/index/Projects"><span class="subcolor">Media</span></a></li>                                
                                            <li><a href="/page/index/Projects"><span class="subcolor">Movement</span></a></li>
                                            <li><a href="/page/index/Projects"><span class="subcolor">Education</span></a></li>
                                        </ul>
                                    </li>

                                    <li>
                                        <a class="btn dropdown-toggle menumenu" data-toggle="dropdown" href="/publication">PUBLICATION&nbsp;&nbsp;<span class="caret"></span></a>
                                        <ul class="dropdown-menu dropdown-menu2">
                                            <li><a href="<?php echo $this->config->application->baseURL ?>/publication/index/1"><span class="subcolor">Books</span></a></li>
                                            <li><a href="<?php echo $this->config->application->baseURL ?>/publication/index/2"><span class="subcolor">CDs</span></a></li>
                                            <li><a href="<?php echo $this->config->application->baseURL ?>/publication/index/3"><span class="subcolor">Related Products</span></a></li>
                                        </ul>
                                    </li>

                                    <li> 
                                        <a class="btn dropdown-toggle menumenu" data-toggle="dropdown" href="">POST&nbsp;&nbsp;<span class="caret"></span></a>
                                        <ul class="dropdown-menu dropdown-menu2">
                                            <li><a href="/post/index"><span class="subcolor">Latest Post</span></a></li>
                                            <li><a href="/post/category/Journal"><span class="subcolor">Journal</span></a></li>
                                            <li><a href="/post/category/News"><span class="subcolor">News</span></a></li>
                                            <li><a href="/post/category/Video Clips"><span class="subcolor">Video</span></a></li>
                                            <li><a href="/post/category/RSS"><span class="subcolor">RSS</span></a></li>
                                        </ul>
                                    </li>

                                    <li><a class="btn dropdown-toggle menumenu" data-toggle="dropdown" href="#">CONTACT&nbsp;&nbsp;<span class="caret"></span></a>
                                        <ul class="dropdown-menu dropdown-menu2">
                                            <li><a href="/contact/contactus"><span class="subcolor">Contact Us</span></a></li>
                                            <li><a href="#"><span class="subcolor">Choose a Country</span></a></li>
                                            <li><a href="/contact/termsandconditions"><span class="subcolor">Terms & Conditions</span></a></li>
                                            <li><a href="#"><span class="subcolor">RSS</span></a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </header>

            <!-- PAGE CONTENT -->

            <div style="min-height:500px;">
                <div class="content">
                    <div class="container">

                        <div class="col-md-12">

                      <p style="text-align: justify;"><span style="font-size:14px">Ilchi Lee has focused his career on finding and disseminating innovative ways to awaken the best in the human spirit. He espouses the philosophy that we are all Earth Humans, united by our common dependence upon and identification with the Earth, rather than by arbitrary political boundaries and ethnic groupings. He affirms that humanity can transcend its destructive tendencies through this basic shift in identity and consciousness to realize our historic dream of harmony and peace. In his zeal to spread this philosophy worldwide, Ilchi Lee has established himself as a leader in the area of international cooperation for education and peace initiatives.</span></p>

<p><br />
&nbsp;</p>

<div class="timebox" style="margin: auto; padding: 0px; color: rgb(54, 54, 54); font-family: Arial; font-size: 14.5px; line-height: 18px; background-color: rgb(254, 249, 249);">
<div class="dipity_embed" style="margin: 0px; padding: 0px;"><iframe align="middle" frameborder="0" height="400" scrolling="no" src="http://www.dipity.com/ilchi/personal/embed_tl?" style="max-width: 100%;
width: 100%;
min-width: 400px;" ></iframe></div>
</div>


                        </div>
                    </div>
                </div>
            </div>


<!-- END PAGE CONTENT -->

<!-- Footer starts -->
<div class="footer">
    <div class="container">
        <div class="row">

            <div class="col-md-12">

                <div class="socialmedia">
                    <!-- Copyright info -->
                    <div class="footercont">
                        <ul class="linkfooter">
                            <li> <a href="#"><img src="/images/socialmedai/google.png"></a></li>
                            <li> <a href="#"><img src="/images/socialmedai/cam.png"></a></li>
                            <li> <a href="#"><img src="/images/socialmedai/p.png"></a></li>
                            <li> <a href="#"><img src="/images/socialmedai/in.png"></a></li>
                            <li> <a href="#"><img src="/images/socialmedai/t.png"></a></li>
                            <li> <a href="#"><img src="/images/socialmedai/dot.png"></a></li>
                        </ul>
                    </div>
                </div>


                <div class="footercont1">
                 <ul>
                    <li> <a style="color: #fff;font-size:15px;text-decoration:none;" href="#"> Copyright &copy; 2015 wwww.ilchi.com </a> </li>

                    <li > <a style="color: #fff;font-size:15px;" href="<?php echo $this->config->application->baseURL ?>/contact/termsandconditions">Terms & Conditions </a></li>
                    <li class="l1">|</li>
                    <li> <a style="color: #fff;font-size:15px;" href="#">Choose a Country </a></li>
                    <li class="l2">|</li>
                    <li> <a style="color: #fff;font-size:15px;" href="#" >E-Newsletter </a></li>
                    <li class="l3">|</li>
                    <li> <a style="color: #fff;font-size:15px;" href="<?php echo $this->config->application->baseURL ?>/contact/contactus" class="link">Contact Us</a></li>

                </div>
            </div> 
        </div> 
    </div> 
</div>  

<!-- Footer ends -->
<script>
    var API_URL = '<?php echo $this->config->application->apiURL; ?>';
</script>

<!-- Scroll to top -->
<span class="totop"><a href="#"><i class="icon-chevron-up"></i></a></span> 

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->


<script src="/js/fr/jquery.min.js"></script>

<!-- JS -->
<script src="/js/fr/jquery.js"></script> <!-- jQuery -->
<script src="/js/fr/bootstrap.js"></script> <!-- Bootstrap -->
<script src="/js/fr/jquery.slimscroll.min.js"></script>
<script type="text/javascript">
  $('#slimtest3').slimScroll({
    color: '#00f',
    size: '10px',
    height: '180px',
    alwaysVisible: true
});
</script>
<script src="/js/fr/jquery.isotope.js"></script> <!-- Isotope -->
<script src="/js/fr/jquery.prettyPhoto.js"></script> <!-- Pretty Photo -->
<script src="/js/fr/filter.js"></script> <!-- Filter for support page -->

<script src="/js/fr/jquery.flexslider-min.js"></script> <!-- Flex slider -->
<script src="/js/fr/jquery.cslider.js"></script> <!-- Parallax Slider -->
<script src="/js/fr/modernizr.custom.28468.js"></script> <!-- Parallax slider extra -->

<script src="/js/fr/jquery.carouFredSel-6.1.0-packed.js"></script> <!-- Carousel for recent posts -->
<script src="/js/fr/jquery.refineslide.min.js"></script> <!-- Refind slider -->
<script src="/js/fr/custom.js"></script> <!-- Custom codes -->

<script src="/js/fr/easyResponsiveTabs.js"></script> <!-- jQuery -->

<!-- <script src="/js/fr/tabs.js"></script> --><!-- jQuery -->

<script type="text/javascript" src="/js/angular/angular.min.js"></script> 
<script type="text/javascript" src="/js/angular/angular-route.js"></script> 
<script type="text/javascript" src="/js/angular/angular-ui-router.min.js"></script> 
<script type="text/javascript" src="/js/angular/ui-validate.js"></script>
<script type="text/javascript" src="/js/angular/angular-sanitize.js"></script>

<script src="/js/ckeditor/ckeditor.js"></script>
<script src="/js/ckeditor/styles.js"></script>
<script type="text/javascript" src="/js/fr/app.js"></script>

<!-- Angular -->
<script src="/js/angular/angular-cookies.min.js"></script>
<script src="/js/angular/angular-animate.min.js"></script>
<script src="/js/angular/angular-translate.js"></script>
<script src="/js/angular/ngStorage.min.js"></script>
<script src="/js/angular/ui-load.js"></script>
<script src="/js/angular/ui-jq.js"></script>

<!-- Calendar Demo -->
<script src="/fcalendar/jquery.js"></script>
<!-- <script src="/fcalendar/angular.js"></script> -->
<script src="/fcalendar/ui-bootstrap-tpls-0.9.0.js"></script>
<script src="/fcalendar/moment.js"></script>
<script src="/fcalendar/fullcalendar.js"></script>
<script src="/fcalendar/gcal.js"></script>
<script src="/fcalendar/calendar.js"></script>
<!-- <script src="/fcalendar/calendarDemo.js"></script> -->

<script src="/js/fr/easyResponsiveTabs.js"></script> <!-- jQuery -->
<script type="text/javascript">
    $(document).ready(function () {
            ddtabmenu.definemenu("ddtabs1", <?php defaultselected($pageid) ?>) //initialize Tab Menu #1 with 1st tab selected
            $('#ddtabs1 ul li').eq(<?php defaultselected($pageid) ?>).addClass('current')
            $(".menusub").on("mouseleave", function () {
                $("li.current a").trigger('mouseover');
    //          $( ".navbar1 li a").removeClass('current');
    //          $( "li.current a" ).addClass('current');
});
            //Horizontal Tab
            $('#parentHorizontalTab').easyResponsiveTabs({
                type: 'default', //Types: default, vertical, accordion
                width: 'auto', //auto or any width like 600px
                fit: true, // 100% fit in a container
                tabidentify: 'hor_1', // The tab groups identifier
                activate: function (event) { // Callback function if tab is switched
                    var $tab = $(this);
                    var $info = $('#nested-tabInfo');
                    var $name = $('span', $info);
                    $name.text($tab.text());
                    $info.show();
                }
            });

            // Child Tab
            $('#ChildVerticalTab_1').easyResponsiveTabs({
                type: 'vertical',
                width: 'auto',
                fit: true,
                tabidentify: 'ver_1', // The tab groups identifier
                activetab_bg: '#fff', // background color for active tabs in this group
                inactive_bg: '#F5F5F5', // background color for inactive tabs in this group
                active_border_color: '#c1c1c1', // border color for active tabs heads in this group
                active_content_border_color: '#5AB1D0' // border color for active tabs contect in this group so that it matches the tab head border
            });

            //Vertical Tab
            $('#parentVerticalTab').easyResponsiveTabs({
                type: 'vertical', //Types: default, vertical, accordion
                width: 'auto', //auto or any width like 600px
                fit: true, // 100% fit in a container
                closed: 'accordion', // Start closed if in accordion view
                tabidentify: 'hor_1', // The tab groups identifier
                activate: function (event) { // Callback function if tab is switched
                    var $tab = $(this);
                    var $info = $('#nested-tabInfo2');
                    var $name = $('span', $info);
                    $name.text($tab.text());
                    $info.show();
                }
            });
        });
</script>


<script src="/js/fr/fluidvids.js"></script> <!-- Flex slider -->
<script>
    fluidvids.init({
      selector: ['iframe'],
      players: ['www.youtube.com', 'player.vimeo.com']
  });
</script>
</body>
</html>
